<div style="float: left; width: 100%;">
  <div class="item-type">阅读理解</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;read&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;read&quot;);"
      type="button">
  </div>
  <div id="tpl-read" class="templates">
    <div style="display: inline;" id="read_1" class="workitem">
      <div style="display: inline;" class="do-homework">
        <p>
          <span>标题：</span>
          <input id="title-desc" size="28" type="text">
          <span class="item-index"> No. </span>
          <input id="item-index" size="2" type="text">
        </p>
        <p>阅读材料地址（URL):</p>
        <p>
          <input id="url-desc" size="55" type="text">
        </p>
        <p>阅读材料标题:</p>
        <p>
          <input id="url-text-desc" size="40" type="text">
        </p>
        <p id="">阅读要求：</p>
        <p>
          <textarea id="instruction-desc" cols="40" rows="3"></textarea>
        </p>
        <p>
          <input id="update" value="Update Item" type="button">
          <input id="remove" value="Remove Item" type="button">
        </p>
      </div>
      <div style="display: inline;" class="work-block" id="read">
        <h3 id="title" class="title">阅读与理解</h3>
        <p id="instruction"></p>
        <p>
          <a id="url" target="_blank"><span id="url-text"></span></a>
        </p>
      </div>
    </div>
  </div>
</div>


<div style="float: left; width: 100%;">
  <div class="item-type">朗读录音</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;record&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;record&quot;);"
      type="button">
  </div>
  <div id="tpl-record" class="templates"></div>
</div>

<div style="float: left; width: 100%;">
  <div class="item-type">组词造句</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;phrase-sentence&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;phrase-sentence&quot;);"
      type="button">
  </div>
  <div id="tpl-phrase-sentence" class="templates"></div>
</div>

<div style="float: left; width: 100%;">
  <div class="item-type">多种选择</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;multi-choice&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;multi-choice&quot;);"
      type="button">
  </div>
  <div id="tpl-multi-choice" class="templates"></div>
</div>

<div style="float: left; width: 100%;">
  <div class="item-type">判断对错</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;true-false&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;true-false&quot;);"
      type="button">
  </div>
  <div id="tpl-true-false" class="templates"></div>
</div>

<div style="float: left; width: 100%;">
  <div class="item-type">填空</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;fb-typing&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;fb-typing&quot;);"
      type="button">
  </div>
  <div id="tpl-fb-typing" class="templates"></div>
</div>

<div style="float: left; width: 100%;">
  <div class="item-type">选择填空</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;fb-select&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;fb-select&quot;);"
      type="button">
  </div>
  <div id="tpl-fb-select" class="templates"></div>
</div>

<div style="float: left; width: 100%;">
  <div class="item-type">回答问题</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;answer-question&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;answer-question&quot;);"
      type="button">
  </div>
  <div id="tpl-answer-question" class="templates"></div>
</div>

<div style="float: left; width: 100%;">
  <div class="item-type">连接句子</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;connect-sentence&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;connect-sentence&quot;);"
      type="button">
  </div>
  <div id="tpl-connect-sentence" class="templates"></div>
</div>

<div style="float: left; width: 100%;">
  <div class="item-type">写作文</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;write&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;write&quot;);"
      type="button">
  </div>
  <div id="tpl-write" class="templates"></div>
</div>

<div style="float: left; width: 100%;">
  <div class="item-type">听力练习</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;audio&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;audio&quot;);"
      type="button">
  </div>
  <div id="tpl-audio" class="templates"></div>
</div>

<div style="float: left; width: 100%;">
  <div class="item-type">看视频</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;video&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;video&quot;);"
      type="button">
  </div>
  <div id="tpl-video" class="templates"></div>
</div>

<div style="float: left; width: 100%;">
  <div class="item-type">其它作业</div>
  <div class="item-buttons">
    <input value="show/hide" onclick="setDisplay(&quot;note&quot;);"
      type="button">
    &nbsp;
    <input value="add new" onclick="addItemPanel(&quot;note&quot;);"
      type="button">
  </div>
  <div id="tpl-note" class="templates"></div>
</div>
