/*
 * The layout styles for all the material pages 
 */
div.container {
	width: 100%;
	height: 100%
}

header {
	padding: 1em;
	clear: left;
	text-align: left;
	background-color: #ecf2f9;
}

footer {
	padding: 0.5em;
	clear: left;
	text-align: center;
	background-color: green;
	color: white;
}

nav {
	float: left;
	max-width: 220px;
	margin: 0;
	padding: 1em;
}

nav ol {
	padding-top: 0px;
	padding-left: 10px;
}

article {
	margin-left: 150px;
	padding: 1em;
	overflow: hidden;
	min-height: 580px;
	border-left: 1px solid gray;
}

/*
 * Styles for the book TOC pages 
 */
.book-toc {
	border: 0pt none;
	width: 75%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	font-family: SimSun;
	text-indent: 32px;
	font-size: 16px;
}

.book-table {
	width: 75%;
	margin: 20px auto 0px auto;
	display: table;
	font-family: SimSun;
}

.book-title {
	font-size: 16px;
	font-weight: bold;
	font-family: kaiTi;
	text-aligh: center;
	color: green;
}

.header-text {
	font-size: 16px;
	font-family: kaiTi;
	color: DarkGreen;
	text-indent: 32px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 60px;
}

.title-list {
	margin-left: 8px;
	margin-bottom: 20px;
}

.section-list {
	margin-bottom: 20px;
	font-size: 12px;
	font-family: Times;
}

.charpter-index {
	font-size: 14px;
	font-family: SimSun;
	margin-top: 6px;
}

.page-title {
	font-size: 28px;
	font-family: kaiTi;
	color: DarkGreen;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px
}

/*
 * Styles for the article titles and their sub-items
 */
div.article-title {
	width: 98%;
	float: Left;
	color: Brown;
	margin-right: 2%;
	margin-left: 2%;
	border: 0;
}

div.title-body {
	width: 80%;
	float: Left;
	border: 0;
	font-weight: bold;
	vertical-align: top;
}

div.hidden-panel {
	display: none;
}

h1.title-text {
	font-size: 28px;
	font-family: KaiTi;
	text-indent: 0px;
	text-align: Center;
}

h1.title-author {
	font-family: SimSun;
	font-size: 16px;
	text-align: Center;
}

h1.title-date {
	font-family: Times;
	font-size: 16px;
	text-align: Center;
	color: Brown;
}

div.article-text {
	width: 98%;
	float: Left;
	margin-right: 2%;
	margin-left: 2%;
	font-size: 18px;
	text-indent: 36px;
	font-family: KaiTi;
	color: black;
	border: 0;
}

div.lesson-work {
	width: 98%;
	float: Left;
	margin-right: 2%;
	margin-left: 2%;
	font-size: 18px;
	text-indent: 0px;
	font-family: SimSun;
	border: 0;
}

div.common-recording {
	margin-top: 100px;
	margin-bottom: 0px;
	text-align: center;
}

h1.work-title {
	font-family: SimSun;
	font-size: 22px;
}

h1.conversation-title1 {
	font-family: SimSun;
	font-size: 20px;
	text-align: Left;
	margin-left: 60px;
}

h1.conversation-title2 {
	font-family: SimSun;
	font-size: 20px;
	text-indent: 0px;
	text-align: center;
}

h3.section-title1 {
	font-size: 16px;
	font-family: SimSun;
	text-align: Left;
	margin-left: 120px;
}

h3.section-title2 {
	font-family: SimSun;
	font-size: 16px;
	text-indent: 0px;
	text-align: center;
}

h3.section-title-center {
	font-family: SimSun;
	font-size: 14px;
	text-indent: 0px;
	text-align: Center;
}

audio.clip {
	width: 50%;
	opacity: 0.5;
	border: 0px;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 40px;
}

audio.side-clip {
	width: 180px;
	border: 0px;
	margin: 0 0 0 0;
}

p.author {
	font-size: 16px;
	font-family: SimSun;
	color: DarkGray;
}

li.work {
	margin-bottom: 15px;
	line-height: 2.5;
}

li.item {
	line-height: 1.2;
	list-style-type: lower-alpha;
}

blockquote.notes {
	font-size: 18px;
	font-family: SimSun;
	text-indent: 0px;
	color: Blue;
}

tr:hover {
	background-color: #f5f5f5
}

td {
	vertical-align: top;
}

.text-frame {
	width: 100%;
	height: 560px;
	border: 0px;
}

.next-text {
	font-size: 14px;
	font-family: Times;
	color: Blue;
	text-align: left;
	margin-left: 0px;
	text-decoration: underline;
}

.conversation-text {
	width: 100%;
	float: Left;
	margin-left: 4px;
	font-size: 20px;
	text-indent: 0px;
	font-family: KaiTi;
	color: black;
	display: inline;
	border: 0;
}

.edit-text {
	font-size: 20px;
	text-indent: 40px;
	font-family: KaiTi;
	color: blue;
	text-decoration: underline;
}

.indented-text {
	font-size: 20px;
	text-indent: 40px;
	font-family: KaiTi;
}

.image-left {
	display: inline;
	float: left;
	margin: 0px 20px 0px 0px;
}

.image-right {
	display: inline;
	float: right;
	margin: 0px 0px 0px 20px;
}

.image-center {
	display: block;
	margin: 8px auto 20px auto;
}

.image-toc {
	display: block;
	height: 80px;
	margin: 0px auto 0px auto;
}

.image-clip {
	display: block;
	width: 95%;
	margin: 0px auto 0px auto;
}

.center-block {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.note {
	color: Blue;
	font-size: 14px;
}

.latin {
	font-family: Times;
}

.resume {
	font-family: Times;
	font-size: 16px;
}

.small-text {
	font-family: SimSun;
	font-size: 18px;
	margin-left: 40px;
	margin-right: 40px;
}

.message {
	font-family: Times;
	font-weight: bold;
	color: brown;
	width: 90%;
}

.center-green {
	font-family: Times;
	font-size: 16px;
	text-align: Center;
	color: Green;
}

.entry-name {
	font-family: SimSun;
}

.comment {
	font-size: 14px;
	font-family: KaiTi;
	color: Blue;
}

.char-name {
	font-size: 14px;
	font-family: KaiTi;
	color: DarkGray;
}

/**
 * multiple columns text
 */
.left-2col {
	margin-right: 1%;
	width: 49%;
	float: left;
}

.right-2col {
	margin-left: 1%;
	width: 49%;
	float: right;
}

.left-3col {
	width: 33%;
	float: left;
	text-align: center;
}

.right-3col {
	width: 34%;
	float: left;
	text-align: center;
}

.center-3col {
	width: 33%;
	float: left;
	text-align: center;
}

/**
 * Styles of the vocabulary builder
 */
.char-view {
	display: block;
}

.quizlet-view {
	display: none;
}

.sidebar-chinese-title {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	font-family: SimSun;
	margin-top: 20px;
	color: DarkSlateBlue;
}

.sidebar-item-title {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	font-family: Georgia;
	margin-top: 20px;
	color: DarkSlateBlue;
}

.logo-text {
	text-indent: 32px;
	font-size: 16px;
	font-family: Times New Roman;
	color: DarkGreen;
}

.control-text {
	text-indent: 0px;
	font-size: 16px;
	font-family: Times New Roman;
}

.character-panel {
	width: 100%;
	margin-left: 4%;
	margin-right: 4%;
}

.panel-title {
	font-size: 24px;
	font-family: SimSun;
}

.strokes {
	border: 6px;
	border-style: solid;
	border-color: DarkGreen;
	position: absolute;
	right: 20%;
	top: 100px;
	width: 200px;
	height: 220px;
	padding: 4px;
	z-index: 100;
	float: right;
	background-color: white;
}

.hide-stroke {
	font-size: 12px;
	text-align: right;
	text-decoration: underline;
	color: Brown;
	margin-top: 0px;
	margin-right: 5px;
}

.image-name {
	border: 0;
	width: 100px;
	display: inline;
	margin-right: 12px;
	float: left;
}

.entry-id {
	border: 0;
	font-size: 80px;
	font-family: KaiTi;
	color: Black;
	display: inline;
	margin-right: 12px;
	float: left;
}

.entry-list {
	color: brown;
	font-family: KaiTi;
	font-size: 20px;
}

.entry {
	font-family: KaiTi;
	font-weight: bold;
	font-size: 20px;
}

.pinyin {
	font-weight: bold;
	font-size: 16px;
}

.translation {
	font-size: 16px;
	font-family: Georgia;
}

.words {
	font-size: 16px;
	font-family: SimSun;
}

.usage {
	font-size: 16px;
	font-family: KaiTi;
	color: Blue;
}

.no-padding-list {
	list-style-type: none;
	font-size: 18px;
	text-indent: -57px;
	padding-left: 57px;
	font-family: KaiTi;
}

.no-padding-list-small {
	list-style-type: none;
	text-indent: -56px;
	padding-left: 56px;
	font-size: 16px;
	font-family: KaiTi;
}

/**
 * The styles of the teacher TOC
 */
.teacher-info {
	margin-top: 20px;
	margin-left: 40px;
	border: 1px solid DarkGrey;
	border-collapse: collapse;
	font-family: Georgia;
	font-size: 20px;
}

.teacher-image {
	display: block;
	margin: 2px auto 2px auto;
	height: 60px;
}

.teacher-name {
	font-family: KaiTi;
	font-size: 20px;
}

.teacher-email {
	font-family: Georgia;
	font-size: 16px;
}

.teacher-since {
	font-family: Georgia;
	font-size: 16px;
}

.col-pad {
	padding: 10px;
}