<!doctype html>
<html>
 <head> 
  <meta charset="UTF-8"> 
  <base href="https://gwca-classroom.appspot.com/"> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
  <script src="scripts/classroom.js"></script> 
  <link rel="stylesheet" type="text/css" href="scripts/books.css"> 
 </head> 
 <body> 
  <div data-ng-app="classroom" data-ng-controller="classroomController" class="container"> 
   <header> 
    <a href="classroom.html"> <img src="images/sites/GWCALogo.gif" height="60px" class="image-left"></a> 
    <p class="page-title">部分课程课本及音像材料</p> 
   </header> 
   <div style="margin-top: 40px; margin-bottom: 70px"> 
    <div class="book-table"> 
     <div class="left-3col"> 
      <a href="books/pinyin/pinyin.html"><img src="images/sites/pinyin.png" class="image-toc"> </a> 
      <p class="book-title">汉语拼音（<span class="latin">Pinyin</span>） </p> 
     </div> 
     <div class="center-3col"> 
      <a href="books/npcr1/npcr1.html"><img src="images/sites/npcr1-cover.jpg" class="image-toc"> </a> 
      <p class="book-title">新实用汉语课本 第一册</p> 
     </div> 
     <div class="right-3col"> 
      <a href="books/npcr2/npcr2.html"><img src="images/sites/npcr2-cover.jpg" class="image-toc"> </a> 
      <p class="book-title">新实用汉语课本 第二册</p> 
     </div> 
    </div> 
    <div class="book-table"> 
     <div class="left-3col"> 
      <a href="books/npcr3/npcr3.html"><img src="images/sites/npcr3-cover.jpg" class="image-toc"> </a> 
      <p class="book-title">新实用汉语课本 第三册</p> 
     </div> 
     <div class="center-3col"> 
      <a href="books/npcr4/npcr4.html"><img src="images/sites/npcr4-cover.jpg" class="image-toc"> </a> 
      <p class="book-title">新实用汉语课本 第四册</p> 
     </div> 
     <div class="right-3col"> 
      <a href="books/npcr5/npcr5.html"><img src="images/sites/npcr5-cover.jpg" class="image-toc"> </a> 
      <p class="book-title">新实用汉语课本 第五册</p> 
     </div> 
    </div> 
    <div class="book-table"> 
     <div class="left-3col"> 
      <a href="books/npcr6/npcr6.html"><img src="images/sites/npcr6-cover.jpg" class="image-toc"> </a> 
      <p class="book-title">新实用汉语课本 第六册</p> 
     </div> 
     <div class="center-3col"> 
      <a href="books/workshop/workshop.html"><img src="images/sites/independent-study.jpg" class="image-toc"> </a> 
      <p class="book-title">阅读与写作</p> 
     </div> 
     <div class="right-3col"> 
      <a href="books/reading/reading.html"><img src="images/sites/additional-reading.jpg" class="image-toc"> </a> 
      <p class="book-title">课外阅读</p> 
     </div> 
    </div> 
   </div> 
   <footer>
     {{footerText}} 
   </footer> 
  </div>   
 </body>
</html>