<script>
	function TplAudio() {
		this.itemName = ITEM_NAME.AUDIO;
		this.utils = new WorkitemUtils();
	};

	/**
	 * Creates an editing panel and assigns the initial
	 * values of its input form using the workitem.
	 */
	TplAudio.prototype.createEditPanel = function(workitem) {

		var editPanel = this.utils.createEditPanel(workitem);

		// set the input form initial values using the workitem.
		editPanel.querySelector('#index-desc').value = workitem.index;
		editPanel.querySelector('#title-desc').value = workitem.title;
		editPanel.querySelector('#url-desc').value = workitem.url;
		editPanel.querySelector('#text-desc').value = workitem.text;

		var instructions = editPanel.querySelectorAll('.instruction-desc');
		for (var i = 0; i < instructions.length; i++) {
			instructions[i].innerHTML = '';
		}
		for (var i = 0; i < workitem.instructions.length; i++) {
			instructions[i].innerHTML = workitem.instructions[i];
		}

		return editPanel;
	}

	/**
	 * Creates a new work panel using the values of a workitem.
	 */
	TplAudio.prototype.createWorkPanel = function(workitem) {
		var panel = this.utils.createTypedPanel(PANEL_TYPE.WORK, workitem);
		return this.updateWorkPanel(panel, workitem);
	}

	/**
	 * Creates a review panel using the values of a workitem.
	 */
	TplAudio.prototype.createReviewPanel = function(workitem) {
		var panel = this.utils.createTypedPanel(PANEL_TYPE.REVIEW, workitem);
		return this.updateWorkPanel(panel, workitem);
	}

	/**
	 * Creates a teacher panel using the values of a workitem.
	 */
	TplAudio.prototype.createTeacherPanel = function(workitem) {
		var panel = this.utils.createTypedPanel(PANEL_TYPE.TEACHER, workitem);
		return this.updateWorkPanel(panel, workitem);
	}

	/**
	 * Updates the work panel using the values of a workitem
	 */
	TplAudio.prototype.updateWorkPanel = function(workPanel, workitem) {

		workPanel.querySelector('#index').innerHTML = workitem.index;
		workPanel.querySelector('#title').innerHTML = workitem.title;
		workPanel.querySelector('#url').src = workitem.url;
		workPanel.querySelector('#text').innerHTML = workitem.text;

		var instructions = workPanel.querySelectorAll('.instruction');
		for (var i = 0; i < instructions.length; i++) {
			instructions[i].innerHTML = '';
		}
		for (var i = 0; i < workitem.instructions.length; i++) {
			instructions[i].innerHTML = workitem.instructions[i];
		}

		return workPanel;
	}

	/**
	 * Updates the review panel using the values of a workitem
	 */
	TplAudio.prototype.updateReviewPanel = function(reviewPanel, workitem) {
		return updateWorkPanel(reviewPanel, workitem);
	}

	/**
	 * Creates a new workitem using the data of the edit panel's input form.
	 */
	TplAudio.prototype.createEditWorkitem = function(editPanel) {

		var workitem = this.utils.createWorkItem(this.itemName);

		workitem.index = editPanel.querySelector('#index-desc').value;
		workitem.title = editPanel.querySelector('#title-desc').value;
		workitem.url = editPanel.querySelector('#url-desc').value;
		workitem.text = editPanel.querySelector('#text-desc').value;
		workitem.instructions = [];

		var instructions = editPanel.querySelectorAll('.instruction-desc');
		for (var i = 0; i < instructions.length; i++) {
			instructions[i].innerHTML = '';
			var value = instructions[i].value;
			if (value != null && value.length > 0) {
				workitem.instructions.push(value);
			}
		}

		return workitem;
	}

	/**
	 * Creates a new workitem using the data of the work or review panel.
	 */
	TplAudio.prototype.createReviewWorkitem = function(panel) {

		var workitem = this.utils.createWorkItem(this.itemName);

		workitem.index = panel.querySelector('#index').innerHTML;
		workitem.title = panel.querySelector('#title').innerHTML;

		var link = panel.querySelector('#url');
		workitem.url = link.src;
		workitem.text = panel.querySelector('#text').innerHTML;
		workitem.instructions = [];

		var instructions = panel.querySelectorAll('.instruction');
		for (var i = 0; i < instructions.length; i++) {
			var value = instructions[i].innerHTML;
			if (value != null && value.length > 0) {
				workitem.instructions.push(value);
			}
		}

		return workitem;
	}

	/**
	 * Checks if the workitem has valid values for saving.
	 */
	TplAudio.prototype.hasValue = function(workitem) {
		return (workitem != null && workitem.title != null
				&& workitem.title.length > 0
				&& workitem.instructions.length > 0 && workitem.instructions[0].length > 0);
	}
</script>

<!-- The AUDIO work item -->
<div id='sample-audio' class='workitem'>

  <!-- The editing panel (input form) -->
  <div id="edit-audio" title='audio' class="edit-panel">
    <p>
      <span>标题：</span>
      <input id="title-desc" size="28" type="text">
      <span class="item-index"> No. </span>
      <input id="index-desc" size="2" type="text">
    </p>
    <p>听力材料地址（URL: .mp3 only):</p>
    <p>
      <input id="url-desc" type="text" size='55' value='URL' />
    </p>
    <p>听力材料标题:</p>
    <p>
      <input id="text-desc" type="text" size='55' />
    </p>
    <p>听力练习的具体要求：</p>
    <p>
      <textarea class='instruction-desc' rows="3" cols="40"></textarea>
    </p>
    <p>
      <textarea class='instruction-desc' rows="3" cols="40"></textarea>
    </p>
    <p>
      <input id='update' value="Update Item" type="button">
      <input id='remove' value="Remove Item" type="button">
    </p>
  </div>

  <!-- The work panel -->
  <div id="work-audio" title='audio' class="work-panel">
    <h3 id='title' class="title"></h3>
    <p class='instruction'></p>
    <p class='instruction'></p>
    <div id="player">
      <audio controls>
        <source id='url' src="" type="audio/mpeg" />
      </audio>
    </div>
    <p id='text'></p>
    <p id="index" style='display: none'></p>
  </div>

  <!-- The review panel -->
  <div id="review-audio" title='audio' class="review-panel">
    <h3 id='title' class="title"></h3>
    <p class='instruction'></p>
    <p class='instruction'></p>
    <div id="player">
      <audio controls>
        <source id='url' src="" type="audio/mpeg" />
      </audio>
    </div>
    <p id='text'></p>
    <p id="index" style='display: none'></p>
  </div>

  <!-- The teacher panel -->
  <div id="teacher-audio" title='audio' class="teacher-panel">
    <h3 id='title' class="title"></h3>
    <p class='instruction'></p>
    <p class='instruction'></p>
    <div id="player">
      <audio controls>
        <source id='url' src="" type="audio/mpeg" />
      </audio>
    </div>
    <p id='text'></p>
    <p id="index" style='display: none'></p>
  </div>
</div>
