<script>
	function TplAttachImage() {
		this.itemName = ITEM_NAME.ATTACH_IMAGE;
		this.utils = new WorkitemUtils();
	};

	/**
	 * Creates an editing panel and assigns the initial
	 * values of its input form using the workitem.
	 */
	TplAttachImage.prototype.createEditPanel = function(workitem) {

		var editPanel = this.utils.createEditPanel(workitem);

		// set the input form initial values using the workitem.
		editPanel.querySelector('#index-desc').value = workitem.index;
		editPanel.querySelector('#title-desc').value = workitem.title;
		editPanel.querySelector('#instruction-desc').value = workitem.instruction;

		return editPanel;
	}

	/**
	 * Creates a new work panel using the values of a workitem.
	 */
	TplAttachImage.prototype.createWorkPanel = function(workitem) {
		var panel = this.utils.createTypedPanel(PANEL_TYPE.WORK, workitem);
		return this.updateWorkPanel(panel, workitem);
	}

	/**
	 * Creates a review panel using the values of a workitem.
	 */
	TplAttachImage.prototype.createReviewPanel = function(workitem) {
		var panel = this.utils.createTypedPanel(PANEL_TYPE.REVIEW, workitem);
		return this.updateWorkPanel(panel, workitem);
	}

	/**
	 * Creates a teacher panel using the values of a workitem.
	 */
	TplAttachImage.prototype.createTeacherPanel = function(workitem) {
		var panel = this.utils.createTypedPanel(PANEL_TYPE.TEACHER, workitem);
		return this.updateWorkPanel(panel, workitem);
	}

	/**
	 * Updates the work panel using the values of a workitem
	 */
	TplAttachImage.prototype.updateWorkPanel = function(workPanel, workitem) {

		workPanel.querySelector('#index').innerHTML = workitem.index;
		workPanel.querySelector('#title').innerHTML = workitem.title;
		workPanel.querySelector('#instruction').innerHTML = workitem.instruction;
		this.utils.setRemarkValue(workPanel, workitem.remark);
		this.utils.setCheckValue(workPanel, workitem.checked);

		return workPanel;
	}

	/**
	 * Updates the review panel using the values of a workitem
	 */
	TplAttachImage.prototype.updateReviewPanel = function(reviewPanel, workitem) {
		return this.updateWorkPanel(reviewPanel, workitem);
	}

	/**
	 * Creates a new workitem using the data of the edit panel's input form.
	 */
	TplAttachImage.prototype.createEditWorkitem = function(editPanel) {

		var workitem = this.utils.createWorkItem(this.itemName);

		workitem.index = editPanel.querySelector('#index-desc').value;
		workitem.title = editPanel.querySelector('#title-desc').value;
		workitem.instruction = editPanel.querySelector('#instruction-desc').value;

		return workitem;
	}

	/**
	 * Creates a new workitem using the data of the work or review panel.
	 */
	TplAttachImage.prototype.createReviewWorkitem = function(panel) {

		var workitem = this.utils.createWorkItem(this.itemName);

		workitem.index = panel.querySelector('#index').innerHTML;
		workitem.title = panel.querySelector('#title').innerHTML;
		workitem.instruction = panel.querySelector('#instruction').innerHTML;
		workitem.remark = this.utils.getRemarkValue(panel);
		workitem.checked = this.utils.getCheckValue(panel);

		return workitem;
	}

	/**
	 * Checks if the workitem has valid values for saving.
	 */
	TplAttachImage.prototype.hasValue = function(workitem) {
		return (workitem != null && workitem.title != null && workitem.title.length > 0);
	}
</script>

<!-- The ATTACH_IMAGE work item -->
<div id='sample-attach-image' class='workitem'>

  <!-- The editing panel (input form) -->
  <div id="edit-attach-image" title='attach-image' class="edit-panel">
    <p>
      <span>标题：</span>
      <input id="title-desc" size="28" type="text">
      <span class="item-index"> No. </span>
      <input id="index-desc" size="2" type="text">
    </p>
    <p>
      <textarea id="instruction-desc" cols="40" rows="3"></textarea>
    </p>
    <input id='update' value="Update Item" type="button">
    <input id='remove' value="Remove Item" type="button">
  </div>

  <!-- The work panel -->
  <div id="work-attach-image" title='attach-image' class="work-panel">
    <h3 id="title" class="title"></h3>
    <p id='instruction'></p>
    <p class='ascii'>Use "Add files" at the bottom of this page to attach
      one or more image files (.jpg, .png or .gif). You may delete the
      attachment(s) and start this process over.</p>
    <p id="index" style='display: none'></p>
  </div>

  <!-- The review panel -->
  <div id="review-attach-image" title='attach-image' class="review-panel">
    <h3 id="title" class="title"></h3>
    <p>
      <span id='instruction'></span>
      <span>&nbsp;</span>
      <img class='check-image' title='' src='' />
    </p>
    <p class='teacher-remark'></p>
    <p id="index" style='display: none'></p>
  </div>

  <!-- The teacher panel -->
  <div id="teacher-attach-image" title='attach-image' class="teacher-panel">
    <h3 id="title" class="title"></h3>
    <p>
      <span id='instruction'></span>
      <span>&nbsp;</span>
      <img class='check-image' title='right' src='right.jpg'
        onclick='switchImage(this)' />
    </p>
    <p class='teacher-remark'>
      <input type="text" size='40'>
    </p>
    <p id="index" style='display: none'></p>
  </div>
</div>
