<script>
	function TplRead() {
		this.itemName = ITEM_NAME.READ;
		this.utils = new WorkitemUtils();
	};

	/**
	 * Creates an editing panel and assigns the initial
	 * values of its input form using the workitem.
	 */
	TplRead.prototype.createEditPanel = function(workitem) {

		var editPanel = this.utils.createEditPanel(workitem);

		// set the input form initial values using the workitem.
		editPanel.querySelector('#index-desc').value = workitem.index;
		editPanel.querySelector('#title-desc').value = workitem.title;
		editPanel.querySelector('#url-desc').value = workitem.url;
		editPanel.querySelector('#url-text-desc').value = workitem.text;
		editPanel.querySelector('#instruction-desc').value = workitem.instruction;

		return editPanel;
	}

	/**
	 * Creates a new work panel using the values of a workitem.
	 */
	TplRead.prototype.createWorkPanel = function(workitem) {
		var panel = this.utils.createTypedPanel(PANEL_TYPE.WORK, workitem);
		return this.updateWorkPanel(panel, workitem);
	}

	/**
	 * Creates a review panel using the values of a workitem.
	 */
	TplRead.prototype.createReviewPanel = function(workitem) {
		var panel = this.utils.createTypedPanel(PANEL_TYPE.REVIEW, workitem);
		return this.updateWorkPanel(panel, workitem);
	}

	/**
	 * Creates a teacher panel using the values of a workitem.
	 */
	TplRead.prototype.createTeacherPanel = function(workitem) {
		var panel = this.utils.createTypedPanel(PANEL_TYPE.TEACHER, workitem);
		return this.updateWorkPanel(panel, workitem);
	}

	/**
	 * Updates the work panel using the values of a workitem
	 */
	TplRead.prototype.updateWorkPanel = function(workPanel, workitem) {

		workPanel.querySelector('#index').innerHTML = workitem.index;
		workPanel.querySelector('#title').innerHTML = workitem.title;
		workPanel.querySelector('#instruction').innerHTML = workitem.instruction;
		workPanel.querySelector('#url').href = workitem.url;
		workPanel.querySelector('#url-text').innerHTML = workitem.text;

		return workPanel;
	}

	/**
	 * Updates the review panel using the values of a workitem
	 */
	TplRead.prototype.updateReviewPanel = function(reviewPanel, workitem) {
		return updateWorkPanel(reviewPanel, workitem);
	}

	/**
	 * Creates a new workitem using the data of the edit panel's input form.
	 */
	TplRead.prototype.createEditWorkitem = function(editPanel) {

		var workitem = this.utils.createWorkItem(this.itemName);

		workitem.index = editPanel.querySelector('#index-desc').value;
		workitem.title = editPanel.querySelector('#title-desc').value;
		workitem.instruction = editPanel.querySelector('#instruction-desc').value;
		workitem.url = editPanel.querySelector('#url-desc').value;
		workitem.text = editPanel.querySelector('#url-text-desc').value;

		return workitem;
	}

	/**
	 * Creates a new workitem using the data of the work or review panel.
	 */
	TplRead.prototype.createReviewWorkitem = function(panel) {

		var workitem = this.utils.createWorkItem(this.itemName);

		workitem.index = panel.querySelector('#index').innerHTML;
		workitem.title = panel.querySelector('#title').innerHTML;
		workitem.instruction = panel.querySelector('#instruction').innerHTML;
		workitem.text = panel.querySelector('#url-text').innerHTML;

		var link = panel.querySelector('#url');
		if (link.href && link.href.indexOf('script.googleusercontent.com') < 0) {
			workitem.url = link.href;
		} else {
			workitem.url = '';
		}

		return workitem;
	}

	/**
	 * Checks if the workitem has valid values for saving.
	 */
	TplRead.prototype.hasValue = function(workitem) {
		return (workitem != null && workitem.title != null
				&& workitem.title.length > 0 && workitem.instruction != null && workitem.instruction.length > 0);
	}
</script>

<!-- The READ work item -->
<div id='sample-read' class='workitem'>

  <!-- The editing panel (input form) -->
  <div id="edit-read" title='read' class="edit-panel">
    <p>
      <span>标题：</span>
      <input id="title-desc" size="28" type="text">
      <span class="item-index"> No. </span>
      <input id="index-desc" size="2" type="text">
    </p>
    <p>阅读材料地址（URL):</p>
    <p>
      <input id="url-desc" size="55" type="text">
    </p>
    <p>阅读材料标题:</p>
    <p>
      <input id="url-text-desc" size="40" type="text">
    </p>
    <p id="">阅读要求：</p>
    <p>
      <textarea id="instruction-desc" cols="40" rows="3"></textarea>
    </p>
    <p>
      <input id='update' value="Update Item" type="button">
      <input id='remove' value="Remove Item" type="button">
    </p>
  </div>

  <!-- The work panel -->
  <div id="work-read" title='read' class="work-panel">
    <h3 id="title" class="title"></h3>
    <p id="instruction"></p>
    <p>
      <a id="url" href='' target="_blank"><span id="url-text"></span></a>
    </p>
    <p id="index" style='display: none'></p>
  </div>

  <!-- The review panel -->
  <div id="review-read" title='read' class="review-panel">
    <h3 id="title" class="title"></h3>
    <p id="instruction"></p>
    <p>
      <a id="url" href='' target="_blank"><span id="url-text"></span></a>
    </p>
    <p id="index" style='display: none'></p>
  </div>

  <!-- The teacher panel -->
  <div id="teacher-read" title='read' class="teacher-panel">
    <h3 id="title" class="title"></h3>
    <p id="instruction"></p>
    <p>
      <a id="url" href='' target="_blank"><span id="url-text"></span></a>
    </p>
    <p id="index" style='display: none'></p>
  </div>
</div>
