<script>
	function TplWrite() {
		this.itemName = ITEM_NAME.WRITE;
		this.utils = new WorkitemUtils();
	};

	/**
	 * Creates an editing panel and assigns the initial
	 * values of its input form using the workitem.
	 */
	TplWrite.prototype.createEditPanel = function(workitem) {

		var editPanel = this.utils.createEditPanel(workitem);

		// set the input form initial values using the workitem.
		editPanel.querySelector('#index-desc').value = workitem.index;
		editPanel.querySelector('#title-desc').value = workitem.title;
		editPanel.querySelector('#essay-desc').value = workitem.essay;
		editPanel.querySelector('#instruction-desc').innerHTML = workitem.instruction;
		//alert('created an edit panel');

		return editPanel;
	}

	/**
	 * Creates a new work panel using the values of a workitem.
	 */
	TplWrite.prototype.createWorkPanel = function(workitem) {
		var panel = this.utils.createTypedPanel(PANEL_TYPE.WORK, workitem);
		return this.updateWorkPanel(panel, workitem);
	}

	/**
	 * Creates a review panel using the values of a workitem.
	 */
	TplWrite.prototype.createReviewPanel = function(workitem) {
		var panel = this.utils.createTypedPanel(PANEL_TYPE.REVIEW, workitem);
		return this.updateWorkPanel(panel, workitem);
	}

	/**
	 * Creates a teacher panel using the values of a workitem.
	 */
	TplWrite.prototype.createTeacherPanel = function(workitem) {
		var panel = this.utils.createTypedPanel(PANEL_TYPE.TEACHER, workitem);
		return this.updateWorkPanel(panel, workitem);
	}

	/**
	 * Updates the work panel using the values of a workitem
	 */
	TplWrite.prototype.updateWorkPanel = function(workPanel, workitem) {

		//alert('updating ' + workPanel.id);
		workPanel.querySelector('#index').innerHTML = workitem.index;
		workPanel.querySelector('#title').innerHTML = workitem.title;
		workPanel.querySelector('#essay').innerHTML = workitem.essay;
		workPanel.querySelector('#instruction').innerHTML = workitem.instruction;
		//alert('updated basics');

		var link = workPanel.querySelector('#url');
		link.href = workitem.url;
		//alert('updated');

		return workPanel;
	}

	/**
	 * Updates the review panel using the values of a workitem
	 */
	TplWrite.prototype.updateReviewPanel = function(reviewPanel, workitem) {
		return updateWorkPanel(reviewPanel, workitem);
	}

	/**
	 * Creates a new workitem using the data of the edit panel's input form.
	 */
	TplWrite.prototype.createEditWorkitem = function(editPanel) {

		var workitem = this.utils.createWorkItem(this.itemName);

		workitem.index = editPanel.querySelector('#index-desc').value;
		workitem.title = editPanel.querySelector('#title-desc').value;
		workitem.essay = editPanel.querySelector('#essay-desc').value;
		workitem.instruction = editPanel.querySelector('#instruction-desc').value;
		workitem.hasLink = false;

		return workitem;
	}

	/**
	 * Creates a new workitem using the data of the work or review panel.
	 */
	TplWrite.prototype.createReviewWorkitem = function(panel) {

		//alert('creating an item:' + panel.id);
		var workitem = this.utils.createWorkItem(this.itemName);

		workitem.index = panel.querySelector('#index').innerHTML;
		workitem.title = panel.querySelector('#title').innerHTML;
		workitem.essay = panel.querySelector('#essay').innerHTML;
		workitem.instruction = panel.querySelector('#instruction').innerHTML;

		var url = panel.querySelector('#url').href;
		if (url == null || url.length == 0 || url.search(GOOGLE_DOC_URL) < 0) {
			workitem.url = '';
			workitem.hasLink = false;
		} else {
			workitem.url = url;
			workitem.hasLink = true;
		}
		//alert('created a review item:' + workitem.name);
		return workitem;
	}

	/**
	 * Checks if the workitem has valid values for saving.
	 */
	TplWrite.prototype.hasValue = function(workitem) {
		return (workitem != null && workitem.title != null
				&& workitem.title.length > 0 && workitem.instruction != null && workitem.instruction.length > 0);
	}
</script>

<!-- The WRITE work item -->
<div id='sample-write' class='workitem'>

  <!-- The editing panel (input form) -->
  <div id="edit-write" title='write' class="edit-panel">
    <p>
      <span>标题：</span>
      <input id="title-desc" size="28" type="text">
      <span class="item-index"> No. </span>
      <input id="index-desc" size="2" type="text">
    </p>
    <p id="">作文题目：</p>
    <p>
      <input id="essay-desc" size="40" type="text">
    </p>
    <p id="">作文要求：</p>
    <p>
      <textarea id="instruction-desc" cols="40" rows="3"></textarea>
    </p>
    <p>
      <input id='update' value="Update Item" type="button">
      <input id='remove' value="Remove Item" type="button">
    </p>
  </div>

  <!-- The work panel -->
  <div id="work-write" title='write' class="work-panel">
    <h3 id="title" class="title"></h3>
    <p id="instruction"></p>
    <p>
      <a id="url" href='' target="_blank"><span id="essay"></span></a>
    </p>
    <p id="index" style='display: none'></p>
  </div>

  <!-- The review panel -->
  <div id="review-write" title='write' class="review-panel">
    <h3 id="title" class="title"></h3>
    <p id="instruction"></p>
    <p>
      <a id="url" href='' target="_blank"><span id="essay"></span></a>
    </p>
    <p id="index" style='display: none'></p>
  </div>

  <!-- The teacher panel -->
  <div id="teacher-write" title='write' class="teacher-panel">
    <h3 id="title" class="title"></h3>
    <p id="instruction"></p>
    <p>
      <a id="url" href='' target="_blank"><span id="essay"></span></a>
    </p>
    <p id="index" style='display: none'></p>
  </div>
</div>
