<script>
	/**
	 * Constants and enumerations
	 * 
	 * @param constants
	 *            The enumerated values that is a list of name/value pairs. <br>
	 *            For example: <br>
	 *            MEMBER_TITLE_LIST = { <br>
	 *            Mr : "Mr.", <br>
	 *            Mrs : "Mrs.", <br>
	 *            Miss : "Miss", <br>
	 *            Ms : "Ms." }; <br>
	 *            MEMBER_TITLE = new WorkitemEnums(MEMBER_TITLE_LIST);
	 */
	function WorkitemEnums(constants) {
		this.values = constants;
		for ( var i in constants) {
			var constant = constants[i];
			this[i] = constant;
		}
	}

	/**
	 * Finds an enumerated value by name
	 * @param name
	 * @returns
	 */
	WorkitemEnums.prototype.find = function(name) {
		for ( var i in this.values) {
			var value = this.values[i];
			if (name == value) {
				return this[i];
			}
		}
		return null;
	};

	/**
	 * The list of homework item names
	 */
	var ITEM_NAME_LIST = {
		READ : "read",
		RECORD : "record",
		WRITE : "write",
		TRUE_FALSE : "true-false",
		MULTI_CHOICE : "multi-choice",
		FILL_BLANK : "fill-blank",
		ANSWER_QUESTION : "answer-question",
		PHRASE_SENTENCE : "phrase-sentence",
		CONNECT_SENTENCE : "connect-sentence",
		AUDIO : "audio",
		VIDEO : "video",
		NOTE : "note",
		ATTACH_IMAGE : "attach-image"
	};

	/**
	 * The list of page panels for processing a list of workitems
	 */
	var PANEL_TYPE_LIST = {
		EDIT : "edit",
		WORK : "work",
		REVIEW : "review",
		TEACHER : "teacher",
		UNKNOWN : "unknown"
	};

	/**
	 * The list of the homework status
	 */
	var WORK_STATUS_LIST = {
		ASSIGNED : "assigned",
		WIP : "work in progress",
		SUBMITTED : "submitted",
		DONE : "done",
		UNKNOWN : "unknown"
	};

	/**
	 * The global Enumeration of the workitem names
	 * Usage: ITEM_NAME.READ
	 */
	ITEM_NAME = new WorkitemEnums(ITEM_NAME_LIST);

	/**
	 * The global Enumeration of the page panel types
	 * Usage: PANEL_TYPE.REVIEW
	 */
	PANEL_TYPE = new WorkitemEnums(PANEL_TYPE_LIST);

	/**
	 * The global Enumeration of the homework status
	 * Usage: WORK_STATUS.WIP
	 */
	WORK_STATUS = new WorkitemEnums(WORK_STATUS_LIST);
	
	//
	// Some constants used by the client side scripts
	//
	var VIDEO_FOLDER = "https://docs.google.com/a/greatwallchineseacademy.org/file/d/";
	var GOOGLE_DOC_URL = 'https://docs.google.com/document/d/';
	var ESSAY_TEMPLATE_ID = '1PfvdebrWuQNsyAt_8rQ9TiMH6tzP9QO3NYlAUP9dWhY';

</script>
