<script>
	var SCHOOL_URL = 'https://sites.google.com/a/greatwallchineseacademy.org/';
	var VIDEO_FOLDER = 'https://docs.google.com/a/greatwallchineseacademy.org/file/d/';
	var TITLE_ID = 'clip-title';
	var PLAYER_ID = 'player';

	/**
	 * The TOC data is loaded into the HTML as a JSON object for the TOC page.
	 * Convert it to some HTML tags to display
	 */
	function createToc() {
		var tocJson = document.querySelector('#toc-json');
		if (tocJson == null) {
			return;
		}

		var toc = JSON.parse(tocJson.innerHTML);
		var tocTable = document.querySelector('.course-toc');
		var tbody = tocTable.querySelector('tbody');
		var sampleRow = document.querySelector('#sample-toc');

		for (var i = 1; i < toc.length; i++) {
			var courseInfo = toc[i];
			var row = sampleRow.cloneNode(true);
			var link = row.querySelector('a');
			link.href = '.?course=' + courseInfo.id;
			link.innerHTML = courseInfo.name;
			row.querySelector('.desc').innerHTML = courseInfo.desc;
			row.querySelector('img').src = SCHOOL_URL + courseInfo.image;
			row.id = 'row-' + i;
			row.removeAttribute("style");
			tbody.appendChild(row);
		}
	}

	/**
	 * Plays an audio clip when a button gets clicked.
	 */
	function playAudioClip(button) {
		// get the clip name and title
		button.style = 'background-color:yellow';
		var clipName = 'clips/' + button.id + '.mp3';
		var desc = button.innerHTML;

		// display the clip's title to play
		var title = document.getElementById(TITLE_ID);
		title.innerHTML = 'Click on the play button to listen to ' + desc
				+ '  or select another clip to listen to.';

		// configure the player to play the title
		var player = document.getElementById(PLAYER_ID);
		var code = '<audio controls class="clip"><source src="' + clipName 
				+ '" type="audio/mpeg" /></audio>';
		player.innerHTML = code;
	}

	/**
	 * Plays a video clip when a button gets clicked.
	 */
	function playVideoClip(button) {
		// get the clip name and title
		button.style = 'background-color:yellow';
		var clipName = button.id;
		var desc = button.innerHTML;

		// display the clip's title to play
		var title = document.getElementById(TITLE_ID);
		title.innerHTML = 'Click on the play button to watch ' + desc
				+ '  or select another clip to watch.';

		// configure the player to play the title
		var player = document.getElementById(PLAYER_ID);
		var code = '<iframe' +
			' src="' + VIDEO_FOLDER + clipName + '/preview"' +
			' width="765" height="477">'
				+ ' </iframe>';
		player.innerHTML = code;
	}
	
	/**
	 * Looks up a word entry from the dictionary and shows the entry
	 */
	function lookup(element) {
		var rect = element.getBoundingClientRect();
		var top = rect.top;
		var selectedText = element.innerHTML;
		if (selectedText && selectedText.length < 5) {
			for (var i = 0; i < WORD_PHRASE.length; i++) {
				var entry = WORD_PHRASE[i];
				if (entry.word == selectedText) {
					showWordEntry(entry, top);
					return;
				}
			}
		}
	}

	/**
	 * Shows the word entry in a pop-up div
	 */
	function showWordEntry(entry, top) {
		var item = document.querySelector('#entry');
		item.style.height = '100px';
		item.style.display = 'inline';
		item.style.top = top + 'px';
		item.querySelector('#word').innerHTML = entry.word;
		item.querySelector('#pinyin').innerHTML = entry.pinyin;
		item.querySelector('#translation').innerHTML = entry.translation;
		item.querySelector('#entry').innerHTML = entry.entry;
		item.querySelector('#phrases').innerHTML = entry.phrases;
		item.querySelector('#usage').innerHTML = entry.usage;
		item.style.height = item.scrollHeight + 'px';
	}

	/**
	 * Hids the word entry div
	 */
	function hideWordEntry(entry) {
		entry.style.display = 'none';
	}
</script>
