
<div id='entry' class='dictionary' onclick='hideWordEntry(this)'>
  <table style='padding: 6px 4px 6px 4px;'>
    <tbody>
      <tr>
        <td>
          <span class='entry-name'>字词：</span>
          <span id='word'></span>
        </td>
      </tr>
      <tr>
        <td>
          <span class='entry-name'>拼音：</span>
          <span id='pinyin' class='latin'></span>
        </td>
      </tr>
      <tr>
        <td>
          <span class='entry-name'>英文：</span>
          <span id='translation' class='latin'></span>
        </td>
      </tr>
      <tr>
        <td>
          <span class='entry-name'>词意：</span>
          <span id='entry'></span>
        </td>
      </tr>
      <tr>
        <td>
          <span class='entry-name'>词组：</span>
          <span id='phrases'></span>
        </td>
      </tr>
      <tr>
        <td>
          <span class='entry-name'>例句：</span>
          <span id='usage'></span>
        </td>
      </tr>
    </tbody>
  </table>
  <p class='tip'>Close</p>
</div>

