<div id="course-content" class="course-content">
  <scan style="font-weight:bold; color:Brown; font-size:20px;">
  <p>Either the course or the title does not exist.</p>
  <p>Check the URL parameters (?course=courseId&amp;title=title)</p>
  <p>course:undefined, title:undefined</p>
  </scan>
  <div class="back-home">
    <a onclick="loadIndex();">Course Index</a>
  </div>
  <div id="toc-json" style="display: none;">[ { "id": "npcr1", "name":
    "新实用汉语课本 第一册", "alias": "New Practical Chinese Reader 1", "desc": "",
    "image": "site-media-lib/images/npcr1-cover.jpg", "textFolderId":
    "0B9-duwm5My1fVTJkc0U2UXBROUE", "workFolderId": "" }, { "id": "npcr2",
    "name": "新实用汉语课本 第二册", "alias": "New Practical Chinese Reader 2", "desc":
    "", "image": "site-media-lib/images/npcr1-cover.jpg", "textFolderId":
    "0B9-duwm5My1fS0kzVk8yUWxhTXc", "workFolderId": "" }, { "id": "npcr3",
    "name": "新实用汉语课本 第三册", "alias": "New Practical Chinese Reader 3", "desc":
    "", "image": "site-media-lib/images/npcr3-cover.jpg", "textFolderId":
    "0B9-duwm5My1fWHNMaUFqa3pNN1E", "workFolderId": "" }, { "id": "npcr4",
    "name": "新实用汉语课本 第四册", "alias": "New Practical Chinese Reader 4", "desc":
    "第四册紧接前三册内容，为学习者提供与时俱进的语言知识学习和技能操练的内容板块，同时每课讨论的话题均为与中国国情、习俗和文化密切相关的内容，练习丰富多样。本书可进一步培养学习者运用汉语进行交际的能力。",
    "image": "site-media-lib/images/npcr4-cover.jpg", "textFolderId":
    "0B9-duwm5My1fTnI0NUNlc2ZjVjg", "workFolderId":
    "0B9-duwm5My1ffnpLZmxWRWw4NnlIZkV0cEpBdld3WVB3c0V3Nmk4U0pWTXh6MTVyQl9sSE0"
    }, { "id": "npcr5", "name": "新实用汉语课本 第五册", "alias": "New Practical Chinese
    Reader 5", "desc":
    "本册为中级阶段课本，共十课。以学习者为中心，采用圆周式编排方法，语言结构、功能、文化等因素多次循环重现。全书内容题材广泛，版块式安排，使核心内容和补充内容分割清晰又易于根据需要进行选择。每课包括课文、生词、注释、练习、运用、会话练习、阅读、复述、语音、语音练习、语法、汉字和文化知识等内容。",
    "image": "site-media-lib/images/npcr5-cover.jpg", "textFolderId":
    "0B9-duwm5My1fY1VaTk9lazZiYVk", "workFolderId":
    "0B9-duwm5My1ffnFXd25ZUEIwUk5Uanc3N2VMRFVLUmw1YnlLNW5kSlpoRkhORGctTUs5UWM"
    }, { "id": "workshop", "name": "阅读与写作", "alias": "Reading/Writing Workshop",
    "desc": "这里是一组文章供大家在这个学年阅读。在每篇文章的最后，有一些帮助理解文章的问题和作业。另外还有几个研究课题，大家可以自己选来做。",
    "image": "site-media-lib/images/independent-study.jpg", "textFolderId":
    "0B9-duwm5My1fMTVteVNlWFNSWE0", "workFolderId":
    "0B9-duwm5My1fSkNOYngxcWR1QUU" }, { "id": "reading", "name": "课外阅读材料",
    "alias": "Additional Reading Materials", "desc":
    "这里是一些程度不同的课外阅读材料，供教师在教学过程中配合教材使用。", "image":
    "site-media-lib/images/additional-reading.jpg", "textFolderId":
    "0B9-duwm5My1fNThVT2N1d1p3Nmc", "workFolderId": "" } ]</div>
  <script>
			createToc();
		</script>
</div>