<script>
	var AUDIO_FOLDER = 'https://gwca-media-library.appspot.com/clips/';
	var VIDEO_FOLDER = 'https://docs.google.com/a/greatwallchineseacademy.org/file/d/';
	var TITLE_ID = 'clip-title';
	var PLAYER_ID = 'video-player';

	/**
	 * Shows the specified article and hides all other articles.
	 */
	function showArticle(articleId) {
		var articles = document.querySelectorAll('.content');
		for (var i = 0; i < articles.length; i++) {
			articles[i].style.display = 'none';
		}

		var article = document.querySelector('#' + articleId);
		if (article == null) {
			article = articles[0];
		}
		article.style.display = 'inline';
	}

	/**
	 * Shows the article that is specified by the first parameter of the URL.
	 * For example: url?name=snow
	 */
	function showRequestedArticle() {
		var articleId = null;
		var parameter = location.search;
		if (parameter == null || parameter.length == 0) {
			var article = document.querySelector('.content');
			articleId = article.id;
		} else {
			articleId = parameter.split('=')[1];
		}
		showArticle(articleId);
	}

	/**
	 * Plays an audio clip when a button gets clicked.
	 */
	function playAudioClip(button) {
		// todo change background color to the default one for all the buttons

		// get the clip name and title
		button.style = 'background-color:yellow';
		var clipName = AUDIO_FOLDER + button.id + '.mp3';
		var desc = button.innerHTML;

		// display the clip's title to play
		var title = document.getElementById(TITLE_ID);
		title.innerHTML = 'Click on the play button to listen to ' + desc
				+ '  or select another clip to listen to.';

		// configure the player to play the title
		var player = document.getElementById(PLAYER_ID);
		var code = '<audio controls class="clip"><source src="' + clipName 
			+ '" type="audio/mpeg" /></audio>';
		player.innerHTML = code;
	}

	/**
	 * Plays a video clip when a button gets clicked.
	 */
	function playVideoClip(button) {
		// get the clip name and title
		button.style = 'background-color:yellow';
		var clipName = button.id;
		var desc = button.innerHTML;

		// display the clip's title to play
		var title = document.getElementById(TITLE_ID);
		title.innerHTML = 'Click on the play button to watch ' + desc
				+ ' or select another clip to watch.';

		// configure the player to play the title
		var player = document.getElementById(PLAYER_ID);
		var code = '<iframe' +
		' src="' + VIDEO_FOLDER + clipName + '/preview"' +
		' width="640" height="360">'
				+ ' </iframe>';
		player.innerHTML = code;
	}

	/**
	 * Looks up a word entry from the dictionary and shows the entry
	 */
	function lookup(phrase) {
		//alert('here in lookup ' + phrase.innerHTML + ', ' + WORD_PHRASE.length);
		var rect = phrase.getBoundingClientRect();
		var top = rect.top;
		var selectedText = phrase.innerHTML;
		if (selectedText && selectedText.length < 5) {
			for (var i = 0; i < WORD_PHRASE.length; i++) {
				var entry = WORD_PHRASE[i];
				if (entry.word == selectedText) {
					showWordEntry(entry, top);
					return;
				}
			}
		}
	}

	/**
	 * Shows the word entry in a pop-up div
	 */
	function showWordEntry(entry, top) {
		var item = document.querySelector('#entry');
		//alert('here in showEntity ' + item.innerHTML + ', ' + item.style.height);
		item.style.height = '100px';
		item.style.display = 'inline';
		item.style.top = top + 'px';
		item.querySelector('#word').innerHTML = entry.word;
		item.querySelector('#pinyin').innerHTML = entry.pinyin;
		item.querySelector('#translation').innerHTML = entry.translation;
		item.querySelector('#entry').innerHTML = entry.entry;
		item.querySelector('#phrases').innerHTML = entry.phrases;
		item.querySelector('#usage').innerHTML = entry.usage;
		item.style.height = item.scrollHeight + 'px';
	}

	/**
	 * Hides the word entry div
	 */
	function hideWordEntry(entry) {
		entry.style.display = 'none';
	}

	/**
	 * Loads the specified article and hides all other articles.
	 function loadArticle(articleId) {
	 //alert("loading books/workshop/" + articleId + ".html");
	 $('#content').load("books/workshop/" + articleId + ".html");
	 }
	 */

	var videoPages = [ {
		id : 'npcr1-video',
		title : 'NPCR-1 Video Clips',
		clips : [ {
			id : '0B9-duwm5My1feWVnSUxRMUVuRU0',
			title : 'Lesson 01'
		}, {
			id : '0B9-duwm5My1fVHZreHJteldzOWs',
			title : 'Lesson 02'
		}, {
			id : '0B9-duwm5My1fU015Sl9FTm5EVVE',
			title : 'Lesson 03'
		}, {
			id : '0B9-duwm5My1fS1JCd2kybFpRNlU',
			title : 'Lesson 04'
		}, {
			id : '0B9-duwm5My1fTjVqZGZkZlcxbm8',
			title : 'Lesson 05'
		}, {
			id : '0B9-duwm5My1fcGJKdHp2bnV3ZFk',
			title : 'Lesson 06'
		}, {
			id : '0B9-duwm5My1fdUFkTzFCR3RCcGM',
			title : 'Lesson 07'
		}, {
			id : '0B9-duwm5My1fRDBncEhTU1RfcTQ',
			title : 'Lesson 08'
		}, {
			id : '0B9-duwm5My1fSEQ5aEtwbVFkX3M',
			title : 'Lesson 09'
		}, {
			id : '0B9-duwm5My1fR3lUNGt2WmUtakk',
			title : 'Lesson 10'
		}, {
			id : '0B9-duwm5My1fd1NPTnNjN1hNRnc',
			title : 'Lesson 11'
		}, {
			id : '0B9-duwm5My1fLVdlclA3bmprelE',
			title : 'Lesson 12'
		}, {
			id : '0B9-duwm5My1fd3R3c2JUVk5feFU',
			title : 'Lesson 13'
		}, {
			id : '0B9-duwm5My1fajdFaXRKX09Yd1U',
			title : 'Lesson 14'
		} ],
		buttons : 5
	}, {
		id : 'npcr2-video',
		title : 'NPCR-2 Video Clips',
		clips : [ {
			id : '',
			title : ''
		} ],
		buttons : 5
	}, {
		id : 'npcr3-video',
		title : 'NPCR-3 Video Clips',
		clips : [ {
			id : '',
			title : ''
		} ],
		buttons : 5
	}, {
		id : 'npcr4-video',
		title : 'NPCR-4 Video Clips',
		clips : [ {
			id : '',
			title : ''
		} ],
		buttons : 5
	} ];

	var audioPages = [ {
		id : 'npcr1-audio',
		title : 'NPCR-1 Audio Clips',
		textBookClips : [ {
			id : '',
			title : ''
		} ],
		tbButtons : 5,
		workBookClips : [ {
			id : '',
			title : ''
		} ],
		wbButtons : 4
	}, {
		id : 'npcr2-audio',
		title : 'NPCR-2 Audio Clips',
		textBookClips : [ {
			id : '',
			title : ''
		} ],
		tbButtons : 5,
		workBookClips : [ {
			id : '',
			title : ''
		} ],
		wbButtons : 4
	}, {
		id : 'npcr3-audio',
		title : 'NPCR-3 Audio Clips',
		textBookClips : [ {
			id : '',
			title : ''
		} ],
		tbButtons : 5,
		workBookClips : [ {
			id : '',
			title : ''
		} ],
		wbButtons : 4
	}, {
		id : 'npcr4-audio',
		title : 'NPCR-4 Audio Clips',
		textBookClips : [ {
			id : '',
			title : ''
		} ],
		tbButtons : 5,
		workBookClips : [ {
			id : '',
			title : ''
		} ],
		wbButtons : 4
	} ];

	function createAudioPage(pageId) {
		var desc = getAudioPageDesc(pageId);
		var page = document.querySelector('#audio-template');
		var audioSrcName = getAudioSrcName(desc.textBookClips[0].id);
		var textBookTable = document.querySelector('#audio-textbook-table');
		var workBookTable = document.querySelector('#audio-workbook-table');

		// set the textbook table
		page.querySelector('#audio-page-title').value = desc.title;
		page.querySelector('#audio-src').src = audioSrcName;

		// create rows and columns of the text book table
		var tbody = textBookTable.tbody;
		for (var i = 0; i < desc.textBookClips.length; i += desc.tbButtons) {
			var row = document.createElement('tr');
			for (var j = 0; j < desc.tbButtons; j++) {
				var clip = desc.textBookClips[i + j];
				updateRow(row, clip);
			}
			tbody.appendChild(tr);
		}
		
		// create rows and columns of the work book table
		var tbody = workBookTable.tbody;
		for (var i = 0; i < desc.workBookClips.length; i += desc.wbButtons) {
			var row = document.createElement('tr');
			for (var j = 0; j < desc.wbButtons; j++) {
				var clip = desc.workBookClips[i + j];
				updateRow(row, clip);
			}
			tbody.appendChild(tr);
		}
	}

	function createVideoPage(pageId) {
		var desc = getVideoPageDesc(pageId);
		var page = document.querySelector('#video-template');
		var videoSrcName = getVideoSrcName(desc.clips[0].id);
		var table = document.querySelector('#video-clips-table');

		// set the clips table
		page.querySelector('#video-page-title').value = desc.title;
		page.querySelector('#video-src').src = videoSrcName;

		// create rows and columns of the video clips table
		var tbody = table.tbody;
		for (var i = 0; i < desc.clips.length; i += desc.buttons) {
			var row = document.createElement('tr');
			for (var j = 0; j < desc.buttons; j++) {
				var clip = desc.clips[i + j];
				updateRow(row, clip);
			}
			tbody.appendChild(tr);
		}
	}

	function updateRow(row, clip) {
		var column = document.createElement('td');
		column.width = '20px';
		row.appendChild(column);
		column = document.createElement('td');
		var button = document.createElement('button');
		button.id = getAudioSrcName(clip.id);
		button.onclick = function() {
			playAudioClip(this)
		};
		button.innerHTML = clip.title;
		column.appendChild(button);
		row.appendChild(column);
	}
	
	function getVideoSrcName(srcId) {
		return VIDEO_FOLDER + srcId + '/preview';
	}

	function getAudioSrcName(srcId) {
		return AUDIO_FOLDER + srcId + '.mp3';
	}

	function getAudioPageDesc(pageId) {
		for (var i = 0; i < audioPages.length; i++) {
			if (pageId = audioPages[i].id) {
				return audioPages[i];
			}
		}
		return audioPages[0];
	}

	function getVideoPageDesc(pageId) {
		for (var i = 0; i < videoPages.length; i++) {
			if (pageId = videoPages[i].id) {
				return videoPages[i];
			}
		}
		return videoPages[0];
	}
</script>

<div id="video-template" class='content'>
  <div class='lesson-text'>
    <h1 id='video-page-title' class="center-green">videoPage.title</h1>

    <div style="width: 640px; margin-left: 10px">
      <iframe id="video-src" src="videoPage.clips[0].id" width="640"
        height="360"></iframe>
    </div>

    <div style="width: 100%;">
      <p class="center-green">Click on the play button to watch, or select
        another clip to watch.</p>
    </div>

    <table id='video-clips-table' style='font-size: 10px; margin-left: 10px"'>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div id="audio-template" class='content'>
  <div class='lesson-text'>
    <h1 id='audio-page-title' class="center-green">audioPage.title</h1>

    <div style="width: 100%;">
      <p class="center-green">Select a workbook clip to listen to.</p>
    </div>

    <table id='audio-textbook-table' class="center-block"
      style='font-size: 10px;'>
      <tbody>
      </tbody>
    </table>

    <div style="width: 100%;">
      <p class="center-green">Select a workbook clip to listen to.</p>
    </div>

    <table id='audio-workbook-table' class="center-block"
      style='font-size: 10px;'>
      <tbody>
      </tbody>
    </table>

    <div class="center-block">
      <div class='lesson-recording'>
        <audio controls class="clip">
          <source id="audio-src" src="audioPage.textBookClips[0].id"
            type="audio/mpeg" />
        </audio>
      </div>
    </div>

    <div style="width: 100%;">
      <p class="center-green">Click on the play button to start, or select
        another clip to listen to.</p>
    </div>
  </div>
</div>
