<?!= include('word-css'); ?>
<?!= include('word-js'); ?>
<div>
  <div id="show-panel">
    <div id="image-panel">
      <img id="word-image" />
    </div>

    <div id="word-panel">
      <span id="word-pinyin"></span>
      <p id="word-phrase1"></p>
      <p id="word-phrase2"></p>
    </div>

    <div id="text-panel">
      <p id="word-text"></p>
    </div>
  </div>

  <script>setWordOfWeek();</script>
</div>
