<!doctype html>
<html>
 <head> 
  <meta charset="UTF-8"> 
  <base href="https://gwca-classroom.appspot.com/"> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script> 
  <script src="scripts/course-list.js"></script> 
  <script src="scripts/course.js"></script> 
  <link rel="stylesheet" type="text/css" href="scripts/books.css"> 
 </head> 
 <body> 
  <!-- The page container with the panels of header, navigation and article --> 
  <div id="page-container" class="container" data-ng-app="course" data-ng-controller="courseController" data-ng-init="init()"> 
   <header> 
    <a href="books/books.html"> <img src="images/sites/GWCALogo.gif" height="60px" class="image-left"></a> 
    <p class="header-text">{{selectedCourse.description}}</p> 
   </header> 
   <nav> 
    <p id="toc-image" data-ng-show="selectedCourse.image.length > 0"> <img data-ng-src="{{selectedCourse.image}}" height="80px" class="image-center"> </p> 
    <p class="sidebar-chinese-title">{{selectedCourse.title}}</p> 
    <div class="title-list"> 
     <ol> 
      <li class="charpter-index" data-ng-repeat="lesson in lessonTitles" data-ng-click="setLesson(lesson.lesson)"><span data-ng-style="{backgroundColor: lesson.bgcolor}">{{lesson.title}}</span></li> 
     </ol> 
    </div> 
    <div class="section-list" data-ng-show="sectionLabels.length > 0"> 
     <fieldset> 
      <legend> Select Content </legend> 
      <div data-ng-repeat="section in sectionLabels"> 
       <input type="radio" name="lesson-section" data-ng-checked="{{isSelectedSection(section)}}" data-ng-click="setSection(section.section)"> {{section.label}} 
      </div> 
     </fieldset> 
    </div> 
    <!-- Audio player to play the selected clip --> 
    <div id="audio-panel" data-ng-show="isAudio"> 
     <audio id="audio-player" controls class="side-clip"> 
      <source id="audio-source" src="" type="audio/mpeg"> 
     </audio> 
    </div> 
    <!-- Message panel --> 
    <p class="message">{{message}}</p> 
   </nav> 
   <article id="article-panel"> 
    <!-- Video player with the selected clip and text --> 
    <div data-ng-show="isVideo"> 
     <iframe id="video-panel" src="" width="400" height="230" style="display: inline; margin-left: 10px; float: right;"></iframe> 
    </div> 
    <!-- Text panel --> 
    <div id="text-panel"> 
     <div data-ng-bind-html="lessonText"></div> 
     <p class="next-text" data-ng-show="isMultiText" data-ng-click="getNextText()">Next Text</p> 
    </div> 
   </article> 
  </div>   
  <!-- The HTML elements for each lesson and section.--> 
  <div id="npcr2-15-1" class="hidden-panel"> 
   <h1 class="conversation-title2">第十五课 她去上海了</h1> 
   <h3 class="section-title2">（一）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">&nbsp;&nbsp;林&nbsp;&nbsp;娜：</span>力波，你来得真早。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>刚才银行人少，不用排队。林娜，你今天穿得很漂亮啊！</li> 
    <li><span class="char-name">&nbsp;&nbsp;林&nbsp;&nbsp;娜：</span>是吗？我来银行换钱，下午我还要去王府井买东西。</li> 
    <li><span class="char-name">【在银行换钱】</span></li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>今天一英镑换多少人民币？</li> 
    <li><span class="char-name">&nbsp;&nbsp;林&nbsp;&nbsp;娜：</span>一英镑换十一块五毛七分人民币。明天我要去上海旅行，得用人民币。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>什么？明天你要去上海吗？你刚从西安回北京，你真喜欢旅行！在西安玩儿得好不好？</li> 
    <li><span class="char-name">&nbsp;&nbsp;林&nbsp;&nbsp;娜：</span>我玩儿得非常好。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>吃得怎么样？</li> 
    <li><span class="char-name">&nbsp;&nbsp;林&nbsp;&nbsp;娜：</span>吃得还可以。这次住得不太好。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>你参观兵马俑了没有？</li> 
    <li><span class="char-name">&nbsp;&nbsp;林&nbsp;&nbsp;娜：</span>我参观兵马俑了。我还买了很多明信片，你到我那儿去看看吧。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>好啊：我也很想去西安旅行，你给我介绍介绍。看，该你了。</li> 
    <li><span class="char-name">&nbsp;&nbsp;林&nbsp;&nbsp;娜：</span>小姐，我想用英镑换人民币。这是五百英镑。</li> 
    <li><span class="char-name">工作人员：</span>好，给您五千七百八十五块人民币。请数一数。</li> 
   </ul> 
  </div> 
  <div id="npcr2-15-2" class="hidden-panel"> 
   <h1 class="conversation-title2">第十五课 她去上海了</h1> 
   <h3 class="section-title2">（二）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">马大为：</span>林娜，早！好久不见，你回英国了吗？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>我没有回英国，我去上海了。昨天刚回北京。</li> 
    <li><span class="char-name">马大为：</span>刚才宋华来了，他也问我，林娜去哪儿了？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>我给宋华写信了，他怎么不知道？他现在在哪儿？</li> 
    <li><span class="char-name">马大为：</span>他回宿舍了。上海怎么样？听说这两年上海发展得非常快，是不是？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>是啊，上海很大，也非常漂亮。那儿银行多，商场也多，我很喜欢上海。</li> 
    <li><span class="char-name">马大为：</span>上海东西贵不贵？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>东西不太贵。上海人做衣服做得真好，我买了很多件。</li> 
    <li><span class="char-name">马大为：</span>上海人喜欢说上海话，他们普通话说得怎么样？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>他们普通话说得很好，年轻人英语说得也很流利。</li> 
    <li><span class="char-name">马大为：</span>你学没学上海话？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>我会说“阿拉勿懂”。</li> 
    <li><span class="char-name">马大为：</span>你说什么？我不懂。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>这就是上海话的“我不懂”。</li> 
   </ul> 
  </div> 
  <div id="npcr2-15-3" class="hidden-panel"> 
   <h1 class="conversation-title2">第十五课 她去上海了</h1> 
   <h3 class="section-title2">张教授去上海</h3> 
   <div class="indented-text"> 
    <p>张教授在北京语言学院工作，他很喜欢旅行。他刚从英国回北京，上海的一个学院请他去上课。这个星期五他去上海了。张教授给那儿的学生上英国文学课，他课上得非常好，学生都很喜欢他的课。上海是一个大城市，这两年发展得很快。上海的商场很多，商场的东西也非常好，上海人做的衣服很有名。张教授去参观了很多有名的地方，他买了不少衣服，还买了很多明信片。他儿子在上海工作，是中国银行的工作人员。星期六儿子请他去吃饭，那个餐厅上海菜做得很好，也不太贵。张教授在上海玩儿得非常好，吃得也很好，住得还可以，一个星期过得真快。张教授会说西安话，也会一点儿上海话。可是他上海话说得不太好。他说：“现在上海人会说普通话，年轻人普通话和英语都说得很流利，在上海我不用说上海话。”</p> 
   </div> 
  </div> 
  <div id="npcr2-16-1" class="hidden-panel"> 
   <h1 class="conversation-title2">第十六课 我把这事儿忘了</h1> 
   <h3 class="section-title2">（一）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>这是北京图书馆。我们进去吧。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>这个图书馆真大。</li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>办公室在三楼，我们上楼去，先把借书证办了。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>今天就可以借书吗？</li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>可以，一会儿下来借书 …… 三楼到了。我看看，是这个办公室。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>先生，我想办借书证。</li> 
    <li><span class="char-name">工作人员：</span>您带照片来了吗？</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>带来了。</li> 
    <li><span class="char-name">工作人员：</span>请先填一张表。</li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>力波，你从那儿拿一张表来。我告诉你怎么填。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>我汉字写得太慢，你来填吧。</li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>不行。现在你在中国生活，你应该自己填表。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>好吧，我自己写。“姓名 </li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>：“丁力波”。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>“性别”写什么？</li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>自己看。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>自己看？啊，性别应该写“男”。“职业”呢？</li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>写“学生”。好了。你把这张表和照片交了，一会儿那位先生就给你借书证了。</li> 
   </ul> 
  </div> 
  <div id="npcr2-16-2" class="hidden-panel"> 
   <h1 class="conversation-title2">第十六课 我把这事儿忘了</h1> 
   <h3 class="section-title2">（二）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>我们借书证办了多长时间？</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>办了十五分钟，办得真快。</li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>今天办证的人不多。力波，听说你们上星期考试了，你考得怎么样？</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>我口语考得不错，可是翻译考得不太好，语法也有很多问题。我想借新的汉语课本看看。</li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>现在我们就去借书，我们从这儿出去。我得先把上次借的书还了。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>这儿的书可以借多长时间？</li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>可以借一个月。</li> 
    <li><span class="char-name">【还书］</span></li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>先生，我还书。</li> 
    <li><span class="char-name">工作人员：</span>…… 您的书过期了，您得交罚款。</li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>真对不起，这个月太忙，我把这事儿忘了。罚多少钱？</li> 
    <li><span class="char-name">工作人员：</span>一本书过期一天罚两毛，您借了四本书，过了十天，应该交八块钱。</li> 
    <li><span class="char-name">&nbsp;&nbsp;宋&nbsp;&nbsp;华：</span>给您八块。请问，汉语课本在哪儿？</li> 
    <li><span class="char-name">工作人员：</span>那儿有电脑，您可以先查查。</li> 
    <li><span class="char-name">&nbsp;&nbsp;丁力波：</span>有外国人学汉语的新课本吗？</li> 
    <li><span class="char-name">工作人员：</span>您找一找《新实用汉语课本》。</li> 
   </ul> 
  </div> 
  <div id="npcr2-16-3" class="hidden-panel"> 
   <h1 class="conversation-title2">第十六课 我把这事儿忘了</h1> 
   <h3 class="section-title2">广东的茶楼</h3> 
   <div class="indented-text"> 
    <p>不少广东老人的每一天都从茶楼开始。他们都起得很早，五点半就出来散步，锻炼身体，六点钟就到了茶楼。那儿老人很多，他们跟认识的人问好，跟朋友说说昨天的事儿。王先生每天都带报来，他喜欢自己看看报，喝喝茶，等女儿和小孙女儿来。他等了一会儿，她们都来了。这时候，很多家的爸爸、妈妈、外婆、奶奶，还有孩子们，也都来了，一家人在一起吃饭、喝茶、休息。孩子们不想吃，也不想喝，他们喜欢在一起玩儿，真热闹啊！很多年轻人也都在这儿看报，他们要知道今天的新事儿和新问题。广东人常说：他们来喝茶，喝的是茶楼里的热闹，喝的是一家人一起吃饭的快乐。把茶喝了，把东西吃了，把报也看了，年轻人就去工作了；老人们新的一天也开始了。</p> 
   </div> 
  </div> 
  <div id="npcr2-17-1" class="hidden-panel"> 
   <h1 class="conversation-title2">第十七课 这件旗袍比那件漂亮</h1> 
   <h3 class="section-title2">（一）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">丁力波：</span>王小云，哪儿卖中式衣服？</li> 
    <li><span class="char-name">王小云：</span>你不知道吗？你来北京多长时间了？</li> 
    <li><span class="char-name">丁力波：</span>我来北京半年了。可是你在北京已经二十年了，你是北京人，你当然比我知道得多。</li> 
    <li><span class="char-name">王小云：</span>你说得对。现在北京的商店和商场多极了。大商场的东西比小商店的东西贵，可是小商店的东西不一定比大商场的差。你为什么现在想买中式衣服？</li> 
    <li><span class="char-name">丁力波：</span>从下星期开始，我要学太极拳，我得穿一套中式衣服。</li> 
    <li><span class="char-name">王小云：</span>好极了！你穿中式衣服一定很帅。你喜欢什么颜色的，黑的还是红的？</li> 
    <li><span class="char-name">丁力波：</span>我喜欢白的。</li> 
    <li><span class="char-name">王小云：</span>我也喜欢白的，白的漂亮。你想买好的还是买便宜的？</li> 
    <li><span class="char-name">丁力波：</span>我不要太贵的，也不要太便宜的。你说该去哪儿买？</li> 
    <li><span class="char-name">王小云：</span>去王府井吧。那儿东西多，可能贵一点儿。</li> 
    <li><span class="char-name">丁力波：</span>贵一点儿没关系。我们下午就去吧，我还想去公园走走。</li> 
   </ul> 
  </div> 
  <div id="npcr2-17-2" class="hidden-panel"> 
   <h1 class="conversation-title2">第十七课 这件旗袍比那件漂亮</h1> 
   <h3 class="section-title2">（二）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>两个小时过去了，你要的衣服还没买。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>谁说我没有买？我已经买了衬衫了。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>你要的旗袍呢？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>刚才看的旗袍都不错，我真想都买了。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>我们还有时间，可以再多看看。这件绿的怎么样？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>这件漂亮极了，颜色、样子都比刚才看的旗袍好。</li> 
    <li><span class="char-name">售货员：</span>您可以试一试。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>好。我觉得这件大点儿，是不是？</li> 
    <li><span class="char-name">售货员：</span>我给您换一件小的。这件是三十八号，比那件小两号。您再拿去试试吧。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>这件比那件合适，宋华，你看怎么样？</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>我觉得这件太短了。</li> 
    <li><span class="char-name">售货员：</span>对，您比我高，得穿长点儿的，我再给您找找。有了，这件红的比那件绿的长两公分。您再试一试这件。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>小姐，太麻烦您了，真不好意思。这件很合适。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>这件红旗袍比那件绿的漂亮。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>可是也贵多了。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>比那件贵多少？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>贵九十块钱。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>丝绸的当然贵一点儿。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>好吧，我就买这件。宋华，现在该去买你的了。你穿多大号的？想不想试试那套西服？</li> 
   </ul> 
  </div> 
  <div id="npcr2-17-3" class="hidden-panel"> 
   <h1 class="conversation-title2">第十七课 这件旗袍比那件漂亮</h1> 
   <h3 class="section-title2">“高一点儿”（相声)</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>王先生，听说你也开始写相声了？</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>我写得很少，今年写了五个很短的相声，您呢？</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>我工作很忙，也写得不多。今年写了十五个不太短的相声。</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>比我多十个！您真了不起。</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>不客气。你写相声有问题，可以来问我。你还翻译了一本书，对不对？</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>对，书很薄，两百页。</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>我也翻译了一本很薄的书。</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>多少页？</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>五百页。</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>比我的多三百页！您真了不起。</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>不客气。你翻译有问题，可以来问我。你的衬衫是什么料子的？</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>是布的。</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>我穿的衬衫是丝绸的。</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>您的比我的好多了。</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>不客气。你今年多大？</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>我今年三十，您呢？</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>我今年三十一。</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>您比我大一岁。</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>不客气。你多高？</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>172公分，您呢？</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>我现在173公分，比你高一点儿。</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>是啊，您总是比我高一点儿。</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>不客气。你的表现在几点？</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>九点。</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>我的现在十点。</li> 
    <li><span class="char-name">&nbsp;&nbsp; B：</span>您的表也比我们的快一个小时。</li> 
    <li><span class="char-name">&nbsp;&nbsp; A：</span>不客气。――啊？</li> 
   </ul> 
  </div> 
  <div id="npcr2-18-1" class="hidden-panel"> 
   <h1 class="conversation-title2">第十八课 我听懂了，可是记错了</h1> 
   <h3 class="section-title2">（一）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">&nbsp;&nbsp;马大为：</span>小姐，我要寄这个包裹。 </li> 
    <li><span class="char-name">工作人员：</span>好，我看一下。</li> 
    <li><span class="char-name">&nbsp;&nbsp;马大为：</span>这些书都是新的。这四本书是中文的，那两本书是英文的。这本大词典是旧的 ……</li> 
    <li><span class="char-name">工作人员：</span>好了，请包好。</li> 
    <li><span class="char-name">&nbsp;&nbsp;马大为：</span>对不起，这是我刚学的课文，我想练习练习。</li> 
    <li><span class="char-name">工作人员：</span>您汉语说得很流利。您要往哪儿寄？</li> 
    <li><span class="char-name">&nbsp;&nbsp;马大为：</span>美国。</li> 
    <li><span class="char-name">工作人员：</span>您寄航空还是海运？</li> 
    <li><span class="char-name">&nbsp;&nbsp;马大为：</span>寄航空比海运贵，可是比海运快多了。寄航空吧。</li> 
    <li><span class="char-name">工作人员：</span>邮费是106块。请在这儿写上您的名字。</li> 
    <li><span class="char-name">&nbsp;&nbsp;马大为：</span>小姐，我还要取一个包裹。</li> 
    <li><span class="char-name">工作人员：</span>请把包裹通知单给我。对不起，您的包裹不在我们邮局取，您得去海关取。</li> 
    <li><span class="char-name">&nbsp;&nbsp;马大为：</span>请问，海关在哪儿？</li> 
    <li><span class="char-name">工作人员：</span>在建国门。别忘了把您的护照带去。</li> 
    <li><span class="char-name">&nbsp;&nbsp;马大为：</span>谢谢。</li> 
    <li><span class="char-name">工作人员：</span>不客气。</li> 
   </ul> 
  </div> 
  <div id="npcr2-18-2" class="hidden-panel"> 
   <h1 class="conversation-title2">第十八课 我听懂了，可是记错了</h1> 
   <h3 class="section-title2">（二）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">丁力波：</span>大为，现在该去海关办你的事儿了。从这儿怎么去海关？</li> 
    <li><span class="char-name">马大为：</span>海关在……我想想，叫什么门。</li> 
    <li><span class="char-name">丁力波：</span>这儿有803路公共汽车，经过前门。</li> 
    <li><span class="char-name">马大为：</span>对，好像是前门吧。车来了，咱们先上去。</li> 
    <li><span class="char-name">售票员：</span>请大家往里走。下一站，前门。下车的乘客请拿好自己的东西；刚上车的请买票。</li> 
    <li><span class="char-name">马大为：</span>小姐，请问海关是不是在前门？</li> 
    <li><span class="char-name">售票员：</span>海关是在建国门，不是在前门。</li> 
    <li><span class="char-name">丁力波：</span>我们坐错车了。</li> 
    <li><span class="char-name">售票员：</span>没关系，您可以在前门下车，在那儿换地铁到建国门。</li> 
    <li><span class="char-name">马大为：</span>没有坐错？好极了！买两张到前门的。</li> 
    <li><span class="char-name">售票员：</span>一块一张。您这是五块，找您三块。请拿好票。</li> 
    <li><span class="char-name">丁力波：</span>大为，你说昨天邮局的工作人员告诉你了，你听懂了没有？</li> 
    <li><span class="char-name">马大为：</span>我听懂了，可是记错了。</li> 
    <li><span class="char-name">丁力波：</span>我得查一查，你把护照带来了吗？</li> 
    <li><span class="char-name">马大为：</span>当然带来了，你放心吧！</li> 
    <li><span class="char-name">丁力波：</span>包裹通知单呢？</li> 
    <li><span class="char-name">马大为：</span>糟糕，我把包裹通知单忘了。</li> 
   </ul> 
  </div> 
  <div id="npcr2-18-3" class="hidden-panel"> 
   <h1 class="conversation-title2">第十八课 我听懂了，可是记错了</h1> 
   <h3 class="section-title2">聪明的爸爸和儿子</h3> 
   <div class="indented-text"> 
    <p>1．寄信爸爸写了两封信，一封信的信封是大的，一封信的信封是小的。他让儿子去邮局寄。过了一会儿，儿子回家了。爸爸问：“你把信寄了吗？”儿子说：“寄了。爸爸，您把邮票贴错了。往西安寄的信是小的，您贴了五块钱邮票；往加拿大寄的信是大的，您贴了八毛钱邮票。”爸爸问儿子：“你把邮票换了吗？”儿子说：“您已经贴好了邮票了，我不能换邮票，我把里边的信换了。”</p> 
    <p>2．把我寄去爸爸买来一套音乐光盘，说：“把这套光盘给奶奶，她喜欢听音乐。”他包好光盘，贴上邮票，和儿子一起到邮局把光盘寄了。过了两个星期，奶奶来信了，她说：“下个月让我的小孙子到上海来玩儿吧，我很想他。”爸爸想了一会儿，说：“下个月我和你妈妈都很忙，谁送你去啊？”儿子说：“没关系，爸爸，您在我身上贴上邮票，把我寄去！"</p> 
    <p>3．爸爸没有帮我儿子每天的练习都做得不对，可是昨天的练习都做对了。老师很高兴，问他：“每天你练习都做得不好，为什么昨天做得很好？饮爸爸昨天一定帮助你了。”儿子说：“没有。老师，我爸爸昨天晚上没有回家，我想我应该自己做了。”</p> 
   </div> 
  </div> 
  <div id="npcr2-19-1" class="hidden-panel"> 
   <h1 class="conversation-title2">第十九课 中国画跟油画不一样</h1> 
   <h3 class="section-title2">（一）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">丁力波：</span>咱们来早了，美术馆还没有开门呢。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>来早了比来晚了好。今天我一定要参观一个上午。</li> 
    <li><span class="char-name">丁力波：</span>你真喜欢中国画！</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>是啊，我非常喜欢徐悲鸿画的马。</li> 
    <li><span class="char-name">丁力波：</span>我跟你一样，也很喜欢中国画。从我十岁开始，妈妈就教我画中国画。你说说，我中国画画了多少年了？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>啊，已经画了十一年了！我真不知道您还是一位“老画家”。</li> 
    <li><span class="char-name">丁力波：</span>不敢当。我爸爸跟我妈妈一样喜欢中国画，可是他自己不会画。我爸爸也有很多爱好，他喜欢唱中国京剧。现在他在家还常常唱京剧。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>他唱得怎么样？</li> 
    <li><span class="char-name">丁力波：</span>他唱京剧跟我画中国画一样，马马虎虎。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>我想买一幅中国画。大画家画的一定很贵，是不是？</li> 
    <li><span class="char-name">丁力波：</span>徐悲鸿画的马当然贵极了。我认识一位“老画家”，他画的马不贵。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>这位老画家是谁？</li> 
    <li><span class="char-name">丁力波：</span>是丁力波啊！我可以把我画好的马送你。</li> 
   </ul> 
  </div> 
  <div id="npcr2-19-2" class="hidden-panel"> 
   <h1 class="conversation-title2">第十九课 中国画跟油画不一样</h1> 
   <h3 class="section-title2">（二）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">丁力波：</span>咱们已经看了一个半小时的画儿了，二楼的还没有看呢。现在是不是坐电梯上楼去？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>好吧。力波，你觉得中国画跟油画一样不一样？</li> 
    <li><span class="char-name">丁力波：</span>当然一样，都是画儿啊。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>别开玩笑。</li> 
    <li><span class="char-name">丁力波：</span>我没有开玩笑，我是说中国画跟油画一样美。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>你说说哪儿不一样？</li> 
    <li><span class="char-name">丁力波：</span>你找对人了，我来告诉你吧。中国画和油画用的材料不一样</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>怎么不一样？</li> 
    <li><span class="char-name">丁力波：</span>中国画用纸，油画常常用布；中国画主要用墨和水画，油画一定要用油彩画。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>对，还有别的吗？</li> 
    <li><span class="char-name">丁力波：</span>油画没有空白，中国画常常有空白。你看这幅徐悲鸿的画儿：画家只画了一匹马，没有画别的。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>可是我们觉得还有别的东西。让我们来想像一下：那匹马往咱们这儿跑来了，我觉得它跑得非常快，好像还有风。</li> 
    <li><span class="char-name">丁力波：</span>对了。这就跟齐白石画的虾一样，它们游来游去，真可爱！你看，画家画水了吗？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>没画，可是我觉得有水。</li> 
    <li><span class="char-name">丁力波：</span>中国画是不是跟油画很不一样？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>谢谢你的介绍。可是我还想看看“老画家”画的马怎么样。</li> 
   </ul> 
  </div> 
  <div id="npcr2-19-3" class="hidden-panel"> 
   <h1 class="conversation-title2">第十九课 中国画跟油画不一样</h1> 
   <h3 class="section-title2">管孩子还是不管孩子</h3> 
   <div class="indented-text"> 
    <p>我女儿今年14岁，她已经开始不听我们的话了，常常让我和她妈妈生气。我们让她学画画儿，每个星期天我都不休息，跟她一起坐公共汽车到老师家去。可是刚学了两个月，她说画画儿不容易，她不想学了。我们让她学钢琴，把钢琴也买来了。现在刚学了一个月，她说学钢琴跟学画儿一样没意思。我们不知道该怎么办？是不是别的孩子都跟我的女儿一样？昨天我到书店去，想找一本怎么教育孩子的书。售货员给我找出了三本书：一本是《别管孩子》，一本是《孩子不能不管》，还有一本是《管还是不管孩子》。我把三本书都买来了，也都看了，可是三本书的观点一本跟一本不一样。我常常想，应该怎样教育孩子，大人的观点跟孩子不一样，外国人的观点跟中国人不一样，孩子跟孩子也不一样。大人让孩子学钢琴，可是这个孩子可能听到钢琴就头疼；大人想让孩子学画儿，可是孩子喜欢唱京剧。听说外国的孩子下课就可以做自己喜欢的事情，中国的孩子晚上11点还要做练习。我朋友的孩子不用她爸爸妈妈管，可是我女儿……管孩子还是不管孩子，真是一个大问题啊！</p> 
   </div> 
  </div> 
  <div id="npcr2-20-1" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十课 过新年</h1> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">王小云：</span>中午咱们都去宋华家吃火锅，他爸爸、妈妈要我们跟他们一起过新年。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>在北京过新年一定很有意思。小云，为什么北京很多饭馆都有火锅？是不是因为现在天气冷，所以北京人常吃火锅？</li> 
    <li><span class="char-name">王小云：</span>不是。北京人就爱吃火锅，主要是测羊肉，天气热的时候也吃。北京的测羊肉跟北京烤鸭一样有名。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>过新年的时候北京人都吃测羊肉吗？</li> 
    <li><span class="char-name">王小云：</span>不一定。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>你说说北京人怎么过新年。</li> 
    <li><span class="char-name">王小云：</span>跟西方人一样，很多人去旅行。也可能开车去郊区玩儿，或者去锻炼身体。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>晚上常常做些什么？</li> 
    <li><span class="char-name">王小云：</span>晚上看京剧、听音乐会或者跟朋友聚会。我说林娜，快点儿吧！你化妆化了半个小时了。咱们得早点儿走。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>一会儿就好。今天晚上咱们还要去听音乐会，所以得正式一点儿。</li> 
    <li><span class="char-name">王小云：</span>你知道吗？今天晚上听中国民乐，它跟西方音乐很不一样。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>我知道，中国民乐主要是用民族乐器演奏的中国音乐。刚来的时候我不太习惯听民乐，可是现在我很爱听。</li> 
    <li><span class="char-name">王小云：</span>你喜欢《春江花月夜》吗？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>啊，《春江花月夜》美极了。我已经买了这个乐曲的光盘，今天还要再买一些，给我朋友寄去。咱们怎么去宋华家？坐出租车还是坐公共汽车？</li> 
    <li><span class="char-name">王小云：</span>今天路上的车一定很多。出租车比公共汽车快多了，坐出租车吧。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>咱们还没有买礼物呢。送花儿是西方人的习惯，我们参咖聚会的时候也可以带吃的、喝的。中国人去朋友家的时候送什么？</li> 
    <li><span class="char-name">王小云：</span>过去常送一些吃的、喝的或者用的，现在的年轻人跟西方人一样，也常送花儿。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>咱们买些花儿，再带些吃的吧。</li> 
    <li><span class="char-name">王小云：</span>好。别忘了把照相机带去。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>我的照相机呢？</li> 
    <li><span class="char-name">王小云：</span>在电话旁边。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>大为和力波怎么不给咱们打个电话？</li> 
    <li><span class="char-name">王小云：</span>我不知道大为能不能去，因为他要跟女朋友一起去旅行。力波一定去，他说要从这儿出发。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>再等一等他吧。</li> 
    <li><span class="char-name">王小云：</span>好。咱们把陆雨平也叫去，让他写一篇文章，介绍留学生在中国怎么过新年。</li> 
   </ul> 
  </div> 
  <div id="npcr2-20-2" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十课 过新年</h1> 
   <h3 class="section-title2">（二）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">丁力波：</span>小云,林娜，新年好！恭喜恭喜！</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>恭喜你！大为呢？</li> 
    <li><span class="char-name">丁力波：</span>大为昨天晚上就坐火车去南方了。</li> 
    <li><span class="char-name">王小云：</span>你又来晚了。</li> 
    <li><span class="char-name">丁力波：</span>真不好意思。二位小姐别着急，出租车已经来了。</li> 
    <li><span class="char-name">王小云：</span>你把出租车叫来了，太好了。咱们快走。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>你给宋华带什么礼物去？</li> 
    <li><span class="char-name">丁力波：</span>今年是马年，我又画了一匹马。你们看，画得怎么样？</li> 
   </ul> 
  </div> 
  <div id="npcr2-20-3" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十课 过新年</h1> 
   <h3 class="section-title2">画蛇添足</h3> 
   <div class="indented-text"> 
    <p>一天，几个朋友在一起喝酒。他们人很多，可是酒太少，只有一瓶。应该把这瓶酒给谁呢？一个年轻人说：“我们每人都画一条蛇，画得最快的人喝这瓶酒，好吗？”大家都说：“好。”他们开始画蛇。那个年轻人比别的人画得快，他非常高兴，说：“你们画得太慢了！我比你们画得快多了！看，现在我还有时间，我再给蛇添上脚吧：”他就开始画蛇的脚了：一会儿，他旁边的一个人说：“我画完了，这瓶酒应该给我。”年轻人听了很着急，说：“不对！你画得比我慢，我早就画完了。你看，我还给蛇添了脚呢。这瓶酒是我的。”旁边的那个人说：“大家都知道蛇没有脚，你画了脚，所以你画的不是蛇。最早画完蛇的是我，不是你。”大家说：“他说得对。我们应该把这瓶酒给他。”一个人做了多余的事儿，就叫“画蛇添足”。</p> 
   </div> 
  </div> 
  <div id="npcr2-21-1" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十一课 我们的队员是从不同国家来的</h1> 
   <h3 class="section-title2">（一）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">陆雨平：</span>听说上星期你们留学生队赢了一场足球比赛。我想写一篇文章，介绍一下留学生足球队的事儿。</li> 
    <li><span class="char-name">丁力波：</span>太好了。你是怎么知道的？</li> 
    <li><span class="char-name">陆雨平：</span>我是听你的同学说的。别忘了我是记者，我今天是来问你们问题的。你们留学生队是跟谁比赛的？</li> 
    <li><span class="char-name">丁力波：</span>我们队是跟中国大学生队比赛的。</li> 
    <li><span class="char-name">陆雨平：</span>你们是在哪儿比赛的？</li> 
    <li><span class="char-name">王小云：</span>是在我们学校比赛的。</li> 
    <li><span class="char-name">陆雨平：</span>中国大学生队的水平比你们高吧？</li> 
    <li><span class="char-name">丁力波：</span>他们的水平比我们高多了。</li> 
    <li><span class="char-name">王小云：</span>宋华说，大学生队的教练是从国家队来的。</li> 
    <li><span class="char-name">陆雨平：</span>他是什么时候从国家队下来的？</li> 
    <li><span class="char-name">王小云：</span>他是去年从国家队下来的。这位教练来了以后，大学生队的水平提高得很快。</li> 
    <li><span class="char-name">丁力波：</span>大学生队的10号踢得很好。左边的5号、右边的12号跑得都很快。</li> 
    <li><span class="char-name">陆雨平：</span>你们留学生队呢？</li> 
    <li><span class="char-name">丁力波：</span>我们的队员是从不同国家来的，我们不常练习。</li> 
    <li><span class="char-name">陆雨平：</span>你们是怎么赢的？</li> 
    <li><span class="char-name">丁力波：</span>上半场0比0。下半场他们帮助我们进了一个球，是1比0赢的。</li> 
   </ul> 
  </div> 
  <div id="npcr2-21-2" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十一课 我们的队员是从不同国家来的</h1> 
   <h3 class="section-title2">（二）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">陆雨平：</span>我还要问问你们：你们去看大为租的房子了没有？房子在房子在学校东边，离学校不太远。那儿叫花园小区，大为住八号楼。</li> 
    <li><span class="char-name">陆雨平：</span>你们是怎么去的？</li> 
    <li><span class="char-name">丁力波：</span>我们是坐公共汽车去的。车站就在小区前边。下车以后先往右拐，再往前走三分钟，就到八号楼了。</li> 
    <li><span class="char-name">陆雨平：</span>那儿怎么样？</li> 
    <li><span class="char-name">丁力波：</span>很好。八号楼下边是一个小花园，左边有一个商店，商店旁边是书店。右边是银行和邮局。大为的房子在八号楼九层，上边还有六层。</li> 
    <li><span class="char-name">陆雨平：</span>房子不大吧？</li> 
    <li><span class="char-name">王小云：</span>那套房子一共有56平方米。</li> 
    <li><span class="char-name">丁力波：</span>进门以后，左边是卫生间，右边是客厅。</li> 
    <li><span class="char-name">陆雨平：</span>厨房在哪儿？</li> 
    <li><span class="char-name">王小云：</span>厨房在客厅北边，卧室在客厅东边。卧室外边有一个大阳台。</li> 
    <li><span class="char-name">丁力波：</span>记者先生，你问了很多问题，你也要写一篇文章介绍马大为租的房子吧？</li> 
    <li><span class="char-name">陆雨平：</span>问问题是记者的职业习惯啊。</li> 
   </ul> 
  </div> 
  <div id="npcr2-21-3" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十一课 我们的队员是从不同国家来的</h1> 
   <h3 class="section-title2">南方的花园</h3> 
   <div class="indented-text"> 
    <p>中国人常说：“上有天堂，下有苏杭。”意思是：苏州和杭州这两个城市跟天堂一样美。它们都在中国的南方，是中国南方的“花园”。它们的美在哪儿呢？一一杭州的山水和苏州的园林。苏州的园林非常有名。那些园林是过去一些有钱人请人修建的。园林里边有山、有水、有花儿，真是一幅非常美的山水画。中国的园林跟西方的园林很不一样。中国的园林好像是一幅中国画，是用水和墨画的；西方的园林好像是油画，是用油彩画的。因为中国的园林常常是画家和诗人设计的，西方的园林常常是建筑师设计的，所以它们的美很不同。</p> 
   </div> 
  </div> 
  <div id="npcr2-22-1" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十二课 你看过越剧没有</h1> 
   <h3 class="section-title2">（一）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>林娜，你看过越剧没有？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>没有。来中国以后，我听过两次音乐会，看过一次京剧。我虽然去过南方，但是没有看过越剧。昨天的报上说，南方的一个越剧团到北京来了。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>是啊，越剧是中国有名的地方戏。这个剧团是从上海来的，现在在长安大戏院上演《红楼梦》。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>上演《红楼梦》吗？太好了！我知道《红楼梦》是中国有名的古典小说，我看过一遍，是用英文翻译的。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>你觉得这部小说怎么样？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>我觉得小说里的爱情故事非常感人。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>你想不想再看一次越剧的《红楼梦》？我有两张票。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>当然想看。是什么时候的票？</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>是明天晚上七点一刻的。座位很好，楼下五排八号和十号。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>我没去过长安大戏院。这个戏院在哪儿？</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>我去过啊，长安大戏院离建国门不远，就在建国门的西边。咱们一起打的去。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>好，明天见。</li> 
   </ul> 
  </div> 
  <div id="npcr2-22-2" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十二课 你看过越剧没有</h1> 
   <h3 class="section-title2">（二）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>你觉得越剧《红楼梦》怎么样？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>我从来没有看过这么感人的戏二4两个主角演得好极了。我觉得越剧的音乐特别优美，越剧的风格跟京剧很不一样。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>你说得很对。你可能还不知道，很早以前京剧里没有女演员，都是男演员演女角色。越剧跟京剧不同，以前没有男演员，让女演员演男角色。所以越剧的风格和京剧很不一样。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>听说中国地方戏的种类很多，每个地方都有吧？</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>是啊，每种地方戏都有自己的风格，每个地方的人都习惯看自己的地方戏，但是京剧是全中国的，喜欢京剧的人特别多。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>中国京剧团两年以前到英国访问过，我跟爸爸妈妈一起去看过一次。他们都觉得京剧很美。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>很多外国朋友都喜欢中国京剧，一些外国留学生近读日北京来学京剧。现在他们有的人会唱京剧，有的人还会演京剧。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>我有一个朋友，也是英国留学生，他就会演京剧。</li> 
   </ul> 
  </div> 
  <div id="npcr2-22-3" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十二课 你看过越剧没有</h1> 
   <h3 class="section-title2">《红楼梦》里的爱情故事</h3> 
   <div class="indented-text"> 
    <p>中国古典小说《红楼梦》里有一个优美、悲伤的爱情故事二故事里的男主角叫贾宝玉，是在有钱人的家里出生的：他很漂亮，也很聪明。故事里的女主角是一个非常美的姑娘，叫林黛玉，她从南方来到贾家生活。她比贾宝玉小一岁，看过很多书，写诗写得很好，还会画画儿。他们每天一起吃饭、看书，一起写诗、画画儿。贾宝玉很爱林黛玉，林黛玉也特别喜欢贾宝玉。可是贾宝玉的奶奶和爸爸妈妈都不愿意他们相爱，他们一定要让他和别的姑娘结婚。贾宝玉不愿意，在他生病的时候，奶奶骗他，让他跟别的姑娘结了婚。就在贾宝玉结婚的时候，林黛玉在自己的卧室里把她写给贾宝玉的诗都烧了，也烧了他送给她的礼物。她哭了一天，就死了。林黛玉死了以后，贾宝玉到她的房子去过很多次，每次都悲伤极了。他回忆他们有过的每一次聚会，回忆他们有过的快乐。他不愿意和那个跟他结婚的姑娘一起生活。他离开了家。</p> 
   </div> 
  </div> 
  <div id="npcr2-23-1" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十三课 我们爬上长城来了</h1> 
   <h3 class="section-title2">（一）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">陈老师：</span>要放假了，同学们有什么打算？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>有的同学去旅行，有的同学回家。</li> 
    <li><span class="char-name">陈老师：</span>小云，你呢？</li> 
    <li><span class="char-name">王小云：</span>我打算先去泰山，再回家看我爸爸妈妈。林娜，你去过，同学们有什么打算？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>泰山我去过一次了。这次我想去海南岛旅行。</li> 
    <li><span class="char-name">王小云：</span>你跟宋华一起去吧？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>是啊，去海南岛旅行就是他提出来的。</li> 
    <li><span class="char-name">王小云：</span>你们坐飞机去还是坐火车去？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>坐飞机去。机票已经买好了。力波呢？去不去泰山？</li> 
    <li><span class="char-name">王小云：</span>去。他说他要从山下爬上去，再从山顶走下来。他还说先爬泰山，再去参观孔子教书的地方。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>对了，大为想去哪儿？</li> 
    <li><span class="char-name">王小云：</span>小燕子建议大为也去海南岛。她说现在那儿天气好，气温合适，能去游泳，还可以看优美的景色。现在北京是冬天，可是在海南岛还可以过夏天的生活，多有意思啊！</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>小燕子是导游小姐，旅行的事儿她知道得很多，应该听她的。大为可以跟我们一起去。</li> 
    <li><span class="char-name">王小云：</span>大为还建议放假以前咱们一起去长城：冻老师，您能不能跟我们一起去？</li> 
    <li><span class="char-name">陈老师：</span>行。我很愿意跟你们一起去爬一次长城。</li> 
   </ul> 
  </div> 
  <div id="npcr2-23-2" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十三课 我们爬上长城来了</h1> 
   <h3 class="section-title2">（二）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">王小云：</span>陈老师、林娜，加油！快上来！</li> 
    <li><span class="char-name">陈老师：</span>力波、大为他们呢？</li> 
    <li><span class="char-name">王小云：</span>他们已经爬上去了。咱们也快要到山顶了。</li> 
    <li><span class="char-name">陈老师：</span>别着急。我觉得有点儿累，林娜也累了，咱们就坐下来休息一会儿吧。先喝点儿水再往上爬。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>这儿的景色多美啊！长城好像一条龙。看，下边都是山，火车从山里开出来了。我要多拍些照片寄回家去。</li> 
    <li><span class="char-name">王小云：</span>你来过这儿吗？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>来过。是秋天来的。那时候长城的景色跟现在很不一样。</li> 
    <li><span class="char-name">王小云：</span>是啊。现在是冬天，今天还是阴天，要下雪了。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>在长城上看下雪，太美了。</li> 
    <li><span class="char-name">陈老师：</span>今天这儿的气温是零下十度。可是你们知道吗？广州今天是零上二十度。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>中国真大。北方还是这么冷的冬天，可是春天已经到了南方。你们看，力波怎么走下来了？</li> 
    <li><span class="char-name">丁力波：</span>喂，你们怎么还没上来？要帮忙吗？</li> 
    <li><span class="char-name">王小云：</span>不用。你不用跑过来，我们自己能上去。陈老师，您沐息好了吗？</li> 
    <li><span class="char-name">陈老师：</span>休息好了。小云，你帮我站起来 ……</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>啊！我们爬上长城来了！</li> 
   </ul> 
  </div> 
  <div id="npcr2-23-3" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十三课 我们爬上长城来了</h1> 
   <h3 class="section-title2">大黑熊跟你说什么了</h3> 
   <div class="indented-text"> 
    <p>很早以前，有两个年轻人，一个叫王贵，一个叫张才。王贵比张才大。因为他们常在一起玩儿，是很好的朋友，大家都说王贵、张才两个人就好像哥哥弟弟一样。一天，他们上山去玩儿。爬上山以后，他们都觉得有点儿累，就坐下来休息。这时候，他们看见一个大黑熊走过来了。他们都很害怕旁边有一裸（晚）大树，王贵很快就爬上去了。张才不会爬树，非常着急。可是他听奶奶说过，熊不吃死人，他就装死人。大黑熊在张才旁边走过来走过去，看他不动，它想这一定是个死人，就走了。王贵看见大黑熊走远了，就从树上爬下来，张才也站了起来。王贵觉得很不好意思，就问张才：“刚才大黑熊跟你说什么了？"张才有点儿不高兴，他说：“大黑熊刚才跟我说：年轻人，我告诉你，在危险的时候，就能知道谁是你的真朋友！"</p> 
   </div> 
  </div> 
  <div id="npcr2-24-1" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十四课 你舅妈也开始用电脑了</h1> 
   <h3 class="section-title2">（一）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">王小云：</span>从上海到北京的T23次八点四十分到，工现在八点半，快到了。</li> 
    <li><span class="char-name">丁力波：</span>你舅舅是农民吗？</li> 
    <li><span class="char-name">王小云：</span>是。他过去是上海郊区的农民，现在当蔬菜公司的经理了。</li> 
    <li><span class="char-name">丁力波：</span>他来过北京吗？</li> 
    <li><span class="char-name">王小云：</span>他来过两次，可是我都不在。上次他来的时候，我正在南方旅行呢。</li> 
    <li><span class="char-name">丁力波：</span>看，那个人正在问路呢。我们过去看看，那是不是你舅舅。</li> 
    <li><span class="char-name">王小云：</span>好像是吧。我十年以前见过他，这十年变化很大。不但他不认识我了，而且我也可能不认识他了。</li> 
    <li><span class="char-name">丁力波：</span>可不。那时候你还是个小孩，现在是大姑娘了。</li> 
    <li><span class="char-name">王小云：</span>是啊，我舅舅也老了。那个人在看地图吗？</li> 
    <li><span class="char-name">丁力波：</span>他没在看地图，他好像在看照片。他向我们走过来了。</li> 
    <li><span class="char-name">王小云：</span>他很像我舅舅。不错，是我舅舅。舅舅，您好！</li> 
    <li><span class="char-name">舅&nbsp;&nbsp;舅：</span>小云！十年不见，你是大学生了。你今年上几年级了？</li> 
    <li><span class="char-name">王小云：</span>上大学三年级了。</li> 
    <li><span class="char-name">舅&nbsp;&nbsp;舅：</span>有男朋友了吗？</li> 
    <li><span class="char-name">王小云：</span>舅舅，这是我同学丁力波。他是加拿大留学生。</li> 
    <li><span class="char-name">丁力波：</span>您好，路上辛苦了。快要下雨了，请上车吧！</li> 
   </ul> 
  </div> 
  <div id="npcr2-24-2" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十四课 你舅妈也开始用电脑了</h1> 
   <h3 class="section-title2">（二）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">王小云：</span>舅妈呢？怎么没有来？她说过要跟您一起来北京。</li> 
    <li><span class="char-name">舅&nbsp;&nbsp;舅：</span>你舅妈在种温室蔬菜呢。她现在很忙，这次不来了。</li> 
    <li><span class="char-name">王小云：</span>现在你们种蔬菜的收入怎么样？</li> 
    <li><span class="char-name">舅&nbsp;&nbsp;舅：</span>我们种温室蔬菜，收入比以前好多了。</li> 
    <li><span class="char-name">王小云：</span>家里的生活怎么样？</li> 
    <li><span class="char-name">舅&nbsp;&nbsp;舅：</span>生活还可以。前年我们盖了一座两层的小楼，去年还买了一辆汽车。现在我们去别的城市也方便了。</li> 
    <li><span class="char-name">王小云：</span>您的生活水平比城里人的还高。</li> 
    <li><span class="char-name">舅&nbsp;&nbsp;舅：</span>我们村吃的、穿的、住的都不比城里差。问题是我们农民的文化水平还比城里人的低一些。</li> 
    <li><span class="char-name">王小云：</span>现在农民没有文化真不行。</li> 
    <li><span class="char-name">舅&nbsp;&nbsp;舅：</span>你说得很对，农民也都要学习新技术。温室蔬菜是用电脑管理的。你舅妈也开始用电脑了。</li> 
    <li><span class="char-name">王小云：</span>今年我一定要去看看你们。</li> 
   </ul> 
  </div> 
  <div id="npcr2-24-3" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十四课 你舅妈也开始用电脑了</h1> 
   <h3 class="section-title2">士兵和将军</h3> 
   <div class="indented-text"> 
    <p>一个冬天的晚上，天气非常冷，不但风很大，而且雪也很大。路上已经没有人了，可是有一个士兵正在外边站岗。从下午到现在他还没有吃一点儿东西。他穿得又很少，胳膊和腿都冻得发抖。这时候，就在离他不远的客厅里，将军在喝酒呢。桌上有很多吃的、喝的，士兵还给他生了火，客厅里非常暖和。将军喝了很多酒，觉得非常热，有点儿不舒服。他很不高兴，说：“已经十二月了，应该冷了，可是现在还这么热，天气真不正常!"外边站岗的士兵听到了这些话，就大声说：“将军，您那儿的天气不正常，可是我这儿的天气很正常。您喜欢正常的天气，咱们就换一换地方，请您到外边来站一站吧。”</p> 
   </div> 
  </div> 
  <div id="npcr2-25-1" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十五课 司机开着车送我们到医院</h1> 
   <h3 class="section-title2">（一）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">王小云：</span>宋华，你来帮我们一下，好吗？</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>你们怎么了？现在你在哪？</li> 
    <li><span class="char-name">王小云：</span>林娜被撞伤了，正在第三医院检查呢。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>她伤了哪儿了？伤得重吗？</li> 
    <li><span class="char-name">王小云：</span>还没有检查完呢。你带点儿钱来。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>好的，你们等着，我马上就来。</li> 
    <li><span class="char-name">（在第三医院）</span></li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>林娜，你怎么样？伤得重不重？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>伤得不太重。我的胳膊被撞伤了，右腿也有点儿疼。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>你是怎么被撞伤的？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>怎么说呢？下午我和小云看完电影，骑着自行车回学院。我们说着、笑着，往右拐的时候没有注意，撞到了车上。那辆车停在路（旁）边，司机正在从车上拿东西。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>你们是怎么到医院来的？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>那位司机看到我被撞伤了，就马上开着车送我们到医院。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>那位司机真不错。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>我们带的钱不多，医药费都是他帮我们交的。他还给了我一张名片。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>真应该谢谢那位司机，明天我去把钱还他。刚才我还以为你被汽车撞了。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>还好，汽车被我撞了。如果我被汽车撞了，就糟糕了。</li> 
   </ul> 
  </div> 
  <div id="npcr2-25-2" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十五课 司机开着车送我们到医院</h1> 
   <h3 class="section-title2">（二）</h3> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">陆雨平：</span>大为，林娜宿舍的门开着，她躺着看电视呢。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>啊，陆雨平、大为，快进来。</li> 
    <li><span class="char-name">马大为：</span>林娜，你怎么样？好点儿了吗？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>好多了。你们这么忙，还带着花儿来看我，谢谢你们。这束花儿真漂亮，放在桌（子）上吧。</li> 
    <li><span class="char-name">马大为：</span>检查的结果怎么样？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>医生说没有大的问题，他让我躺在床上休息休息。大为你把电视关了吧，咱们说会儿话。</li> 
    <li><span class="char-name">陆雨平：</span>现在胳膊还疼不疼？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>不疼了。可是胳搏这么弯着，写字很不方便。上星期我汉字没有考好，现在又撞伤了胳膊，真倒霉！这两天都是坏消息。</li> 
    <li><span class="char-name">马大为：</span>别着急，我有一个好消息。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>什么好消息？</li> 
    <li><span class="char-name">马大为：</span>上星期六晚上，我的自行车被小偷偷走了。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>自行车被偷了，这是什么好消息？</li> 
    <li><span class="char-name">马大为：</span>你听着，来你这儿以前，派出所给我打了一个电话，让我去一下。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>你去派出所做什么？</li> 
    <li><span class="char-name">马大为：</span>小偷被抓到了，我丢的车也找到了，现在在派出所呢。你说这是不是好消息？</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>是个好消息。真应该祝贺你！</li> 
   </ul> 
  </div> 
  <div id="npcr2-25-3" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十五课 司机开着车送我们到医院</h1> 
   <h3 class="section-title2">张大力的故事</h3> 
   <div class="indented-text"> 
    <p>昨天是张大力女儿的生日，他给女儿的礼物是一条很漂亮的项链。他知道女儿喜欢看越剧，还买了两张晚上的越剧票。他们在饭馆吃了饭以后，就去看戏。回家的时候，已经很晚了。天气不好，开始下雪了，路上的人也少了。他们骑着自行车往右拐的时候，一个人从旁边走出来，问他们：“请问，这儿有没有派出所？”大力告诉他：“没有。派出所离这儿很远。”那个人又问：“现在哪儿可以叫一辆警车来？”大力回答说：“可以打110电话。’,“你有没有手机?”那个人又问。大力说：“没有。”张大力正在想，那个人为什么要问他这些问题，突然，那个人拿出刀来，对大力说：“对不起，把你们的项链和钱都给我！"张大力笑着说：“你忘了问一个问题了。我告诉你，这儿虽然没有派出所，可是有一个老警察，他抓过九十八个像你这样的人，马上要抓第九十九个。”“老警察在哪儿？”那人问。“在这儿！我就是！"那个人被吓坏了，手里的刀也掉在地上。他被大力送到了派出所。</p> 
   </div> 
  </div> 
  <div id="npcr2-26-1" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十六课 你快要成“中国通”了</h1> 
   <ul class="no-padding-list"> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>林娜，你来中国已经快一年了吧？你不但学习了汉语，而且还认识了很多中国朋友，中国的情况又知道得不少，你快要成“中国通”了。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>哪里，哪里，“中国通”真不敢当，还差得远呢。说实在的，我越来越喜欢中国文化了。中国从南到北，从东到西，每个地方都有自己的特点。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>历史博物馆正在举办“2002-中国”展览，那儿有很多图片，有的是我们见过的，有的是我们没见过的。你对中国文化这么感兴趣，我建议你去看看。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>好极了，我一定去。今天我们有一个结业聚会，力波他们快要来了。你把这个消息告诉他们，我想他们也一定会非常感兴趣。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>好啊。林娜，你还记得吗？刚来的时候你说过，如果每天都让你吃中餐，你就会饿死。现在你不但喜欢吃中餐，而且还学会了做中国菜。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>可不，现在如果一天不吃中餐，我就会觉得有点儿不舒服。</li> 
    <li><span class="char-name">（丁力波、马大为进宿舍）</span></li> 
    <li><span class="char-name">马大为：</span>你们在聊什么呢？去哪儿吃中餐？我也去。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>我们在说，你们这些老外快成“中国通”了。力波当然就不用说了。</li> 
    <li><span class="char-name">丁力波：</span>因为我妈妈是中国人，所以我早就有点儿中国化了。林娜爱穿旗袍，爱吃中国菜，还喜欢看越剧、听中国民乐，好像也有点儿中国化了。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>我是到北京以后才开始中国化的。</li> 
    <li><span class="char-name">马大为：</span>我看这很容易，像有的留学生那样，找个中国姑娘做妻子。你找个长得帅的中国小伙子做丈夫，每天在一起生活，就可以中国化了。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>别开玩笑。说真的，我现在觉得汉语语法不太难，可是汉字很难。</li> 
    <li><span class="char-name">马大为：</span>声调也不容易，我常常说错。</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>你们在中国才学习了一年，汉语水平就提高得这么快，主要是因为你们学习都很努力。</li> 
    <li><span class="char-name">丁力波：</span>这儿的老师教得特别认真，朋友们对我们也非常热情，常常帮助我们学汉语，所以我们进步很快。</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>一年的学习时间太短了。我虽然已经能听懂中国人说的一些话，可是自己说汉语还说得不太流利，明年我还要来中国学习。</li> 
    <li><span class="char-name">马大为：</span>林娜，老师和同学们都在等着我们呢，我们走吧。</li> 
    <li><span class="char-name">丁力波：</span>好，明年再“中国化”吧！</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>宋华，明天你陪我去参观“2002-中国”展览，好吗？</li> 
    <li><span class="char-name">宋&nbsp;&nbsp;华：</span>好，明天见！</li> 
    <li><span class="char-name">林&nbsp;&nbsp;娜：</span>不见不散！</li> 
   </ul> 
  </div> 
  <div id="npcr2-26-3" class="hidden-panel"> 
   <h1 class="conversation-title2">第二十六课 你快要成“中国通”了</h1> 
   <h3 class="section-title2">说话的艺术</h3> 
   <div class="indented-text"> 
    <p>说话也是一种艺术。我有一个朋友，他就不会说话。一天，他在饭馆里请客。他一共请了四位客人，来了三位，有一位还没有来。他等得有点儿着急了，就说：“你看，该来的没来！”有一位客人听了，很不高兴。他想：“该来的没来―我是不该来的了？”他走出餐厅去，对工作人员说：“如果他们找我，你就告诉他们不用等我了。”过了一会儿，工作人员走进来问：“先生，您要的菜都准备好了，现在拿上来吗？"“别忙，我们在等人呢。”我朋友问：“刚才出去的那位先生怎么还不回来？”工作人员说：“他已经走了。”我朋友非常着急，说：“不该走的走了！"这时候还有两位客人在那儿等着。有一位很不高兴，他想：“不该走的走了，意思是该走的还没走，好，我是该走的，我现在就走！”他站起来，没有说一句话就离开了饭馆。只有一位客人在那儿了。我朋友还在问自己：“他们怎么都走了？”这位客人说：“您刚才说该来的没来，不该走的走了，他们觉得自己是不该在这儿的了，所以他们都走了。以后您说话要注意点儿。”“以后我一定注意。”我朋友说，“可是我说的不是他们啊！"“什么？你说的是我啊？!”这位客人也走了。</p> 
   </div> 
  </div> 
  <div id="npcr2-workbook" class="hidden-panel"> 
   <div class="common-recording"> 
    <img src="images/sites/workbook-sound.jpg" height="200px"> 
   </div> 
  </div>
 </body>
</html>