<!doctype html>
<html>
 <head> 
  <meta charset="UTF-8"> 
  <base href="https://gwca-classroom.appspot.com/"> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script> 
  <script src="scripts/course-list.js"></script> 
  <script src="scripts/course.js"></script> 
  <link rel="stylesheet" type="text/css" href="scripts/books.css"> 
 </head> 
 <body> 
  <!-- The page container with the panels of header, navigation and article --> 
  <div id="page-container" class="container" data-ng-app="course" data-ng-controller="courseController" data-ng-init="init()"> 
   <header> 
    <a href="books/books.html"> <img src="images/sites/GWCALogo.gif" height="60px" class="image-left"></a> 
    <p class="header-text">{{selectedCourse.description}}</p> 
   </header> 
   <nav> 
    <p id="toc-image" data-ng-show="selectedCourse.image.length > 0"> <img data-ng-src="{{selectedCourse.image}}" height="80px" class="image-center"> </p> 
    <p class="sidebar-chinese-title">{{selectedCourse.title}}</p> 
    <div class="title-list"> 
     <ol> 
      <li class="charpter-index" data-ng-repeat="lesson in lessonTitles" data-ng-click="setLesson(lesson.lesson)"><span data-ng-style="{backgroundColor: lesson.bgcolor}">{{lesson.title}}</span></li> 
     </ol> 
    </div> 
    <div class="section-list" data-ng-show="sectionLabels.length > 0"> 
     <fieldset> 
      <legend> Select Content </legend> 
      <div data-ng-repeat="section in sectionLabels"> 
       <input type="radio" name="lesson-section" data-ng-checked="{{isSelectedSection(section)}}" data-ng-click="setSection(section.section)"> {{section.label}} 
      </div> 
     </fieldset> 
    </div> 
    <!-- Audio player to play the selected clip --> 
    <div id="audio-panel" data-ng-show="isAudio"> 
     <audio id="audio-player" controls class="side-clip"> 
      <source id="audio-source" src="" type="audio/mpeg"> 
     </audio> 
    </div> 
    <!-- Message panel --> 
    <p class="message">{{message}}</p> 
   </nav> 
   <article id="article-panel"> 
    <!-- Video player with the selected clip and text --> 
    <div data-ng-show="isVideo"> 
     <iframe id="video-panel" src="" width="400" height="230" style="display: inline; margin-left: 10px; float: right;"></iframe> 
    </div> 
    <!-- Text panel --> 
    <div id="text-panel"> 
     <div data-ng-bind-html="lessonText"></div> 
     <p class="next-text" data-ng-show="isMultiText" data-ng-click="getNextText()">Next Text</p> 
    </div> 
   </article> 
  </div>   
  <!-- The HTML elements for each lesson and section. --> 
  <div id="workshop-bloggers" class="hidden-panel"> 
   <div class="article-text"> 
    <h1 class="title-text">戒烟</h1> 
    <img src="images/courses/mengfei-smoke.jpg" width="18%" class="image-left"> 
    <p>我一个警察朋友每天四包烟，我曾劝他戒<span class="note">【1】</span>，他立刻冲我“不可能”！半年没见，前天碰到，发现他不抽了。一问才知，几个月前他莫名<span class="note">【2】</span>头昏，去医院拍片<span class="note">【3】</span>检查，脑血管<span class="note">【4】</span>70%堵塞，医生说再抽就快了……哥们儿顿时吓尿了<span class="note">【5】</span>，一根不抽了。那些跟他曾经一样嘴硬<span class="note">【6】</span>“永远戒不了”的朋友，你们呢？我是去年的今天戒烟的。 </p> 
    <p class="author">孟小发</p> 
    <div style="font-family: SimSun; font-size: 16px; float: left"> 
     <p> <span style="color: blue">森林里的橙子好多木：</span>我爸也戒了，可是他是因为我妈以为自己得了糖尿病，然后他觉得要照顾我妈一辈子，自己再抽烟可能真的不能活太久才戒的。还好最后我妈没得病，我爸也戒烟了，他俩现在周末没事就去郊外看花晒太阳十分幸福。 </p> 
     <p> <span style="color: blue">多拉哀萌：</span>戒烟四十五天了。戒烟没有成功的时候，永远记住不吸第一口烟！ </p> 
     <p> <span style="color: blue">goingup910：</span>最恼火的是自己戒了，周围的人还在熏你。 </p> 
    </div> 
    <blockquote class="notes"> 
     <dl> 
      <dt>
        【1】 戒： 
       <span class="latin">（Give up）</span>永远停止做一件事。 
      </dt> 
      <dt>
        【2】 莫名： 
       <span class="latin">（For some unknown reason）</span>不知什么原因。 
      </dt> 
      <dt>
        【3】 拍片： 
       <span class="latin">（X-ray, CT, MRI, etc.）</span> 
      </dt> 
      <dt>
        【4】 脑血管： 
       <span class="latin">（Cerebrovascular）。</span> 
      </dt> 
      <dt>
        【5】 吓尿了： 
       <span class="latin">(Wet his pants)</span> 
      </dt> 
      <dt>
        【6】 嘴硬：心知理亏而口头上不肯承认。 
      </dt> 
     </dl> 
    </blockquote> 
    <p class="note">因为有字数的限制，写微博的人往往省略一些字。结果是文字的语法往往不太对，但多数人还能看懂。如果把这篇微博改一下，应该是这样写的： </p> 
    <p>我一个警察朋友每天<span class="edit-text">抽</span>四包烟，我曾劝他戒，他立刻冲我<span class="edit-text">说：</span>“不可能”！半年没见，前天碰到，发现他不抽了。一问才知，几个月前他莫名头昏，去医院拍片检查，<span class="edit-text">发现有</span>70%的脑血管堵塞，医生说再抽就快了……哥们儿顿时吓尿了，<span class="edit-text">从那以后，他</span>一根不抽了。那些跟他曾经一样嘴硬，<span class="edit-text">说</span>“永远戒不了”的朋友，你们呢？ </p> 
    <p>我是去年的今天戒烟的。</p> 
   </div> 
   <div class="article-text"> 
    <h1 class="title-text">凌晨</h1> 
    <img src="images/courses/hanhan-tree.jpg" width="18%" class="image-left"> 
    <p>凌晨4点多经过上海长宁区水城路<span class="note">【1】</span>，发现一台停着的卡车特别危险，装了几棵大树，超出车长将近10米，无任何标示，深色的树枝在夜色<span class="note">【2】</span>里完全看不清楚。路过车辆尤其是摩托车<span class="note">【3】</span>一不小心肯定就插上去了。报警四十多分钟，至今没有任何动静<span class="note">【4】</span>，我把车停在后方警示。问题是我快睡着了，请警民直通车出警<span class="note">【5】</span>。 </p> 
    <p class="author">韩寒</p> 
    <div style="font-family: SimSun; font-size: 16px; float: left"> 
     <p> <span style="color: blue">简单乀幸福：</span>今天孩子学校门口堵了一辆救护车 ，救护车呀，居然没有一个人肯让出一条生命通道。大家都怎么了？ </p> 
     <p> <span style="color: blue">銷魂楊過：</span>好了，知道你开法拉利了 </p> 
     <p> <span style="color: blue">坂田苒：</span>评论里酸的也是够了做好事也要被酸不管是法拉利还是拖拉机岳父的车停在那里停多久就能保护后面赶夜路的无辜司机们多久真是跟你无关你就酸整条微博什么也没看到就看到法拉利了是吧 </p> 
    </div> 
    <blockquote class="notes"> 
     <dl> 
      <dt>
        【1】 长宁区水城路：上海一条街的名字。 
      </dt> 
      <dt>
        【2】 夜色： 
       <span class="latin">（In the dark）</span> 
      </dt> 
      <dt>
        【3】 摩托车： 
       <span class="latin">（Motorcycle）</span> 
      </dt> 
      <dt>
        【4】 动静： 
       <span class="latin">（Movements）</span> 
      </dt> 
      <dt>
        【5】 出警： 
       <span class="latin">(Sending a cop car)</span> 
      </dt> 
     </dl> 
    </blockquote> 
   </div> 
   <div class="lesson-work"> 
    <h1 class="work-title"> 微博（<span class="latin">micro blog</span>） </h1> 
    <p>字数不超过140个字的短博客。</p> 
    <h1 class="work-title">作业</h1> 
    <ol> 
     <li class="work">回答问题： 
      <ul> 
       <li class="item">“医生说再抽就快了”是什么意思？</li> 
       <li class="item">“哥们儿顿时吓尿了”是什么意思？</li> 
       <li class="item">“好了，知道你开法拉利了”，銷魂楊過到底想说什么？</li> 
       <li class="item">坂田苒的评论是什么意思？把他的评论重写一下，加上标点符号。</li> 
      </ul> </li> 
     <li class="work"> <p>作文：把韩寒的微博改写一下，把故事说清楚。</p> </li> 
    </ol> 
   </div> 
  </div> 
  <div id="workshop-cats" class="hidden-panel"> 
   <div class="article-text"> 
    <h1 class="title-text">无价的狸狸</h1> 
    <p>刘老师出差从外地回到北京， 妻子开门时的样子让他吃了一惊，鬓发散乱，满脸焦虑，这在以往是他们的宝贝儿子得了急病时才会有的情景，刘老师心中不由一紧。进得家中，妻子告诉他：“狸狸怕是不行了，”原来是他们家养的那只取名狸狸的猫咪得了重病。 </p> 
    <p>刘老师和妻子玲、儿子小特一家三口住在一幢高层公寓楼房里。有一年，他们俩口子都闹病，一位朋友为了给他们解闷儿，特意送来了一只小猫。那时它只有三四寸长，是装在个包装盒里送来的。刘老师将它倒出来时，先露出的是花狸色的皮毛，取名“狸狸”的灵感<span class="note">【1】</span>，也便于那一刻产生。有位颇为懂行的朋友曾不在意地对刘老师说：“啊，一只草猫，你们怎么不养只高档的！”“草猫”一语，久久地令玲不快。她听楼下一位大妈解释过，“草猫”不仅意味着品类低档，而“草”与“菜”相通，“草猫”即“菜猫”，本是“龙虎斗”<span class="note">【2】</span>一类菜肴的原料而已，他们竟当作“宠物猫”来养，呵护备至，难怪令行家齿冷<span class="note">【3】</span>了。 </p> 
    <p>狸狸到他家后，便接二连三地“犯错误” —— 打碎细磁花瓶，将木珠串成的门帘扯断，掀翻一盘还没来得及吃的茶肠…… 但一家人都并不以为可恶，因为狸狸不仅带来了朋友的一片友情，而且它嬉闹时的活泼、蜷睡时的娇憨、进餐时的兴奋…… 实在为这个小小的家庭平添了许多情趣。“草猫”这样的词儿，当然令他们难以接受。</p> 
    <img src="images/courses/cats.jpg" width="80%" class="image-center"> 
    <p> 当狸狸长至半尺长时，刘老师家又有了第二只猫。那是一只血统高贵的波斯猫<span class="note">【4】</span>，湛蓝的双眼，浑身雪白的长毛，没有一丝杂色，最难得的是它有一颈雄狮般的丰厚腮毛。而且，尽管书上说波斯猫基本上都耳聋，但这只波斯猫，你一招呼它便转颈朝你，不仅湛蓝的大眼直视你的眼睛，多半还会“瞄呜”一声以示答应。玲唤它“蓝眼睛”，刘老师说“睛”字写出来容易与“晴”字混，玲就同意把波斯猫的名字写作晶晶，并建议将狸狸写成“丽丽”。刘老师却不同意将狸狸写作“丽丽”。因为两猫相比，他觉得晶晶确有一种贵族气派，无论坐卧，都具华贵的姿容；狸狸却时时显示出遗传中的野性，有时它趴卧着将脖颈伸长，将腮嘴枕到沙发垫上，那身姿令人联想到鳄鱼或壁虎<span class="note">【5】</span>。而淘气起来时，狸狸更显示出对捕捉鼠雀一类的活物的浓厚兴趣。有天一只大蛾子飞进家里，狸狸为追捕它，连连跳起，每次都足有一米多高，而晶晶只不过优雅地伸爪作捕捞状而已。 </p> 
    <p>狸狸突然发病，从呕吐、厌食，发展到拒食、奄奄一息…… 玲将它抱在怀中，让刘老师搭下手，为它灌药、用奶瓶喂流食，竟至于急得流下了眼泪。刘老师安慰她说：“我们不是还有晶晶么？”她竟狠狠地白了刘老师一眼，那一对“家藏银杏<span class="note">【6】</span>”从未显得那么硕大过，使刘老师吃惊…… </p> 
    <p>经过十多天的抢救、护养，狸狸终于好转，这天刘老师刚从外面回家，玲便满面春风地向他报告：“狸狸大便正常啦！”还拽着他到阳台一角狸狸、晶晶的“卫生间”去亲自过目——仿佛不仅那一泡猫粪非常悦目，那一般气息也异常可爱似的。 </p> 
    <p>如今来到刘老师家的客人，如果仅止是赞美晶晶，冷淡狸狸，玲便不接话茬儿。客人走后，小特说那客人是“种族歧视”，刘老师为之辩解：“各人眼光不同嘛！”玲嘴上不说什么，脸上却写着对儿子那话的一百个同意。 </p> 
    <p>有一天小特从农贸市场回来，报告说：“那里有好多卖猫的，像晶晶这样的，卖到五百块钱哩！狸狸那样的，只要十五块钱……”玲把晶晶、狸狸一齐抱起，分别偎偎它们的小脸说：“我们的晶晶、狸狸都是无价的!” </p> 
    <p class="author">根据刘心武的同名散文改写</p> 
    <blockquote class="notes"> 
     <dl> 
      <dt>
        【1】 齿冷：耻笑，讥笑。令人齿冷，就是让人笑话了。 
      </dt> 
      <dt>
        【2】 灵感：突然之间得到的启发和领悟 
       <span class="latin">（inspiration）</span>。 
      </dt> 
      <dt>
        【3】 龙虎斗： 一个粤菜的菜名，主料是蛇（龙）和猫（虎）。 
      </dt> 
      <dt>
        【4】 波斯猫：一种常见的长毛猫。 
       <span class="latin">（Persian）。</span> 
      </dt> 
      <dt>
        【5】 壁虎：壁虎是蜥蜴 
       <span class="latin">（lizard）</span>目的一种，又称爬墙虎。 
      </dt> 
      <dt>
        【6】 家藏银杏：银杏 
       <span class="latin">（ginkgo）</span>的果实基本上为圆形，与核桃差不多大小。这里说的“家藏银杏”是刘老师开玩笑，把妻子生气时瞪圆的眼睛比作银杏 
      </dt> 
     </dl> 
    </blockquote> 
   </div> 
   <div class="lesson-work"> 
    <h1 class="work-title">阅读与理解</h1> 
    <ol> 
     <li>第三人称叙述 <span class="latin">（third-person narrative）</span> <p> 用第三人称叙事，叙述人既不受空间、时间的限制，也不受生理、心理的限制，可以直接把生活中的人和事展现在读者面前，叙述起来更加自由灵活。但往往不如第一人称叙事那么亲切自然。</p></li> 
     <li>倒叙 <span class="latin">（flash-back）</span> <p> 是根据表达的需要，把事件的结局或某个最重要、最突出的片段提到文章的前边，然后再从事件的开头按事情原来的发展顺序进行叙述的方法。倒叙并不是把整个事件都倒过来叙述，而是除了把某个部分提前外，其他仍是顺叙的方法。</p></li> 
    </ol> 
    <h1 class="work-title">作业</h1> 
    <ol> 
     <li class="work">解释下面字词语的意思： 
      <ul> 
       <li class="item">怕是不行了：</li> 
       <li class="item">颇为懂行：</li> 
       <li class="item">呵护备至：</li> 
       <li class="item">娇憨：</li> 
       <li class="item">奄奄一息：</li> 
       <li class="item">搭下手：</li> 
       <li class="item">话茬儿：</li> 
      </ul> </li> 
     <li class="work">回答问题： 
      <ul> 
       <li class="item">刘老师为什么不愿把“狸狸”改成“丽丽”？</li> 
       <li class="item">“那一对‘家藏银杏’从未显得那么硕大过，使刘老师吃惊”是什么意思？</li> 
       <li class="item">“玲便满面春风地向他报告”这句话说明了玲当时是什么心情？</li> 
       <li class="item">作者是怎么使用“倒叙”的方法来写这篇短文的，倒叙和顺序的两个转接点在什么地方？</li> 
      </ul> </li> 
     <li class="work">朗读课文的中间的一段。（“当狸狸长至半尺长时”）</li> 
     <li class="work">作文：题目自选（400 字以上） <p>用第三人称“倒叙”的方法写一个小故事。</p> <p>内容可以是：</p> 
      <ol> 
       <li class="item">丢了一样心爱的东西，后来又找到了或者终于没找到。</li> 
       <li class="item">迷路了，转了半天总算又找到路了，幸好没晚或者扫兴回家。</li> 
       <li class="item">好朋友做了件让她吃惊的事，后来才知道，原来是因为 ……</li> 
      </ol> </li> 
    </ol> 
   </div> 
  </div> 
  <div id="workshop-chanpion" class="hidden-panel"> 
   <div class="article-text"> 
    <h1 class="title-text">赛车冠军</h1> 
    <p>司机发现自己很难解释，为什么会让那位站在路旁、伸出拇指的人搭便车。他听到过不少让人搭车，最终铸成悲剧的故事；幸运的，只是丢掉了汽车和财物，不幸的，则成为太平间的客人。有的人身上只中了一颗子弹，还不算很惨；有的人则被残忍地杀害，死相很恐怖。或许是因为太孤单吧。他从那天下午五点开始开车，到现在已过了晚上九点。那是一部新车，只有一层薄薄的灰尘遮盖了光亮的外壳，但是汽车上的收音机却有些小毛病，打开后，它只是发出哧哧啦啦的声音，所以没有人类说话的声音来解除他的寂寞。车灯前头如同缎带般连绵不绝的公路，一英里一英里地在车轮下消逝。或许是因为想到自己年轻时，也曾站立在路旁，在全国各地伸出拇指搭便车，有好多次，人们停下来让他搭车。他还清楚地记得有一次天黑后，自己仍未搭到车时的困境。</p> 
    <p>他刚刚过了一个叫“春谷”的收费站，服务员告诉他，路上没有车辆行人，至少到“阿雨巴镇”前没有。他接过收据，塞在遮阳板后面，然后驱车驶入黑暗。漆黑的路旁每英里有四个反光的里程碑，它们就像猫眼，闪烁着亮光从他身旁飕飕地闪过。以后的四百哩路，他不用担心来往的车辆或十字路口会阻碍他的行程，只有那些里程碑陪伴着他。当高速公路变得越来越窄的时候，车灯照到了站在路旁的一个男人，脚边有一只廉价的行李袋。当汽车经过时，司机见那人脸上带着疑问的表情，向他伸了伸拇指。司机内心一阵冲动，刹住了车，那人跑过来，从敞开的车窗探进头问道：“先生，能不能让我搭一程车？”</p> 
    <p>司机打开车顶的灯，打量着那人。他一脸微笑，好像有点害羞，身穿一件夹克，打着领带，这点看上去不坏，虽然他需要理一理头发，可看上去不像那些肩背行李的流氓。</p> 
    <p>“上车吧。” 司机说。</p> 
    <p>那人将行李袋放在车里，非常疲倦地长长吐了口气，然后轻松地坐在椅子上。在朝北去的路上，汽车速度表的指针，很快爬上了六十迈。“你要去哪？”司机问道。</p> 
    <p>“阿雨巴镇，”那人说，“请你在到那之前，别拐出公路。我在那儿有份工作，必须在明天八点以前赶到。”</p> 
    <p>“我们会赶到的，我要一直开到水牛镇，我可以在阿雨巴镇出口的坡道上停车让你下去。”</p> 
    <p>“那太好了，我相信在那儿可以搭便车进城。”</p> 
    <p>他们在夜色中默默地行驶了几分钟，司机又问：“年轻人，你叫什么名字？”</p> 
    <p>“迈克。迈克，杰瑞，我不年轻，已经二十五岁了。”</p> 
    <p>“对我而言，二十五岁就是年轻。” 他说：“迈克，我很高兴帮助你，不过，你知道在高速公路上搭便车是犯法的吗？”</p> 
    <p>他听见迈克在座位上局促不安地动了动：“你打算把我送警察局？”迈克小声地问道。</p> 
    <p>“不会的，放心，其实我也不知道我怎么会提到这个。我年轻的时候，也有好多次伸着拇指搭人家的便车，不过，那时候人们相互信任，我要去哪都可以，很少有困难。”</p> 
    <p>“天黑以后我就站在那等，”迈克说，“看见有像警车的汽车开来，我就躲进树丛里去。哦，我是想说我不想被警察抓到。”</p> 
    <p>在高速行驶的汽车前面，黑暗中的点点灯光表示，他们正向一个小镇靠近。他说：“那里是赛芬，有个饭馆，我们可以到那歇一会儿，喝一杯咖啡。”</p> 
    <p>“我不要咖啡。”迈克说。</p> 
    <p>“是不是不方便，没关系，我请客。”</p> 
    <p>“我不要咖啡，”迈克重复地说：“什么都不要。”</p> 
    <p>“哦，那么我喝咖啡的时候，请你不要介意等候。时间不会很久的，我喜欢趁热喝。”一阵衣服抖动声，接着是拉链被拉开的声音，司机心想，也许迈克口袋里有些钱，也许 ……</p> 
    <p>“我们不停车，先生！”迈克的声音在喉咙里滚动着。</p> 
    <p>“这是我的汽车，我高兴怎样就怎样，你有什么权利命令我？……”</p> 
    <p>“先生，我有这个权利，就凭这个。”</p> 
    <p>手枪的枪口抵在肋骨上，一阵刺痛传来，司机不由自主地动了一下方向盘，竟然使汽车滑向路中间的分界线。</p> 
    <p>“小心点！”迈克口气轻松地说。</p> 
    <p>把车开回车道中间时，他轻轻点了一下刹车。</p> 
    <p>“不要停车！”迈克说：“接着向前开，不要太快，也别太慢，好好地、正常地开，明白吗？”</p> 
    <p>过了赛芬，他们进入了空旷的郊区。到哈里曼立交桥之前的十五哩路程中，他们谁也没有说一句话。</p> 
    <p>“高速公路在这变成双线道。” 司机终于开口说道，声音又干又燥。</p> 
    <p>“那又怎么样，一路上我们见到的车不到半打，假如见到警车的话，不要打歪主意。别用灯光打信号，或是做任何事，我手里拿着的可是个杀人的家伙。”迈克在他眼前晃了晃手枪。</p> 
    <p>“你到底要到哪去？” 司机觉得心里充满了恐怖的情绪，甚至觉得自己会呕吐。他一手握住方向盘，另一只手略松了松安全带。</p> 
    <p>“到足够远的地方。我走得越远，警察越不可能发现我。”说着，他用枪柄重重地敲着仪表盘，轻声补充说：“那该死的老太婆。”</p> 
    <p>“老太婆，你是说你的母亲。”</p> 
    <p>“不是，我是说靠近春谷那幢房子里的老太婆。当我看见那两口子带孩子出门时，我以为他们家里没人，可以很方便地闯空门捞一把。我怎么知道他们会留个老太太在家？我着实弄了不少东西，手提电视、打字机，还有大把的现金，这把枪也是从那里弄来的。可正当我要离开时，她穿着睡袍出现在楼梯口。她那样子好像十年前就该死了一样，可肺却一点毛病也没有，声嘶力竭地大喊大叫，声音之大足够吵醒全镇的人。”</p> 
    <p>“你 …… 你把她怎么啦？” 他问。</p> 
    <p>迈克思索着用手搓搓枪，说：“我不过是想确定她不能再喊就是了。”</p> 
    <p>“你已经逃离了现场，现在要怎么样？”</p> 
    <p>“那就要看你了。冷静些，你应该能平平安安地活下去，可你要是打什么鬼主意的话，你的尸体便会被从臭水沟里捞起，当然了，这对于我来说没什么损失。”</p> 
    <p>“我什么脑筋也不动，我不想死。”</p> 
    <p>“很多人都不想死，先生。”</p> 
    <p>汽车行驶了很多里，但他无法控制全身的颤抖。他不想死，但这也是迈克持枪对着他的理由，迈克也不想死。</p> 
    <p>在过立交桥时，一辆有拖车的卡车，突然从入口的坡道里冲出来，他急忙踩刹车。迈克倒抽一口冷气，双脚猛踏在地板上，好像他那样做也能刹住汽车一样。</p> 
    <p>“笨蛋！迈克恶狠狠地骂道。</p> 
    <p>司机没有反应，只若有所思地看着前方的路面。然后，他把仪表盘上的灯拧亮了一些。他瞥了迈克一眼，见他的乘客正在摆弄连在车门上的安全带。</p> 
    <p>“别碰它！” 他大吼一声，迈克被他的命令语气吓一跳，居然本能地抽开手，然后，慢慢笑起来。</p> 
    <p>“你错了，”他轻轻他说，“发号施令的是我，不是你。”</p> 
    <p>“你听好了，否则，我们就不必争论谁来发号施令，因为警察会从一棵树或公路的路基下抬走我们的尸体。”</p> 
    <p>“接着讲，先生，正好帮助我们打发打发时间。”</p> 
    <p>“首先，你的手别碰安全带，别想扣上那东西。”</p> 
    <p>迈克耸耸肩说：“不碰就不碰。”</p> 
    <p>“那好，把双手放在我看得见的地方，否则，我就把这车撞在我发现的第一个结实的东西上。”</p> 
    <p>“你不用为我担心，”迈克说，“在七十迈的车速下，咱俩同归于尽，安全带也保护不了你。”</p> 
    <p>“但你和我不同，我反正得死，不对吗，迈克？”</p> 
    <p>“我早就告诉过你，只要你不耍花样，我会放你一马。我只要你这辆车。”</p> 
    <p>司机缓缓地摇了摇头：“我才不信你那一套呢，你杀了人，唯一逃脱的机会是躲到警察找不到的地方，假如你放我走的话，我会给警方提供足够多的信息去追捕你。现在对你来讲，多杀一个人已经无所谓了。”</p> 
    <p>“该死的东西，你不能开慢点吗？现在的车速差不多是八十迈了。”</p> 
    <p>“高速是我的武器，迈克。在时速八十迈的情况下，你是不敢开枪的。”他脚踏油门，汽车开得更快了。</p> 
    <p>“小心，你会失控翻车的。”</p> 
    <p>“别担心我的驾驶技术，迈克，你看不看报上的赛车专栏？”</p> 
    <p>“我对那玩意儿不感兴趣。”</p> 
    <p>“真遗憾，要不然，你会听过我的名字 —— 欧·史密斯，两次全国赛车冠军，今晚你有幸和他乘同一辆车。我这辈子开车都没有翻过，当然现在也不打算翻车。”</p> 
    <p>“你打算干什么，小心，你刚才差点撞上对面的那辆卡车。”</p> 
    <p>“那把枪，迈克！”</p> 
    <p>“枪怎么样？”</p> 
    <p>“扔到窗户外面去，只有那样，车速才会减下来。”</p> 
    <p>迈克咯咯地笑了起来，“你以为我疯了吗，如果我扔掉这把枪的话，你就会把我送到警察局，面对谋财害命罪名的指控。不过，如果你撞车的话，也许我还有逃走的机会，我要留着这把枪。”</p> 
    <p>“除了赛车之外，”司机说，“我还是一家汽车公司的安全顾问，我敢打赌这点你也不知道。”</p> 
    <p>“那又怎样？”</p> 
    <p>“你可以试着想一想，时速八十迈时迎头碰撞后的逃生机会。也许我可以帮帮你，我们在试验跑道上做过一些试验，当然，试验车的最快时速是五十英里，不过，那仍会给你一个会发生什么事的概念。</p> 
    <p>司机不慌不忙地接着说：“汽车撞车后的第一个十分之一秒，前缓冲板、冷却器和各种机械会压成一团金属。第二个十分之一秒，车头盖会粉碎，在挡风玻璃前爆炸，同时，后轮会跳离地面。你知道，那时，汽车的前半部已经停下，但是后半部还在向前推进。你会本能地坐直，就像刚才那辆卡车冲出来时你的反应一样。你的腿骨，将会在膝盖处齐齐折断。”</p> 
    <p>“别胡说八道了，老东西。”</p> 
    <p>“你不想知道，你会如何走向死亡吗？第三个十分之一秒，由于惯性，你的身体会急速前冲，仪表盘将会捣碎你的膝盖。第四和第五个十分之一秒，汽车的后半部仍会以每小时三十五英里的速度前进，你的头会碰在仪表盘上。第六个十分之一秒，汽车的车身会弯曲，在此之前，仪表盘已压碎了你的头壳，你的脚会嘎吱有声地在地板上滑过，巨大的惯性会把鞋从你的脚上拔下来。”</p> 
    <p>沉默了两秒钟后，司机漫不经心地接着说：“后面的情况大概是这样的，车门弹开，拉断螺丝钉，前座被扯开，后座冲过来把你的身体压扁。但是你不用担心，因为那时你已经死了。”</p> 
    <p>“你 …… 亲眼见过这种事？”迈克问。</p> 
    <p>司机点点头：“看过试车场的慢动作电影。当然，在我多年赛车的经历中，见过不少惨不忍睹的事故，迈克，那可不怎么好看。”</p> 
    <p>“你知道，刚才你真让让我听得入了神。” 迈克从干燥的嘴边强挤出一丝微笑，“不过，除非走投无路，你不会去撞车的。老家伙，我比你聪明，迟早你的汽油会烧光的。”</p> 
    <p>“其实我比你更聪明，记得吗，我是个赛车冠军，汽车上的每个零件都是我的衣食父母，想想看为什么我不让你系安全带？”</p> 
    <p>“你是什么意思？”</p> 
    <p>“在不太快的车速下，我可以朝一个坚硬的东西撞去。我系的这个安全带能保护我，也许我的胸部会淤血，但我仍可以控制汽车，但是你则会向前冲，那一冲，有很多有趣的可能性：也许你会碰到仪表盘而失去知觉，也许你的脑袋会撞出玻璃，割坏喉管。可不管怎样，我都没事，而你，嗨，别碰安全带！”</p> 
    <p>汽车示威似地在路上蛇行，迈克双手用力地扶在仪表盘上面。“迈克，马上把枪扔掉。”</p> 
    <p>迈克抓起手枪：“我 ……”他把枪指向司机。两个男人都没有说话，在车窗外呼呼的风声中，隐约能听见轮胎碾压公路时发出的沙沙的响声。</p> 
    <p>司机可以感觉到，迈克的脑袋里正在衡量轻重得失，被逮捕的话，他可能还不会死，但将在牢中度过余生。咔嚓一声，迈克打开了枪保险，司机汗津津的双手紧紧握住方向盘。然而，在时速接近一百迈的情况下，开枪是十分危险的，扭曲的金属会切进骨肉里，使活生生的人血肉模糊，不成人样。终于，迈克咒骂了一声，摇下车窗，扔掉了手枪。一阵强风吹到司机脸上，反光镜里出现了手枪落地时闪出的火花，于是他将车速减到了合法的六十迈。</p> 
    <p>开了一会儿后，他在一个地下通道里看见那停着一辆开着门、闪着警灯的警车。他把车停在警车旁，车靠得很近，使迈克无法开门逃走。当警察给他戴手铐的时，迈克不屑地吐口唾沫说：“欧·史密斯，搭上你的车真是倒了十八辈子的霉。又瘦又小的，怎么也看不出来你是个赛车冠军。”</p> 
    <p>“赛车不要力气，迈克，只要反应快。”</p> 
    <p>把杀人犯塞进警车后，警察回到司机站的地方：“刚才他提到欧·史密斯，我虽然没见过他本人，但在电视上见过他好几次。有一件事我可以肯定，先生，您不是他。”</p> 
    <p>“没错，我不是，”司机很温和地回答道：“我叫约翰逊，在费城经营一家小书店，今天我是去水牛城看我的女儿和外孙。我给外孙带了份礼物，是一本书。那本书很值得一读，也很有趣。我想迈克也会对这本书有兴趣的。”司机说着，从口袋里掏出一本厚厚的平装书。警察接过来，见封面上写着《安全驾车须知》欧·史密斯。封面上还有一张照片，一位英俊的年轻人，正透过一副赛车眼镜望着他。</p> 
    <p>“我把书上写的都搬了出来，”司机说，“把那家伙唬住了。”然后，又补充道：“多看书，会有好处的。”</p> 
    <p class="author"> 作者：希区柯克（<span class="latin">Sir Alfred Hitchcock</span>） </p> 
   </div> 
  </div> 
  <div id="workshop-dream" class="hidden-panel"> 
   <div class="article-text"> 
    <h1 class="title-text">梦是美丽的</h1> 
    <img src="images/courses/ling-lan.jpg" width="30%" class="image-right"> 
    <p>在小城埃克斯<span class="note">【1】</span>，我最熟悉、也最喜欢这条小街。路面干干净净，没有一点尘土。两旁的小房最高不过二层，一色的红屋顶，米黄的墙。家家户户的小院里有花有草。树很多，也很高，半空一片翠绿我每次上课都从这里过，很少见到人，清静极了。 </p> 
    <p>我经常遇见一位老人，脸红红的，长得像布列塔尼<span class="note">【2】</span>的渔民。她有时站在门口，有时沿着篱笆散步，见了面，总是微笑着打招呼。时间长了，看得出来，她很想跟我说话。 </p> 
    <p>今年五一，老人在自家门口卖铃兰花，看见我来了，站起来说：“您好，先生。”</p> 
    <p>“您好，太太。啊，多美的铃兰花。”</p> 
    <p>“喜欢吗？拿一束吧，愿您幸福。”</p> 
    <p>铃兰是一种雅致的草本小花，高不盈尺，叶片椭圆厚实，下面挂一串铃铛形的小白花。一进五月，街头巷尾，花店内外，一片铃兰清香。“铃兰，铃兰，幸福的象征”，吆喝声不绝于耳。卖花的多是老人，妇女和孩子。不少人把自家小院种的铃兰采下来，三五株一束，用玻璃纸包好，装到篮子里，放到门口，谁喜欢就扔下几个硬币，拿走—束。五月一日是我的生日，每年这天我都会买一束铃兰。它使我想起全家人一起吃寿面的情景，那份幸福，那份深深的思念，很难用言语表达。 </p> 
    <p>我拿起一束铃兰花，问老人：“多少钱，太太？”</p> 
    <p>“随您便，要是不要钱，会为难您的。”</p> 
    <p>我摸出几枚硬币放到花篮里。</p> 
    <p>“再拿几束，给您的朋友，我送的。”</p> 
    <p>老人是真心实意的，于是我又随手拿起两束：“那就谢谢您了。”</p> 
    <p>“我年年种铃兰，种得很多，只为一份心愿，愿人人幸福。”</p> 
    <p>不久，我们又见面了。她正在院里修剪玫瑰，看见我来了，像见到老朋友似地说：“先生，来看看我的攻瑰。”</p> 
    <p>“啊，真漂亮。”</p> 
    <p>“我一生就喜欢两种花，铃兰和玫瑰，尤其喜欢红玫瑰。”她停了一下。接着说：“花跟人一样，有情有意，不是吗？”</p> 
    <p>“我跟您一样，也喜欢红玫瑰。”</p> 
    <p>“年轻的时候，我丈夫第一次来看我，便送我一枝红玫瑰。结婚以后，他在这院里种了很多玫瑰，总是把最好的红玫瑰剪下来，送给我。”</p> 
    <p>接着，她告诉我说，她丈夫是一名记者，是穷人的朋友，在世界各地采访穷人的生活。她还告诉我说，他们有两个儿子，还有孙子孙女，住在国外，每年圣诞节都回来看她，给她带很多礼物。 </p> 
    <p>“您先生现在……”</p> 
    <p>“他死了，死了很多年了。这些花就我来侍弄了。”她有些凄然。</p> 
    <p>我后悔不该问她，过了一会儿，她平静下来，转变话题问我：“您是日本人吧？”</p> 
    <p>“不，中国人，北京来的。”</p> 
    <p>“啊，中国，北京，那是个龙的国家，多么神奇。”她的眼睛一下子变得雪亮，闪着奇异的光彩。</p> 
    <p>“您去过？”</p> 
    <p>“去过。中国，日本，印度，我都去过。那些宫殿，庙宇，屋顶和墙壁上到处都是龙。黄河是条大金龙，长江是条大青龙，长城也是条大龙。我说得对吧？” </p> 
    <p>“对，对，一点也不错。”</p> 
    <p>“还有紫禁城<span class="note">【3】</span>，跟梵蒂冈<span class="note">【4】</span>博物馆一样，实在太美了。” </p> 
    <p>“您真幸运，太太。”</p> 
    <p>“现在老了，哪儿也去不了啦。”</p> 
    <p>分手的时候，老人送我一束红玫瑰。回到家，我找了一个大花瓶，把花插好，放到临窗的桌子上。心想，像这样的老人是不多的，去过那么多地方，留下那么多美好的回忆，儿孙们年年回来看她，有自己的情趣，自己的心愿，不空虚，不寂寞，没有悲伤，也没有悔恨，真够幸福的了。 </p> 
    <p>六月底放假时，我去诺曼底<span class="note">【5】</span>看我朋友。一天，在散步的时候，我说起了那位老人。朋友若有所思地一言不发，直到我不说了，他对我说：“我知道。” </p> 
    <p>“你认识她？“</p> 
    <p>“认识，我租过她的房子，住了两年。她是一位好老人。不过，她说的那些事情差不多都是编的。她丈夫不是记者，没钱旅行，他们也没有孩子。二十年前，她丈夫酒后开车撞死了。以后，就她一个人生活，很苦的。她说的那些旅游胜地，美好回忆，都是愿望，都是梦。” </p> 
    <p>我们慢慢地走着，谁也没再说话。周围一点声音也没有，诺曼底真静啊！</p> 
    <p class="author">作者：王钟华，文字略有删节和修改</p> 
    <blockquote class="notes"> 
     <dl> 
      <dt>
        【1】 埃克斯：位于法国南部的一个小城市 
       <span class="latin">（Aix-en-Provence）</span> 
      </dt> 
      <dt>
        【2】 布列塔尼：位于法国西北部的一个半岛 
       <span class="latin">（Bretangne）</span> 
      </dt> 
      <dt>
        【3】 紫禁城：北京故宫的另一个名字 
      </dt> 
      <dt>
        【4】 梵蒂冈：是一个独立的主权国家，由于四面都与意大利接壤，故称“国中国”。同时也是全世界天主教的中心 
       <span class="latin">(The Vatican City State)</span> 
      </dt> 
      <dt>
        【5】 诺曼底：位于法国西北部的一个地区 
       <span class="latin">（Normandie）</span> 
      </dt> 
     </dl> 
    </blockquote> 
   </div> 
   <div class="lesson-work"> 
    <h1 class="work-title">阅读与理解</h1> 
    <ol> 
     <li>叙述中的背景介绍 <p>文章的第六段，写到了小镇上卖花的习俗和“我”要在五一买花的原因，这些都是故事的背景材料。作者没有在文章的一开始做介绍，而是等到要用的时候才拿出来，这样既不影响故事的完整，又能帮助读者更好地了解故事的前因后果。用第一人称叙述时，常用用这种办法逐步地把一些背景材料随时介绍给读者。在讲比较长的故事时，这种办法的效果会更好。</p> </li> 
     <li>故事中的对话。 <p>生动、真实的对话往往能很好地写出一个人物的特点，比使用很多形容词效果更好。通过文中的对话，我们很容易就看出，尽管身世很不幸，可她是个和蔼、可亲、善良的老人。</p> </li> 
    </ol> 
    <h1 class="work-title">作业</h1> 
    <ol> 
     <li class="work">解释下面字词语的意思： 
      <ul> 
       <li class="item">高不盈尺：</li> 
       <li class="item">街头巷尾：</li> 
       <li class="item">不绝于耳：</li> 
       <li class="item">凄然：</li> 
       <li class="item">旅游胜地：</li> 
       <li class="item">若有所思：</li> 
      </ul> </li> 
     <li class="work">回答问题： 
      <ul> 
       <li class="item">第一段里的“半空一片翠绿”是怎么回事？</li> 
       <li class="item">第六段和故事有关吗？为什么作者在故事的中间要加上这一段话？</li> 
       <li class="item">卖花的老人说：“要是不要钱，会为难您的”，她这话是什么意思？</li> 
       <li class="item">作者认为什么样的生活是幸福的？</li> 
       <li class="item">老人为什么要撒谎？</li> 
       <li class="item">作者和他的朋友“慢慢地走着，谁也不说话”，他们在想什么？</li> 
      </ul> </li> 
     <li class="work">朗读课文的最后一部分。（从“六月底放假时”到完，录音并上传）</li> 
     <li class="work">作文：题目是《看电影》（字数不限） <p>用对话的形式写一下你和你的朋友（们）一起去看电影，在电影院门口商量看哪个电影的过程。</p> 
      <ul> 
       <li class="item">形式：对话</li> 
       <li class="item">人物：你和朋友（们）</li> 
       <li class="item">内容：在电影院门口商量看哪个电影</li> 
       <li class="item">要求：在对话的中间加上一段背景介绍，比如为什么你或你的朋友更喜欢那个电影</li> 
      </ul> </li> 
    </ol> 
   </div> 
  </div> 
  <div id="workshop-few-things" class="hidden-panel"> 
   <div class="article-text"> 
    <h1 class="title-text">二、三事(节选)</h1> 
    <p>昨天晚上江南来杭州，我顺带约了一群人小聚<span class="note">【1】</span>，席间谈笑风生，珠摇翠摆，苏更生JJ带头说了一件她的糗事<span class="note">【2】</span>，于是大家纷纷跟随着说自己的小故事，笑得前仰后合。 </p> 
    <p>席散尽兴，回来想了想，还是忍不住的笑，不由想起自己从小的一些糗事来～好吧，我本来也不想摆一个不食人间烟火的仙女POSE，so，还是忍不住说一说吧。 </p> 
    <p>之一</p> 
    <p>本科<span class="note">【3】</span>某日，交图前夕。一连熬了两天一夜的我把笔一扔，趴在图版上 —— 终于画完了！连续工作三十几个小时，又累又饿又困，于是一溜烟跑出去觅食<span class="note">【4】</span>。然而已经七点，食堂都关门了，干脆直接跑到了学校大门口附近的小摊上买鸡蛋煎饼，开口要了一个大份的：两个鸡蛋一根油条。大妈开始摊饼，我闻着香气，更觉得饥肠辘辘，恨不得可以马上能咬一口果腹<span class="note">【5】</span>。 </p> 
    <p>然而天有不测风云，正在此刻，忽然听到有人喊了一声：“城管<span class="note">【6】</span>来了！” </p> 
    <p>只见我面前的大妈把铲子一扔，推起车拔腿就跑，那个速度简直可以参加百米赛跑。我来不及细想，立刻拔腿追去。一直过了两条小巷，那个大妈才气喘吁吁地停下来，猛一回头，看到同样气喘吁吁捏着钢蹦紧跟其后的我，吓了一大跳。 </p> 
    <p>“我的鸡蛋煎饼！”我跑得脸色苍白，弯下腰撑着膝盖喘气（可怜我四百米从来只是堪堪及格），两眼发直，指着她的推车，喘息：“焦了！焦了啊！” </p> 
    <p>她：“……。我赔一个新的给你吧，姑娘。”</p> 
    <p>潜台词：老娘在Z大门口做生意那么多年，还从没见过对煎饼这样执着的大学生……</p> 
    <p>之二</p> 
    <p>硕士<span class="note">【7】</span>某日，血拼<span class="note">【8】</span>归来。连着逛了四五个钟头，满载而归的我和另一位女同学已经筋疲力尽，双手拎着N个购物袋，摊在公交车座位上喘气。 </p> 
    <p>此刻车厢里人很多，一个老人从前头过来，找不到位置。我心里一动，看了一眼同学，她似乎也若有所动 —— 按惯例，我们该抢着站起来让座的，但……呃，今天实在是太累了，一坐下来就偷偷踢掉了高跟鞋，觉得脚都快要断了。于是两人都沉默，但又觉得不好意思，只好都抱着大堆的购物袋低头不语。</p> 
    <p>很快旁边一个人站起来给老人让座，却是一个老外。</p> 
    <p>这一下我们两人舒了一口气，对视了一眼，表情多少有些尴尬<span class="note">【9】</span>。下车回到寝室，扑到床上揉着脚跟，我终于还是忍不住，迟疑着开了口：“刚才在公交车上，我……” </p> 
    <p>同学知道我要说什么，立刻接口：“是啊，真是太不好意思了。我那时候觉得脸上都火辣辣的。”</p> 
    <p>我：“……。算了，下次记住就行了。”</p> 
    <p>一周后某日。公交车上我忽地看到一个老人，如获至宝，连忙蹦起来客气：“来，来，您坐您坐！”</p> 
    <p>周围人都看我，颇不好意思。结果……意料不到的事情发生了。</p> 
    <p>老人：“不用了，姑娘你自己坐吧！我硬朗着呢。”</p> 
    <p>我：“别客气了，我就快到了。”</p> 
    <p>老人：“哎呀，我看到你才刚上车嘛，怎么可能就快到了？”</p> 
    <p>我（晕）：“这，这……，我是……”</p> 
    <p>老人（一把把我按下）：“别说了，别看我六十多，身体可一级棒！跑个一千米不是问题 —— 姑娘你虽然年纪轻，肯定跑不过我！？”</p> 
    <p>我（黑线<span class="note">【10】</span>）：“是是，您身体好，老当益壮。” </p> 
    <p>老人（自豪）：“就是啊！你是Z大的学生吧？现在你们这些年轻人啊，年纪轻轻就不锻炼，每天坐电脑前，身体搞得亚健康<span class="note">【11】</span>，反而不如我一个老人家了……” </p> 
    <p>我（郁闷）：“是是是。”</p> 
    <p>老人：“跟你说，我年轻时候在香港工作，55年回到大陆报效祖国……”</p> 
    <p>于是我就在满车的人的注视里，被这位老当益壮、精神矍铄的老大爷教训了一路，最后一直到连连点头答应他加强每日锻炼才下车。</p> 
    <p><span class="latin">＃￥％＃￥……￥％※</span> ……让个座有这么难么？ </p> 
    <p class="author">作者：沧月</p> 
    <blockquote class="notes"> 
     <dl> 
      <dt>
        【1】 小聚： 
       <span class="latin">Get together</span>。 
      </dt> 
      <dt>
        【2】 糗事： 
       <span class="latin">(qiǔ shì) </span>令人尴尬，无可奈何，避之唯恐不及的事情。 
      </dt> 
      <dt>
        【3】 本科： 
       <span class="latin">Four year college program</span>。 
      </dt> 
      <dt>
        【4】 觅食：找东西吃。 
      </dt> 
      <dt>
        【5】 果腹：吃东西填饱肚子。 
      </dt> 
      <dt>
        【6】 城管：城市管理行政执法局 
      </dt> 
      <dt>
        【7】 硕士： 
       <span class="latin">Masters degree program</span>。 
      </dt> 
      <dt>
        【8】 血拼：逛街买东西，就是英文 
       <span class="latin"> shopping </span>的音译。 
      </dt> 
      <dt>
        【9】 尴尬：让人感觉很难为情，无所适从的处境。 
       <span class="latin"> (awkward) </span> 
      </dt> 
      <dt>
        【10】黑线：就是出汗，无语无奈，不知如何是好。 
      </dt> 
      <dt>
        【11】亚健康：处于健康和疾病之间的一种临界状态，人的心理或身体处于混乱，但并没有明显的病理特征。 
       <span class="latin"> (sub-health) </span> 
      </dt> 
     </dl> 
    </blockquote> 
   </div> 
   <div class="lesson-work"> 
    <h1 class="work-title">阅读与理解</h1> 
    <p> 博客<span class="latin">（Blog）</span>的写作往往比较随意，不太讲究修辞和语法。有些在国外生活久了的华人，常在他们的文章中夹带一些英文词，因为他们长期在国外生活，有时找不到适当的词来表达，于是干脆就用英文词，读起来有些不伦不类的。另外每年都会出现一些流行的网络用语，在字典上查不到，可常上网的人都明白，比如文中用到的“JJ”，“黑线”等。 </p> 
    <h1 class="work-title">作业</h1> 
    <ol> 
     <li class="work">解释下面字词语的意思： 
      <ul> 
       <li class="item">前仰后合：</li> 
       <li class="item">一溜烟：</li> 
       <li class="item">鸡蛋煎饼：</li> 
       <li class="item">天有不测风云：</li> 
       <li class="item">钢蹦：</li> 
       <li class="item">执着：</li> 
       <li class="item">按惯例：</li> 
       <li class="item">意料不到：</li> 
       <li class="item">硬朗：</li> 
       <li class="item">如获至宝：</li> 
       <li class="item">郁闷：</li> 
       <li class="item">报效：</li> 
      </ul> </li> 
     <li class="work">回答问题： 
      <ul> 
       <li class="item">作者回去后，为什么“还是忍不住的笑”？</li> 
       <li class="item">“一连熬了两天一夜”是什么意思？</li> 
       <li class="item">“可怜我四百米从来只是堪堪及格”说得是考试吗？考的是什么？</li> 
       <li class="item">为什么作者的同学会“觉得脸上都火辣辣的”？</li> 
       <li class="item">你怎么理解文章最后的那个问题“让个座有这么难么”？</li> 
      </ul> </li> 
    </ol> 
   </div> 
  </div> 
  <div id="workshop-gwca-and-me" class="hidden-panel"> 
   <div class="article-text"> 
    <h1 class="title-text">我与长城中文学校</h1> 
    <p>很多同学在长城中文学校已经学习了好多年了，有的从上小学开始就来了。这些年，大家不但在这学中文，还参加了许多由学校组织的社会活动，比如说，到老人院做义工，参加丹佛每年的龙舟比赛，在学校当老师，教小同学学习文化课；竞选学生会，等等。快毕业了，写写这些，说说你和长城中文学校的那些事儿。</p> 
    <ol> 
     <li class="list-indent">老人院里的故事 <p>常去在老人院做义工，和一些老人熟了，讲几个从他们那听来的故事。</p> </li> 
     <li class="list-indent">龙舟赛 <p>一年一度的龙舟赛，热闹好玩</p> </li> 
     <li class="list-indent">学生会 <p>竞选和工作</p> </li> 
     <li class="list-indent">春晚 <p>每年的学校春晚</p> </li> 
     <li class="list-indent">当老师 <p>教小同学学折纸、yoyo，跳舞</p> </li> 
     <li class="list-indent">写大字、跳舞、yoyo <p>中文课之外的活动</p> </li> 
     <li class="list-indent">学中文，用中文 <p>回国时的故事；在家的故事；夏令营的故事</p> </li> 
    </ol> 
    <p>下面的这篇作文是去年的毕业生钟婷怡写的，供大家参考。</p> 
    <p class="page-title">我和长城中文学校</p> 
    <h3 class="section-title-center">钟婷怡</h3> 
    <img src="images/courses/amy-zhong.png" height="200" class="image-right"> 
    <p>舞台上静悄悄的，帷幕关着，可是从观众席上传来的声音告诉我，有很多人来看长城中文学校今年的春节表演。我感觉有点紧张:“我有什么事忘了吗？”头发梳成整齐的圆形，粉红色的舞鞋也绑得紧紧的，我应该已经准备好了。看看别的人，大女孩们都显得特别镇静，一点看不出紧张的样子。再看看妹妹，她也显得很镇静。我吸了一口气，把红手帕平平地放在腿上：我准备好了。</p> 
    <p>到时间了。我看着舞台的帷幕慢慢打开，几十个人坐在台下，眼睛盯着我们看。这时开始放音乐了，我笑着，跟大家一起跳起了中国手帕舞。当我跟着开心的中国民乐跳舞的时候，我感到幸福代替了忧虑。我第一个舞蹈表演还是好玩啊！</p> 
    <p>我八岁在长城中文学校开始上中文课的时候，妈妈也给我报名参加了学校的中国民族舞蹈课。从去中文学校那年开始，我就一直在学校的舞蹈班学习。上小学的时候,我特别腼腆。舞蹈老师教我们舞蹈动作的时候，我怕跳得不对，就站在大女孩们的后面，跟着她们跳。我不是个有天分的舞蹈演员。灵活度特别差，风度也一般。因此，有大孩子在前面跳，我跟在后面，就不会出错。</p> 
    <p>十年过去了，我今年已经是舞蹈班最大的舞蹈演员，再没有大女孩跟着跳了。我的灵活度还是很差，挺笨的，舞跳得还是马马虎虎的。但是，长城中文学校的程少梅校长还问我要不要当舞蹈课的助理教师。我觉得这个问题有点儿奇怪。我跳舞不是很棒，可是她还给我那么要紧的职位。虽然我不是一个有才干的舞蹈演员，可我意识到这是一个在学校团体中当领导的机会，所以就同意当舞蹈课的助理教师。</p> 
    <p>长城中文学校一直是我生活的一部分。上小学和初中的那些年里，我只是一个普通学生，每天安静地听课，跟在大孩子后面跳舞。可是在高中的四年，我发现自己成为了一个不怕在课堂上回答问题，能带着小同学学跳舞的大女孩。而且，通过我的努力，在学生会、舞蹈队、<span class="latin">NCHS</span>和课堂上，我的能力都有了很大成长，这一点是我自己都没想到的。我学会了团队精神，并能与别人一起做各种各样的工作。还学会了牵头并组织的能力，和大家一起朝着一个目标努力工作。</p> 
    <p style="text-align: right; text-indent: 40px"> <span style="font-family: georgia, serif">4/18/2016</span> </p> 
   </div> 
  </div> 
  <div id="workshop-kite" class="hidden-panel"> 
   <div class="article-text"> 
    <h1 class="title-text">风筝</h1> 
    <p>北京的冬季，地上还有积雪，灰黑色的秃树枝丫叉于晴朗的天空中，而远处有一、二风筝浮动，在我看来是一种惊异和悲哀。</p> 
    <p>故乡的风筝时节，是春二月，一听到沙沙的风轮声，仰头便能看见一个淡墨色的蟹风筝或嫩蓝色的蜈蚣风筝。还有寂寞的瓦片风筝，没有风轮，又放得很低，伶仃地显出憔悴可怜的模样。但此时地上的杨柳已经发芽，山桃也多吐蕾，和孩子们放在天上的点缀相照应，打成一片春日的温和。</p> 
    <p>我现在在哪里呢？四面都还是严冬的肃杀，而故乡久违的春天，却就在这天空中荡漾了。</p> 
    <p>我是向来不爱放风筝的，不但不爱，并且嫌恶它，因为我以为这是没出息孩子所做的玩艺。和我相反的是我的小兄弟，他那时大概十岁内外罢，多病，瘦得不堪，然而最喜欢风筝，自己买不起，我又不许放，他只得张着小嘴，呆看着空中出神，有时竟至于小半日。远处的蟹风筝突然落下来了，他惊呼；两个缠绕在一起的瓦片风筝解开了，他高兴得跳跃。他的这些举动，在我看来都是笑柄，可鄙的。</p> 
    <p>有一天，我忽然想起，似乎多日不很看见他了，但记得曾见他在后园拾枯竹。我恍然大悟似的，便跑向少有人去的一间堆积杂物的小屋去，推开门，果然就在尘封的什物堆中发现了他。他向着大方凳，坐在小凳上；见我进去，便很惊惶地站了起来，失了色瑟缩着。大方凳旁靠着一个蝴蝶风筝的竹骨，还没有糊上纸，凳上是一对做眼睛用的小风轮，正用红纸条装饰着，将要完工了。我在破获秘密的满足中，又很愤怒，因为他瞒了我的眼睛，苦心地来偷做这没出息孩子的玩艺。我即刻伸手折断了蝴蝶的一支翅骨，又将风轮掷在地下，踏扁了。论长幼，论力气，他是都敌不过我的，我当然得到完全的胜利，于是傲然走出，留他绝望地站在小屋里。后来他怎样，我不知道，也没有留心。</p> 
    <p>然而我的惩罚终于轮到了，在我们离别很久之后，我已经是中年。我不幸偶而看到了一本外国的讲论儿童的书，才知道游戏是儿童最正当的行为，玩具是儿童的天使。于是二十年来毫不忆及的小时候虐杀精神的这一幕，忽地在眼前展开，而我的心也仿佛同时变了铅块，很重很重地坠下去了。</p> 
    <p>但心又不竟坠下去而至于断绝，它只是很重很重地坠着，坠着。我也知道补过的方法：送他风筝，赞成他放，劝他放，我和他一同放。我们嚷着，跑着，笑着——然而他其时已经和我一样，早已有了胡子了。我也知道还有一个补过的方法，就是去讨他的宽恕，等他说，“我可是毫不怪你呵。”那么，我的心一定就轻松了，这确是一个可行的方法。有一回，我们会面的时候，渐渐谈起儿时的旧事来，我便叙述到这一节，自说少年时代的糊涂。“我可是毫不怪你呵。”我想，他要说了，我即刻便受了宽恕，我的心从此也宽松了罢。</p> 
    <p>“有过这样的事么？”他惊异地笑着说，就象旁听着别人的故事一样。他什么也记不得了。</p> 
    <p>全然忘却，毫无怨恨，又有什么宽恕可言呢？无怨的恕，说谎罢了。我还能希求什么呢？我的心只得沉重着。</p> 
    <p>现在，故乡的春天又在这异地的空中了，既给我早已逝去的儿时的回忆，而一并也带着无可把握的悲哀。我倒不如躲到肃杀的严冬中去罢，——但是，四面又明明是严冬，一片非常的寒威和冷气。</p> 
    <p class="author">作者：鲁迅 写于一九二五年一月二十四日，文字略有改动</p> 
   </div> 
   <div class="lesson-work"> 
    <h1 class="work-title">作业</h1> 
    <ol> 
     <li class="work">从课文中挑五个不懂的词，通过查字典或网络，解释它们的意思： 
      <ul> 
       <li class="item"></li> 
       <li class="item"></li> 
       <li class="item"></li> 
       <li class="item"></li> 
       <li class="item"></li> 
      </ul> </li> 
    </ol> 
   </div> 
  </div> 
  <div id="workshop-ladder" class="hidden-panel"> 
   <div class="article-text"> 
    <h1 class="title-text">天梯 (节选)</h1> 
    <p>对于开车这件事情，我回想起来总记不得是如何学会的。很多年来，旁人开车，我就坐在一边专心地用眼睛学，后来有机会时，我也摸摸方向盘，日子久了，就这样很自然的会了。我的胆子很大，上了别人的车，总是很客气地问一声主人：“给我来开好吧？我会很当心的。”</p> 
    <p>大部份的人看见我如此低声下气的请求，都会把车交给我。无论是大车、小车、新车、旧车，我都不辜负旁人的好意，给他好好地开着，从来没有出过差错。</p> 
    <p>这些交车给我的人，总也忘了问我一个最最重要的问题，他们不问，我也不好贸然地开口，所以我总沉默地开着车子东转西转。等到荷西<span class="note">【1】</span>买了车子，我就爱上了这匹“假想白马”，常常带了它出去在小镇上办事。有时候也用白马去接我的“假想王子”下班。因为车开得很顺利，也从来没有人问起我驾驶执照的事情，我不知不觉就落入自欺心理的圈套里去，固执地幻想着我已是个有了执照的人。有好几次，荷西的同事们在家里谈话，他们说：“这里考执照，比登天还难，某某人的太太考了十四次还通不过笔试，另外一个沙哈拉威人<span class="note">【2】</span>考了两年还在考路试。” </p> 
    <p>我静听着这种可怕的话题，一声也不敢吭，也不敢抬头。但是，我的车子还是每天悄悄地开来开去。登天，我暂时还不想去交通大队爬梯子。</p> 
    <p>有一天，父亲来信给我，对我说：“驾驶执照趁着在沙漠里有空闲，快去考出来，不要这么拖下去。”</p> 
    <p>荷西看见家信，总是会问：“爸爸妈妈说什么？”</p> 
    <p>我那天没提防，一漏口就说：“爸爸说，这个执照啊可不能再赖下去了。”荷西听了嘿嘿得意冷笑，对我说：“好了，这次是爸爸的命令，可不是我在逼你，看你如何逃得掉。”</p> 
    <p>我想了一下，欺骗自己，是心甘情愿，不妨碍任何人。但是，如果一面无照开车同时再去骗父亲，我就不愿意。以前他从不问我开车，所以不算欺骗他。</p> 
    <p>考执照，在西班牙是一定要进“汽车学校”去学，由学校代报名才许考。所以就算已经会开了，还得去送学费。我们虽然住在远离西班牙本土的非洲，但是此地因为是它的属地，还是沿用西班牙的法律。</p> 
    <p>我答应去进汽车学校的第二日，荷西就向同事们去借了好几本不同学校的练习试卷，给我先看看交通规则。</p> 
    <p>我实在很不高兴，对他说：“我不喜欢念书。”</p> 
    <p>荷西奇怪地说：“你不是一天到处像山羊一样在啃纸头，怎么会不爱念书呢？”他又用手一指书架说：“你这些书里面，天文、地理、妖魔鬼怪、侦探言情、动物、哲学、园艺、语文、食谱、漫画、电影、剪裁，甚至于中药秘方、变戏法、催眠术、染衣服……混杂得一塌糊涂，难道这一点点交通规则会难倒你吗？”</p> 
    <p>我叹了口气，将荷西手里薄薄几本小书接过来。</p> 
    <p>这是不同的，别人指定的东西，我就不爱去看它。</p> 
    <p class="author">作者：三毛，台湾作家，本文节选自她的《撒哈拉的故事》</p> 
    <blockquote class="notes"> 
     <dl> 
      <dt>
        【1】 荷西： 三毛的丈夫，是个西班牙人。 
      </dt> 
      <dt>
        【2】 沙哈拉威人：是撒哈拉( 
       <span class="latin">Sahara</span>)沙漠上的原住民，阿拉伯人的分支，信奉伊斯兰教。 
      </dt> 
     </dl> 
    </blockquote> 
   </div> 
   <div class="lesson-work"> 
    <h1 class="work-title">阅读与理解</h1> 
    <p>第一人称叙述（<span class="latin">first-person narrative</span>）。 </p> 
    <p>故事通过“我”传达给读者，是叙述人的亲眼所见、亲耳所闻或亲身经历。这种写法使读者得到一种亲切真实的感觉。采用第一人称时，叙述人是当事人，因此所叙述的人与事，只能是在“我”活动范围内的人和事，范围以外的人和事就不能写进去。比如说，三毛在撒哈拉学车时，她爸在台湾做什么就不应该写进这篇文章。</p> 
    <h1 class="work-title">作业</h1> 
    <ol> 
     <li class="work">解释下面字词语的意思： 
      <ul> 
       <li class="item">低声下气：</li> 
       <li class="item">辜负：</li> 
       <li class="item">不知不觉：</li> 
       <li class="item">心甘情愿：</li> 
       <li class="item">一塌糊涂：</li> 
      </ul> </li> 
     <li class="work">回答问题： 
      <ul> 
       <li class="item">三毛是怎么学会开车的？</li> 
       <li class="item">第三段中，那个“最最重要的问题”是什么？</li> 
       <li class="item">三毛说的“假想白马”是什么？谁是那个“假想王子”？</li> 
       <li class="item">“假想白马”和“假想王子”这两个词后面是个什么故事？</li> 
       <li class="item">为什么三毛说她“不想去交通大队爬梯子”？</li> 
       <li class="item">听了三毛爸爸信上的话，荷西为什么会“嘿嘿得意冷笑”？</li> 
       <li class="item">荷西说三毛“到处像山羊一样在啃纸头”，那是什么意思？</li> 
       <li class="item">三毛为什么说她不喜欢看书，她喜欢看什么样的书？</li> 
       <li class="item">“天梯”这个标题是什么意思？</li> 
       <li class="item">这篇文章写得是三毛自己的故事，看完后，你觉得三毛是个什么性格的人？</li> 
      </ul> </li> 
     <li class="work">朗读课文的第一部分（从开始到“不想去交通大队爬梯子”）</li> 
     <li class="work">作文：（400 字以上） <p>用第一人称写一下你自己考车的故事（笔试或路考）</p> </li> 
    </ol> 
   </div> 
  </div> 
  <div id="workshop-lao-wai" class="hidden-panel"> 
   <div class="article-text"> 
    <h1 class="title-text">来了个老外</h1> 
    <p>早就听说九寨沟、黄龙 <span class="note">【1】</span>风光如画，这么多年一直想去没机会。这次回国刚好听说有个$99/8天游的旅游团，于是报了名，提前几个星期就憧憬 <span class="note">【2】</span>着。报名的时候，想把我妈也加上，人家说不行，仅限境外人员。境外就境外吧，心想到了中国，我可就不是老外了，可惜，这话说得早了点儿。 </p> 
    <p>我们是到成都集合，第一天住的宾馆不错，只是离市内远了点。第二天一上车，我就后悔了，很多人因为地震取消了行程，所以旅行社把我和女儿并进了一个粤语 <span class="note">【3】</span>团！一路上。导游一直用粤语讲给其他23个人听，只是到最后，才用几句普通话给我俩概括一下。本来跟团就是想听导游八卦 <span class="note">【4】</span>的呀，可是这次真倒霉，听着满车人都在导游的领导下，“咣啷咣啷”地谈笑风声，真是叫人哭笑不得。坐在中国的旅游车里，还是成了老外！不过听不懂也有好处，导游推销 <span class="note">【5】</span>的治高原反应 <span class="note">【6】</span>的神药和那个70块钱才能吸几口的氧气筒，都被我以听不懂为由放过了（我们这次全团没有人出现高原反应，买的人也白买了）。 </p> 
    <p>从成都到九寨沟，汽车要开大约5个小时，经松潘古城和汶川，就到了园区外面的宾馆。进去才知道山里奇冷无比，只好在宾馆里柜台上买了厚衣服。</p> 
    <img src="images/courses/chunyang-lake.jpg" width="30%" class="image-right"> 
    <p>俗话说：“黄山归来不看山，九寨归来不看水”，九寨沟的水真是名不虚传。那天刚好是阴天，只见阵阵白雾从树梢上袅袅升起，云蒸霞蔚，十分壮观。园内的景点景色各异，流泉飞瀑，彩池长湖，真正是美不胜收。</p> 
    <p>九寨沟不仅风景优美，整个旅游区规划也很好。园区内不许其它车辆进入以减少污染和噪音。每个大的景点都有公交车站，极方便而且免费。由于调配得当，每个站点都不挤，也不用等。一开始，我们的导游建议大家包车，每人交50美金（只限境外人士）。可是他忘了用普通话告诉我。等我明白了就表示：我们不坐包车，就坐公交车。刚好包车也只能坐19个人，于是导游带我们6个人坐公交车。结果是，包车和公交车走的一条路线。我们一点也不比他们慢。</p> 
    <p>九寨沟还有一点值得一提，就是厕所绝对是超国际水平，非常干净。那天下雨，到处一片泥泞。所到之处，厕所都有人不停地打扫，且井然有序。马桶上坐垫是自动换的。园区里人流量很大，厕所能保持到这个水平，不能不说是巨大的进步。</p> 
    <img src="images/courses/chunyang-shop.jpg" width="25%" class="image-left"> 
    <p>在这里买了青稞 <span class="note">【7】</span>饼，5块钱一个。又香又软，两面焦黄，好吃极了。要是藏民们每天都有这个吃，那么他们的生活水平应该一直比我们高啊。 </p> 
    <p>进了一个藏民的商店，我被麻辣牦牛肉干吸引住了。突然店里一阵骚动 <span class="note">【8】</span>，好几个藏家妹妹都往门口跑，还边跑边喊，“快，快，来了个老外”！抬头望去，那“老外”有点眼熟啊，那不是我女儿吗？急忙走过去问：“哪里有老外”？藏家妹妹们指着我女儿说：“她看着就像个老外呀”。我笑着说：“她是老外？她还觉得你们是老外呢”。其实藏家妹妹们除了那两朵美丽的高原红【9】，说起普通话来字正腔圆，难怪要把我们当老外呢。 </p> 
    <p>仔细问问，原来女儿看上了一条裙子，一开口就被“妹妹们”识别出来了，忙着到处找计算器。裙子开价150元。我给她们50，她们欣然接受。我也很得意地告诉女儿，国内买东西，就得学会砍价。</p> 
    <p class="author">作者：春阳，本文节选自她的《趣谈回国跟团游》系列</p> 
    <blockquote class="notes"> 
     <dl> 
      <dt>
        【1】 九寨沟，黄龙：中国两个有名的风景区，相距很近，都在四川省境内。 
      </dt> 
      <dt>
        【2】 憧憬：因爱慕一件东西而渴望得到的心情。 
      </dt> 
      <dt>
        【3】 粤语： 粤是广东的简称，粤语就是广东话。 
      </dt> 
      <dt>
        【4】 八卦：八卦是中国文化的基本哲学概念，后来演化成一种算命的方法，近些年来，又加上了闲聊，无根据地议论别人意思。 
      </dt> 
      <dt>
        【5】 推销：卖东西。 
      </dt> 
      <dt>
        【6】 高原反应：高原反应是人突然进入低压低氧环境后产生的各种身体反应，是高原地区独有的常见病。 
      </dt> 
      <dt>
        【7】 青稞：一种禾谷类作物，是藏族常食用的粮食。 
      </dt> 
      <dt>
        【8】 骚动：受某种原因或情绪感染，在人群中或人的心里产生的不安定的波动。 
      </dt> 
      <dt>
        【9】 高原红：高原红是指长期生活在高原地带的人们，面部所出现的片状或团块状的红色斑块。 
      </dt> 
     </dl> 
    </blockquote> 
   </div> 
   <div class="lesson-work"> 
    <h1 class="work-title">阅读与理解</h1> 
    <p> 说说博客<span class="latin">（blog）</span>博客最初的名称是<span class="latin">Weblog</span>，由<span class="latin">web</span>和<span class="latin">log</span>两个单词组成，按字面意思就为网络日记，后来有人把这个词的发音故意改了一下，读成<span class="latin">we blog</span>，由此，<span class="latin">blog</span>这个词被创造出来。中文意思即网络日志，不过，在中国有人往往也将<span class="latin">Blog</span>本身和<span class="latin">blogger</span>（即博客作者）均音译为“博客”。“博客”有较深的涵义：“博”为“广博”；“客”不单是“<span class="latin">blogger</span>”更有“好客”之意。读<span class="latin">Blog</span>的人都是“客”。在网络上发表<span class="latin">Blog</span>的构想始于1998年，但到了2000年才开始真正流行。 </p> 
    <h1 class="work-title">作业</h1> 
    <ol> 
     <li class="work">解释下面字词语的意思： 
      <ul> 
       <li class="item">老外：</li> 
       <li class="item">报了名：</li> 
       <li class="item">境外人员：</li> 
       <li class="item">概括：</li> 
       <li class="item">神药：</li> 
       <li class="item">奇冷无比：</li> 
       <li class="item">黄山归来不看山，九寨归来不看水：</li> 
       <li class="item">美不胜收：</li> 
       <li class="item">规划：</li> 
       <li class="item">调配得当：</li> 
       <li class="item">包车：</li> 
       <li class="item">国际水平：</li> 
       <li class="item">一片泥泞：</li> 
       <li class="item">流量：</li> 
       <li class="item">眼熟：</li> 
       <li class="item">字正腔圆：</li> 
       <li class="item">欣然接受：</li> 
       <li class="item">砍价：</li> 
      </ul> </li> 
     <li class="work">回答问题： 
      <ul> 
       <li class="item">为什么“我和女儿”被并进了一个粤语团？</li> 
       <li class="item">作者是哪的人，为什么说“还是成了老外”？</li> 
       <li class="item">作者为什么说“她还觉得你们是老外呢”？</li> 
       <li class="item">那几个藏家妹妹怎么一下就觉得作者的女儿是个老外呢？</li> 
       <li class="item">回国买东西砍过价吗，怎么砍的？</li> 
      </ul> </li> 
     <li class="work">把全篇课文念顺</li> 
    </ol> 
   </div> 
  </div> 
  <div id="workshop-marshmallow" class="hidden-panel"> 
   <div class="article-text"> 
    <h1 class="title-text">棉花糖实验</h1> 
    <p>借助一颗棉花糖也许可以看出一个孩子的未来。</p> 
    <p>上世纪60年代，美国斯坦福大学心理学 <span class="note">【1】</span>教授沃尔特·米歇尔（<span class="latin">Walter Mischel</span>）在一个幼儿园里开始了一个的关于“延迟满足” <span class="note">【2】</span>的实验。研究人员找来数十名四到六岁的儿童，每个人单独呆在一个只有一张桌子和一把椅子的小房间里，桌子上的托盘里有一颗棉花糖。研究人员告诉孩子糖是他的，可以马上吃，但是如果他能等到研究人员回来时再吃的话，就能再得到一颗棉花糖做为奖励。 </p> 
    <p>对这些孩子们来说，这是个很难熬的等待过程。为了不去看那诱惑人的棉花糖，有的孩子捂住了眼睛，有的转过身去，还有一些孩子开始做一些小动作，比如踢桌子，玩自己的辫子，有的甚至用手去打棉花糖。结果，多数孩子坚持不到三分钟就放弃了。“一些孩子甚至没有按铃就直接把糖吃掉了”，米歇尔回忆说：“另一些盯着桌上的棉花糖，半分钟后按了铃”。大约三分之一的孩子成功延迟了自己对棉花糖的渴望，用了差不多十五分钟的时间，等研究人员回来后得到了奖励。</p> 
    <p>这个实验的最初目的是研究为什么有人可以“延迟满足”而有人却不能的心理过程。米歇尔的三个女儿也参加了这个实验，有一次他偶然和她们谈起幼儿园的小朋友时，米歇尔发现这些孩子的学习成绩与他们小时候“延迟满足”的能力有联系，于是从1981年开始，米歇尔就开始一个一个地联系当时已是高中生的653名参加者，给他们的父母、老师发去调查问卷 <span class="note">【3】</span>，针对这些孩子的学习成绩、处理问题的能力以及与同学的关系等方面提问。 </p> 
    <p>米歇尔在分析问卷的结果时发现，无论是在家还是在学校，当年把糖马上吃掉的的孩子更容易出现行为上的问题，成绩分数也较低，和那些可以等上15分钟再吃糖的孩子比，平均要低出210分。而且，他们面对压力、集中注意力和维持与他人友谊的能力也相对要低。</p> 
    <p>米歇尔对当年实验参加者的跟踪研究一直继续到他们35岁以后。研究表明，当年不能等待的人成年后有更高的体重指数 <span class="note">【4】</span>，而且更容易有吸毒方面的问题。“但是这都是参加者自己说的，和他们实际生活中的行为难免有些出入”，米歇尔解释说。因此，他挑选出一些当年实验的参加者，用核磁共振成像仪 <span class="note">【5】</span>为他们的脑部进行扫描，希望通过对比扫描图，找出大脑对“延迟满足”能力起作用的特定区域。此外，研究人员还进行了不同的基因 <span class="note">【6】</span>测试，以研究是否存在控制“延迟满足”能力的遗传因素。 </p> 
    <p>如果米歇尔和他的研究团队获得成功，就可以确定自我控制能力对一个人获得成功的重要性。几十年来，心理学家一直认为智商高低是一个人能否成功的决定因素。米歇尔则认为智商能否起作用关键在于自我控制能力。“棉花糖实验测试的就是自我控制能力” ，米歇尔说：“这项实验迫使孩子们去寻找解决问题的方法，他们都想得到第二颗棉花糖，但怎么做才能得到呢” ？</p> 
    <p>对于当年的实验，有的心理学家认为，孩子是否愿意等待取决于他们对棉花糖的渴望程度。但是，很快证明了所有孩子都急切想得到第二颗棉花糖。那么，究竟是什么决定了自我控制能力呢？通过对孩子们行为的反复观察，米歇尔得出结论，秘诀 <span class="note">【7】</span>就在于“转移注意力”。肯等待的孩子不会一直盯着棉花糖，他们捂住眼睛、玩捉迷藏或是唱歌，他们对棉花糖的渴望不是消失了而是暂时被忘记了。 </p> 
    <p>在米歇尔看来，这个棉花糖实验对参加者的未来有很强的预测性。“如果孩子可以控制自己而得到更多的棉花糖，那么他就可以去学习而不是看电视”，米歇尔说，“将来他也会攒更多的钱来养老。他得到的将不仅仅是棉花糖”。</p> 
    <p>此外，米歇尔和同事们还发现，甚至在19个月大的婴儿身上也可以看出“延迟满足”的能力差异。把婴儿从母亲身边抱走，观察不同婴儿的反应。有些婴儿立刻哇哇大哭，另一些则可以通过转移注意力来克服母亲离开的焦虑情绪，比如玩玩具。当这些婴儿5岁时，研究人员给他们做了同样的棉花糖实验，当初哇哇大哭的孩子长大后依然无法抵挡棉花糖的诱惑。</p> 
    <p>不难看出，“延迟满足”能力有遗传因素的影响。但是米歇尔不愿轻易下这样的结论。他认为先天因素和后天的培养同样重要。米歇尔找到了一些培养“延迟满足”的方法，比如把棉花糖看成一幅画或者一朵云彩。通过教孩子用这些方式看待棉花糖，来培养他们的自制力。他说：“如果孩子们意识到能通过转移注意力来实现自我控制，那么他们就向成功了走了一大步”。</p> 
    <p>现在，米歇尔正在准备一项大规模实验，希望能够找到一些有效的方法，使学校和家长能帮助孩子们提高我控制能力。</p> 
    <p>实验仍在继续 ……</p> 
    <p class="author">根据心理学空间网站上的一篇文章改写</p> 
    <blockquote class="notes"> 
     <dl> 
      <dt>
        【1】 心理学： 
       <span class="latin">(psychology)</span>心理学是一门研究人类的心理现象、精神功能和行为的科学。 
      </dt> 
      <dt>
        【2】 延迟满足： 
       <span class="latin">(delay of gratification)</span>就是我们平常所说的“忍耐”。为了追求更大的目标，获得更大的享受，可以克制自己的欲望，放弃眼前的诱惑。 
      </dt> 
      <dt>
        【3】 调查问卷： 
       <span class="latin">(questionnaire)</span>调查问卷又称调查表或询问表，是以问题的形式系统地记录调查内容的一种文件。 
      </dt> 
      <dt>
        【4】 指数： 
       <span class="latin">(index)</span>任何两个数值对比形成的相对数都可以称为指数。 
      </dt> 
      <dt>
        【5】 核磁共振成像仪： 
       <span class="latin">(Magnetic Resonance Imaging MRI)</span>一种做人体检查用的仪器。 
      </dt> 
      <dt>
        【6】 基因： 
       <span class="latin">（gene）</span>基因（遗传因子）是具有遗传效应的DNA片段。基因支持着生命的基本构造和性能。 
      </dt> 
      <dt>
        【7】 秘诀： 
       <span class="latin">(secret recipe)</span>不公开的，能有效解决问题的窍门、办法。 
      </dt> 
     </dl> 
    </blockquote> 
   </div> 
   <div class="lesson-work"> 
    <h1 class="work-title">阅读与理解</h1> 
    <ol> 
     <li>内容 <p> 这是一篇叙事文，详细介绍了心理学家米歇尔和他的团队所做的一项科学实验以及实验结果。作为一篇对一个科学事件的报道，文中清楚地列举了很多重要的事实：做实验的时间、地点和目的；做实验的过程，所用的时间等等。最重要的是，在实验中出现了一个意外情况，而通过这个意外情况，米歇尔得到了一个在原计划中没有想到的结果。</p> </li> 
     <li>叙事 <p> 对一篇叙事文来说，把一个事情，特别是一个严肃的科学事件讲清楚是最最重要的。对时间、地点、人物和数据的准确描述是写好一篇科学叙事文的关键。</p> </li> 
    </ol> 
    <h1 class="work-title">作业</h1> 
    <ol> 
     <li class="work">解释下面字词语的意思： 
      <ul> 
       <li class="item">研究人员：</li> 
       <li class="item">难熬：</li> 
       <li class="item">诱惑：</li> 
       <li class="item">放弃：</li> 
       <li class="item">分析：</li> 
       <li class="item">行为：</li> 
       <li class="item">维持：</li> 
       <li class="item">难免有些出入：</li> 
       <li class="item">扫描：</li> 
       <li class="item">区域：</li> 
       <li class="item">智商：</li> 
       <li class="item">取决于：</li> 
       <li class="item">渴望：</li> 
       <li class="item">预测性：</li> 
       <li class="item">焦虑情绪：</li> 
       <li class="item">轻易：</li> 
       <li class="item">意识到：</li> 
       <li class="item">大规模：</li> 
       <li class="item">有效：</li> 
      </ul> </li> 
     <li class="work">回答问题： 
      <ul> 
       <li class="item">在做实验的小房间的桌子上，除了那颗棉花糖之外，还有一个什么东西？</li> 
       <li class="item">“对这些孩子们来说，这是个很难熬的等待过程”，为什么说这个过程很难熬？</li> 
       <li class="item">为什么米歇尔要给那些参加者的父母和老师发调查问卷？这和他与女儿们的谈话有什么关系？</li> 
       <li class="item">通过这些调查问卷，米歇尔到底想知道什么？</li> 
       <li class="item">心理学家认为，智商对一个人是否成功是决定因素，米歇尔是怎么想的？</li> 
       <li class="item">一个人要成功，智商和自我控制能力哪个更重要？</li> 
       <li class="item">人的自我控制能力的高低是天生的吗？</li> 
       <li class="item">“他得到的将不仅仅是棉花糖”这句话是什么意思，他会得到什么？</li> 
       <li class="item"> 今天放学回家后，你得做作业，看决赛，收拾自己的房间。如果完全让你自己选择，你先做那件事？</li> 
      </ul> </li> 
     <li class="work">朗读课文的前四段。</li> 
     <li class="work">作文：棉花糖实验（越短越好，不要超过 400 字） <p>简单复述一下这篇课文，要有下面三个内容：</p> 
      <ol> 
       <li class="item">米歇尔做了个什么实验</li> 
       <li class="item">实验做了多长时间</li> 
       <li class="item">通过这个实验，米歇尔得出了一个什么样的结论</li> 
      </ol> </li> 
    </ol> 
   </div> 
  </div> 
  <div id="workshop-snow" class="hidden-panel"> 
   <div class="article-text"> 
    <img src="images/courses/snow.jpg" width="65%" class="image-center"> 
    <p>年三十<span class="note">【1】</span>傍晚，广州火车站的广场突然静了下来。满地纸屑、饮料瓶、吃剩的水果皮和白色的泡沫饭盒，几个清扫工没精打采地挥舞着扫把。 </p> 
    <p>时间还早，我买了份报纸，走向车厢。</p> 
    <p>车厢里没人，我选了一个靠窗的位置坐下。看着报，不久就开车了。</p> 
    <p>不知到了哪个小站，上来一个农民模样的人，牵着个小女孩，对着车票仔细看座号，辨认清楚了，他们才坐下。整个车厢里没几个人，你想坐哪都行。一看就知，他们是不常坐车的。</p> 
    <p>那个男人四五十岁的样子，灰黄的脸、很深的皱纹，有一双又干又细的手。那个女孩的脸也是灰黄的，土头土脑的样子，谈不上好看，只是那双黑眼睛就像灰烬里的火星，一闪一闪的。</p> 
    <p>他们坐在我对面。男人坐下去时，半哈着腰，发出一声短促的笑声，好像在说：“打扰了！”</p> 
    <p>这一路别想找几个人在车上玩牌，肯定无聊透了，我继续看我的报。</p> 
    <p>晚上，餐车送了一次面条，粘糊糊的，看着都没胃口。</p> 
    <p>我拿出上车前买的酱鸭，要了一瓶啤酒，准备凑合吃一顿年夜饭。<span class="note">【2】</span> </p> 
    <p>我请对面的一起吃，男人忙摆着手说，不吃，不吃。</p> 
    <p>我看见那个女孩看着面包，咽了一下口水。</p> 
    <p>我递过去一块面包，又撕了一只鸭翅，笑着说：“吃吧，都过年了，别客气！”</p> 
    <p>我又拿出花生米、凤爪几样下酒菜，索性大家喝个痛快。</p> 
    <p>“你们回家过年？”</p> 
    <p>“嗯 …… 不，小孩子没坐过火车，带她坐火车。”</p> 
    <p>“喔。”我嘴里应着，心里想中国还有这么浪漫的农民。</p> 
    <p>没怎么说话，饭很快吃完了，酒也喝光了。男人收拾桌上的碎骨。小女孩突然问：“叔叔，你看见过雪吗？”</p> 
    <p>“见过，白的，有的人说像糖，有的人说像盐。”</p> 
    <p>“您给我说说吧，说说吧。”</p> 
    <p>说着话，我想去洗手间。</p> 
    <p>路过洗手间旁的过道，我看见那个男人抱着头，蹲在地上。</p> 
    <p>哭泣，我听到压抑的哭泣声。</p> 
    <p>在男人断断续续的哭泣中，我听到那女孩的故事。母亲在她四岁时去世了，九岁时她得了白血病，到今年已经拖了四年，医生说今年可能是她的最后一个春节了。爸爸问她想要啥，她说只想看看雪，生长在广东偏僻的山区，她从来没有见过雪。她生病前读的最后一篇课文是《济南的冬天》，在她脑海中不断地想象着真正的冬天的模样。她想翻过家乡的这座大山，看看山那边下雪是什么模样。</p> 
    <p>这个一贫如洗的父亲在大年三十晚上陪她一起坐火车去看雪。坐着这趟车去，坐着当晚回程的车回，再也没有多余的钱去住旅店、在车上吃饭了。临走前，他们听了天气预报，说杭州今夜有一场大雪。</p> 
    <p>我无法想象在这样一张黄灰皮肤的脸庞下有这样一颗细腻的心。</p> 
    <p>我走到座位旁，给小女孩耐心地讲起下雪时的种种趣事。</p> 
    <p>到站了，杭州很冷，风很大，却没有雪。</p> 
    <p>我拿了三百块钱给他，他死活不要。我留下一堆食品给他们。</p> 
    <p>他们送我上了从杭州到新安江的车，在车旁拼命摇着手。</p> 
    <p>在回乡的时候，最怕碰上风雪天，而我希望今天赶快下雪，下得越大越好。</p> 
    <p>一天无雪。</p> 
    <p>一夜无雪。</p> 
    <p>初三的晚上，一家人坐在火炉旁吃火锅。</p> 
    <p>我突然说了声：“下雪了。”</p> 
    <p>家人愣了一下：“你怎么知道，是下雪了吗？”</p> 
    <p>我没出声，径直走向窗边，拉开窗帘。</p> 
    <p>雪像细小的雨丝一样轻轻地落下，细细的，轻微的，那些声音像很薄的玻璃破碎时发出的极小的声音。渐渐地，变成大片大片的雪花，顷刻间给大地掩上了一层被子。</p> 
    <p class="author">作者：山鬼，文字略有删节和修改</p> 
    <blockquote class="notes"> 
     <dl> 
      <dt>
        【1】 年三十：指阴历腊月三十日（小月为二十九日），是一年的最后一天 
       <span class="latin">(Chinese New Year's Eve)</span> 
      </dt> 
      <dt>
        【2】 年夜饭：年三十那天的晚饭。按中国的传统，一家人在这一天，特别是在晚饭的时候，应该都回到家里，和全家人一起吃这顿年夜饭，所以年夜饭也叫团圆饭。 
      </dt> 
     </dl> 
    </blockquote> 
   </div> 
   <div class="lesson-work"> 
    <h1 class="work-title">阅读与理解</h1> 
    <div style="text-indent: 36px;"> 
     <p>作者在这篇文章中，用得全是很短的简单句子，全篇没用一个连词，比如说“和”，“而且”，“因为……所以”等。简单、直接的描述也能打动人，有时会给人一种在读散文诗的感觉。</p> 
     <p>比喻是一种常用的修辞手法，用相似的事或物来做比较，用得好时，能把问题说得很清楚，很形象。比如说用“狼吞虎咽”形容人饿坏了时的吃相；用“像箭一般的冲过去”形容人跑得快等。本文的最后一段用了两个比喻：“很薄的玻璃破碎时发出的极小的声音”和“掩上了一层被子”。第二个很常用，也很容易理解。第一个比喻就不那么容易理解了。作者的意图可能是：雪下晚了，但终于来了，此时非常安静，静到连小雪花破碎的声音都能听到了。</p> 
     <p>那对父女最后看到雪了吗？他们后来怎么样了？作者没有交代，把所有的想象空间都留给了读者。</p> 
    </div> 
    <h1 class="work-title">作业</h1> 
    <ol> 
     <li class="work">解释下面字词语的意思： 
      <ul> 
       <li class="item">没精打采:</li> 
       <li class="item">车厢:</li> 
       <li class="item">打扰了:</li> 
       <li class="item">灰烬:</li> 
       <li class="item">索性：</li> 
       <li class="item">白血病：</li> 
       <li class="item">偏僻：</li> 
       <li class="item">一贫如洗：</li> 
       <li class="item">细腻：</li> 
       <li class="item">径直：</li> 
       <li class="item">顷刻间：</li> 
      </ul> </li> 
     <li class="work">回答问题： 
      <ul> 
       <li class="item">为什么“广州火车站的广场突然静了下来”？</li> 
       <li class="item">“我又拿出花生米、凤爪几样下酒菜”，凤爪是什么？</li> 
       <li class="item">中年人说带孩子坐火车，“我”为什么会有“中国还有这么浪漫的农民”这样的想法？</li> 
       <li class="item">那个小姑娘最后看到雪了吗？</li> 
       <li class="item">为什么“我”会感觉到下雪了？</li> 
       <li class="item">如果作者把时间改一下，让那场雪在他回家的路上就开始下，你觉得这个故事会更好一些吗？</li> 
      </ul> </li> 
     <li class="work">朗读课文的开始部分（从开始到“一闪一闪的”）</li> 
     <li class="work">作文（字数不限）：从下面几个题目中选一个写： 
      <ul> 
       <li class="item">《老人院》讲一个你在老人院里听到的故事</li> 
       <li class="item">《龙舟赛》讲讲你参加过的一次龙舟赛</li> 
       <li class="item">《当老师》讲一个你在学校当老师时发生的故事（折纸，空竹等）</li> 
       <li class="item">《竞选》讲一个学生会竞选时发生的故事</li> 
       <li class="item">《中国见闻》讲一个回中国时的你所经历过的故事(在街上，在夏令营里，在家里）</li> 
      </ul> </li> 
    </ol> 
   </div> 
  </div>
 </body>
</html>