
<div id='tips' class='show-tips'>
  <p>
    <b>A few tips of doing homework online:</b>
  </p>
  <ol class='no-indent'>
    <li>
      <p>Use the radio buttons, input fields and text areas to answer the
        questions.</p>
    </li>
    <li>
      <p>Click on the title of the essay to open a Google online document to
        start writing.</p>
    </li>
    <li>
      <p>
        Click on the
        <input type='button' value='Review'>
        button to review the homework. You may continue working on your homework
        and click on this button as many times as needed.
      </p>
    </li>
    <li>
      <p>
        Click on the
        <input type='button' value='Submit'>
        button to submit the homework. Note that you will no longer be able to
        work on the homework after you have submitted it.
      </p>
    </li>
    <li>
      <p>To attach a file (e.g. your recorded reading) to this page, click
        on "Add files" at the bottom of the page. You may delete the attachment
        and re-attach it if needed.</p>
    </li>
  </ol>
</div>
