<div style="border: 1px dotted #f3f3f3; margin-top: 6px">
  <div
    style="color: blue; background-color: #f3f3f3; border: 4px solid #f3f3f3; margin-bottom: 4px; font-size: 14px; text-align: center">
    Recently Assigned Homework
  </div>
  <div>
  abc
  </div>
</div>

  <!-- The HTML code of the student-template page -->
  <div style="width: 100%">

    <p style="color: brown; text-align: center; font-size: 24px">My Course
      Work Home</p>
    <img
      src="https://sites.google.com/a/greatwallchineseacademy.org/site-media-lib/images/course-work.jpg"
      style="display: block; margin-right: auto; margin-left: auto; width: 400px; border: 0">
    <br>

    <table
      style="border-collapse: collapse; border-color: rgb(136, 136, 136); margin-right: auto; margin-left: auto; width: 80%; border-width: 1px">
      <tbody>
        <tr>
          <td style="width: 50%">
            <div>
              <img class="sites-placeholder-subpages"
                src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BPage+listing'%3D20'f%5Cv'a%5C%3D0'10'%3D499'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B%22Subpage+Listing%22'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D500'%3D297'dim'%5C%3D10'%3D10'%3D500'%3D297'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C&amp;sig=lxEPbO98PQKCTIgDHMqrwU0hJD8"
                data-type="subpages"
                data-props="align:left;borderTitle:Subpage Listing;displayAs:gadget;maxDepth:6;rootPage:THIS_PAGE"
                style="display: block; text-align: left; margin-right: auto;"
                height="220" width="100%">
            </div>
          </td>

          <td style="width: 50%">
            <div dir="ltr">
              <div style="border: 1px dotted #e6e6e6; margin-top: 5px">
                <div
                  style="color: DarkBlue; background-color: #e6e6e6; border: 6px solid #e6e6e6; margin-bottom: 4px; font-size: 12px; text-align: left; font-weight: bold">
                  Recently Assigned Homework</div>
                <div>
                  <img
                    src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BGoogle+Apps+Script%27%3D20%27f%5Cv%27a%5C%3D0%2710%27%3D499%270%27dim%27%5Cbox1%27b%5CF6F6F6%27fC%5CF6F6F6%27eC%5C0%27sk%27%5C%5B%22Apps+Script+Gadget%22%27%5D%27a%5CV%5C%3D12%27f%5C%5DV%5Cta%5C%3D10%27%3D0%27%3D500%27%3D217%27dim%27%5C%3D10%27%3D10%27%3D500%27%3D217%27vdim%27%5Cbox1%27b%5Cva%5CF6F6F6%27fC%5CC8C8C8%27eC%5C%27a%5C%5Do%5CLauto%27f%5C&amp;sig=yd5LJzifwrGiFE-ywuGGvLSdoVg"
                    data-origsrc="https://sites.google.com/a/macros/greatwallchineseacademy.org/s/AKfycbwNZLtRqJLUaDdxmS91vVrKnn52GIz4XBnVSxVi5g/exec"
                    data-type="maestro"
                    data-props="align:left;borderTitle:Apps Script Gadget;height:220;showBorder:false;showBorderTitle:false;wrap:false;"
                    style="display: block; text-align: left; margin-right: auto;"
                    height="220" width="100%">
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div style="display: block; text-align: center; margin-top: 30px">
      <img
        src="https://sites.google.com/a/greatwallchineseacademy.org/site-media-lib/images/pencils.jpg"
        style="width: 75%; display: block; margin-right: auto; margin-left: auto; text-align: center"
        border="0">
    </div>
  </div>