<!doctype html>
<html>
 <head> 
  <meta charset="UTF-8"> 
  <base href="https://gwca-classroom.appspot.com/"> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
  <script src="scripts/classroom.js"></script> 
  <link rel="stylesheet" type="text/css" href="scripts/books.css"> 
 </head> 
 <body> 
  <div data-ng-app="classroom" data-ng-controller="classroomController" class="container"> 
   <header> 
    <a href="classroom.html"> <img src="images/sites/GWCALogo.gif" height="60px" class="image-left"></a> 
    <p class="page-title">长城中文学校教师</p> 
   </header> 
   <div style="margin-top: 40px; margin-bottom: 340px"> 
    <div class="book-table"> 
     <div class="left-3col"> 
      <a href="teachers/youping-hu/youping-hu.html"><img src="images/sites/youping.jpg" class="image-toc"> </a> 
      <p class="book-title"> 胡友平<span class="latin"> Youping Hu</span> </p> 
      <p class="center-green"> <span class="latin">since 2012</span> </p> 
     </div> 
     <div class="center-3col"> 
      <img src="images/sites/profile-picture.png" class="image-toc"> 
      <p class="book-title"> 张三<span class="latin"> John Doe</span> </p> 
      <p class="center-green"> <span class="latin">since 2012</span> </p> 
     </div> 
     <div class="right-3col"> 
      <img src="images/sites/profile-picture.png" class="image-toc"> 
      <p class="book-title"> 李四<span class="latin"> Jane Doe</span> </p> 
      <p class="center-green"> <span class="latin">since 2012</span> </p> 
     </div> 
    </div> 
   </div> 
   <footer>
     {{footerText}} 
   </footer> 
  </div>   
 </body>
</html>