<!doctype html>
<html>
 <head> 
  <meta charset="UTF-8"> 
  <base href="https://gwca-classroom.appspot.com/"> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script> 
  <script src="scripts/course-list.js"></script> 
  <script src="scripts/course.js"></script> 
  <link rel="stylesheet" type="text/css" href="scripts/books.css"> 
 </head> 
 <body> 
  <!-- The page container with the panels of header, navigation and article --> 
  <div id="page-container" class="container" data-ng-app="course" data-ng-controller="courseController" data-ng-init="init()"> 
   <header> 
    <a href="books/books.html"> <img src="images/sites/GWCALogo.gif" height="60px" class="image-left"></a> 
    <p class="header-text">{{selectedCourse.description}}</p> 
   </header> 
   <nav> 
    <p id="toc-image" data-ng-show="selectedCourse.image.length > 0"> <img data-ng-src="{{selectedCourse.image}}" height="80px" class="image-center"> </p> 
    <p class="sidebar-chinese-title">{{selectedCourse.title}}</p> 
    <div class="title-list"> 
     <ol> 
      <li class="charpter-index" data-ng-repeat="lesson in lessonTitles" data-ng-click="setLesson(lesson.lesson)"><span data-ng-style="{backgroundColor: lesson.bgcolor}">{{lesson.title}}</span></li> 
     </ol> 
    </div> 
    <div class="section-list" data-ng-show="sectionLabels.length > 0"> 
     <fieldset> 
      <legend> Select Content </legend> 
      <div data-ng-repeat="section in sectionLabels"> 
       <input type="radio" name="lesson-section" data-ng-checked="{{isSelectedSection(section)}}" data-ng-click="setSection(section.section)"> {{section.label}} 
      </div> 
     </fieldset> 
    </div> 
    <!-- Audio player to play the selected clip --> 
    <div id="audio-panel" data-ng-show="isAudio"> 
     <audio id="audio-player" controls class="side-clip"> 
      <source id="audio-source" src="" type="audio/mpeg"> 
     </audio> 
    </div> 
    <!-- Message panel --> 
    <p class="message">{{message}}</p> 
   </nav> 
   <article id="article-panel"> 
    <!-- Video player with the selected clip and text --> 
    <div data-ng-show="isVideo"> 
     <iframe id="video-panel" src="" width="400" height="230" style="display: inline; margin-left: 10px; float: right;"></iframe> 
    </div> 
    <!-- Text panel --> 
    <div id="text-panel"> 
     <div data-ng-bind-html="lessonText"></div> 
     <p class="next-text" data-ng-show="isMultiText" data-ng-click="getNextText()">Next Text</p> 
    </div> 
   </article> 
  </div>   
  <!-- The HTML elements for each lesson and section. --> 
  <div id="npcr4-book" class="hidden-panel"> 
   <div style="margin-left: 20px;"> 
    <img src="images/sites/npcr4-cover.jpg" height="100px"> 
   </div> 
  </div> 
  <div id="npcr4-textbook" class="hidden-panel"> 
   <div class="common-recording"> 
    <img src="images/sites/textbook-sound.jpg" height="200px"> 
   </div> 
  </div> 
  <div id="npcr4-workbook" class="hidden-panel"> 
   <div class="common-recording"> 
    <img src="images/sites/workbook-sound.jpg" height="200px"> 
   </div> 
  </div>
 </body>
</html>