<script>
	var manager;

	/**
	 * Initializes everything of the home page
	 * The onload event handler of the <body onload>
	 */
	function initPage() {
		manager = new HomeworkManager();
		manager.initClassInfo();
	}

	/**
	 * Builds a homework title list for the specified class.
	 * The onchange event handler of the <select id='active-classes'>
	 */
	function buildHomeworkTitles(element) {
		var className = element.value;
		manager.buildHomeworkTitles(className);
	}

	/**
	 * Gets the list of members to assign homework to
	 * The onclick event handler of the 'Members' button. 
	 */
	function members() {
		manager.members();
	}

	/**
	 * Checks the homework status of all the students
	 * The onclick event handler of the 'Status' button. 
	 */
	function status() {
		manager.status();
	}

	/**
	 * Previews the selected homework
	 * The onclick event handler of the 'Preview' button. 
	 */
	function preview() {
		manager.preview();
	}

	/**
	 * Assigns homework to a list of students
	 * The onclick event handler of the 'Assign' button. 
	 */
	function assign() {
		manager.assign();
	}

	/**
	 * Notifies the class members about the latest homework assignment.
	 * The onclick event handler of the 'Notify' button. 
	 */
	function notify() {
		manager.notify();
	}

	/**
	 * Creates a set of course work pages for this year's students if they don't have one yet.
	 * The onclick event handler of the 'Create Pages' button. 
	 */
	function createCourseWorkPages() {
		manager.createCourseWorkPages();
	}

	/**
	 * Updates a set of course work pages for all the students if a page template gets changed.
	 * The onclick event handler of the 'Update Pages' button.
	 */
	function updateCourseWorkPages() {
		manager.updateCourseWorkPages();
	}
</script>
