<!doctype html>
<html>
 <head> 
  <meta charset="UTF-8"> 
  <base href="https://gwca-classroom.appspot.com/"> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script> 
  <script src="scripts/course-list.js"></script> 
  <script src="scripts/course.js"></script> 
  <link rel="stylesheet" type="text/css" href="scripts/books.css"> 
 </head> 
 <body> 
  <!-- The page container with the panels of header, navigation and article --> 
  <div id="page-container" class="container" data-ng-app="course" data-ng-controller="courseController" data-ng-init="init()"> 
   <header> 
    <a href="books/books.html"> <img src="images/sites/GWCALogo.gif" height="60px" class="image-left"></a> 
    <p class="header-text">{{selectedCourse.description}}</p> 
   </header> 
   <nav> 
    <p id="toc-image" data-ng-show="selectedCourse.image.length > 0"> <img data-ng-src="{{selectedCourse.image}}" height="80px" class="image-center"> </p> 
    <p class="sidebar-chinese-title">{{selectedCourse.title}}</p> 
    <div class="title-list"> 
     <ol> 
      <li class="charpter-index" data-ng-repeat="lesson in lessonTitles" data-ng-click="setLesson(lesson.lesson)"><span data-ng-style="{backgroundColor: lesson.bgcolor}">{{lesson.title}}</span></li> 
     </ol> 
    </div> 
    <div class="section-list" data-ng-show="sectionLabels.length > 0"> 
     <fieldset> 
      <legend> Select Content </legend> 
      <div data-ng-repeat="section in sectionLabels"> 
       <input type="radio" name="lesson-section" data-ng-checked="{{isSelectedSection(section)}}" data-ng-click="setSection(section.section)"> {{section.label}} 
      </div> 
     </fieldset> 
    </div> 
    <!-- Audio player to play the selected clip --> 
    <div id="audio-panel" data-ng-show="isAudio"> 
     <audio id="audio-player" controls class="side-clip"> 
      <source id="audio-source" src="" type="audio/mpeg"> 
     </audio> 
    </div> 
    <!-- Message panel --> 
    <p class="message">{{message}}</p> 
   </nav> 
   <article id="article-panel"> 
    <!-- Video player with the selected clip and text --> 
    <div data-ng-show="isVideo"> 
     <iframe id="video-panel" src="" width="400" height="230" style="display: inline; margin-left: 10px; float: right;"></iframe> 
    </div> 
    <!-- Text panel --> 
    <div id="text-panel"> 
     <div data-ng-bind-html="lessonText"></div> 
     <p class="next-text" data-ng-show="isMultiText" data-ng-click="getNextText()">Next Text</p> 
    </div> 
   </article> 
  </div>   
  <!-- The HTML elements for each article. --> 
  <div id="youping-hu-Beijing" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">让人那什么的北京</h1> 
      <h1 class="title-date">2012-12-20</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p>《让我迷恋的北京城》的作者是个曾在北京留过学的外国人，若干年后回到这个城市，他发现北京从一个不太方便的城市变成了一个现代化、繁华的大都市，而北京人没变，还是那些热情好客的北京人。于是他就发了一通对北京变与不变的感慨，最后说了一句“这就是让我迷恋的北京城”。</p> 
    <p>老胡出生在北京，在那上学，工作，生活了三十年，小时候爬过城墙，趟过护城河，自然对这个城市情有独钟，因而也很喜欢读京味儿作品。老舍，邓友梅，刘心武，王朔，刘一达，都梁等他都喜欢，从小一直看到现在。毫无疑问，老舍为京味儿作家中当之无愧的宗师。他笔下的人物、场景、对话、故事，京字京韵，活灵活现，那都写绝了。有人说，学谁也别学老舍，你学得再好也超不过去。到头儿了，人家说，又发现了一篇老舍的佚文。可现在你要是去北京，要是不认真寻访，就算你在那住上个几个月，甚至一年两年的，可能也听不见几句老舍书中的那种北京话，见不着几个老舍笔下的那种北京人。为什么呢？北京变了。</p> 
    <p>老舍写得是三十年代到五十年代的北京，故事大都发生在皇城根儿下的四九城里，人物也都是住在那的平头百姓。有商人、伙计、警察、教师、学生、家庭妇女、流氓地痞、秦行和梨园中人等，还有一个特殊的八旗子弟人群，他们统称为老北京人。有时候被贬称为胡同串子。老北京人的那份从容、潇洒、幽默、热心、豁达、礼貌、眼高手低、什么都不放在眼里的劲头，被老舍表现得淋漓尽致，入木三分。邓友梅比老舍稍晚，他也写天津的的事，但他写北京的书，像《烟壶》，《寻访画儿韩》等也是取材于这些人或他们的后代。刘一达是为数不多的至今还在写老北京人的作家之一。与其说他是一个作家，他更像一个民俗学者。在越来越少的胡同和老北京人中努力挖掘整理老北京的习俗和土语。像《人虫儿》，《爷是大厨》，《胡同根儿》等，那里用的语言，你要是没跟老北京人接触过，理解起来大概都有些困难。</p> 
    <p>四九年新中国建国后，北京被重新定为国都。随着中央和北京市政府编制的恶性膨胀，也随着北京从一个纯粹的消费城市向政治、经济、文化和工业城市的转变，大批的军人，干部，知识分子和产业工人从天南海北走进了北京。他们中间的一部分人住进了北京的旧城区，而大部分则住在北京城外的新区里。这些新区很多都是以政府或部队机关为单位兴建的，中关村大概是这些新区中最有名的一个。他们是被政府调来的，来的时候身上揣着户口本，购粮本和组织关系。一进京就有房子，有工作。他们是带着占领者的骄傲，建设者的热情，当然也很有些人是带着投机者的侥幸心理而来的。</p> 
    <p>这些人的到来极大地改变了北京人的成分。他们不说北京话，南腔北调哪的口音都有。他们和老北京人也没有太多的接触，因为他们中间很多人根本就不为北京工作。他们不逛天桥，很少去前门大栅栏，也没兴趣到长安大戏院去听戏。因为人数很多，他们甚至基本上不和老北京人通婚。到了六、七十年代，这个人群的人口已经接近或超过了老北京人的人口。他们的第二、三代人说带北京口音的普通话，自称北京人以把自己和老北京人区分开来。不同于胡同里的居民，他们被称为大院里的居民。文革开始时，他们大多还是学生，很自然地成了红卫兵的主要组成部分。王朔和都梁的作品绝大多数取材于这一人群。这些作品不太用北京土话，人物形象也和老舍的人物有很大差别。从他们身上仍可看到老北京人的影子，但增加了一些新的特点，如文人的清高，痞子的蛮横和权贵的霸气。从容潇洒中加上了些玩世不恭；幽默里混杂了许多调侃；眼高手低，什么都不放在眼里的劲头仍在，只是有时显得有点不可一世。</p> 
    <p>从八十年代开始，北京的居民成分又发生了一次巨大的变化。成千上万来自不同阶层和不同地方的人群再一次涌入这个古老的城市。和三十年前进京的那拨人相比，他们既没有户口，也没有工作，很多人甚至连住的地方都得现找。他们来的时候最大的本钱就是那身用不完的力气和对未来生活的憧憬。北京人干的活他们抢着干，北京人不干的活他们全包了。从餐馆服务员、建筑民工、歌手演员、公司经理到央视主播，各行各业里全有他们的身影。北京人不管他们叫北京人，而给他们起了个极为形象的名字：“北漂”。甭管他们叫什么，他们在北京生活，工作，他们是北京居民的一部分，他们就是北京人。好像还没有以写北漂出名的作家，但这不重要，他们用自己的成功向所有的人展示自己。</p> 
    <p>中国政府在五十年代初期拒绝了几位有识之士保护北京古城的建议，一意孤行地在北京旧城原址上扩建、重建这个城市从而基本上毁了这个有八百多年都城历史的古都。北京的城墙，城门，街上的牌坊、寺庙等随着地铁，新商业区的修建而消失。最具北京特点的胡同和四合院也越来少了。用北京人自己的话说，北京的建设就像摊煎饼，以故宫为中心，一圈一圈地向外扩展。二环，三环，四环，过不了几年就得有八环十环了。换个角度看，那些曾经孕育了传统京味儿文化的胡同，全都处于寸土寸金的北京市中心里。不管当今的北京市政府如何想保护这块有深厚历史积淀的地方，不久以后，那里将不再是平民百姓居住的地方了。如果换之以高楼，两、三万一平米的房价将赶走所有的工薪阶层。如果整旧如旧，保留四合院，几十万一米的房价将使那成为一个权贵和暴发户特区。传统京味儿文化也将随之彻底消亡。在权贵和暴发户特区里，文化不会有任何地位。从前没有过，今后也不会有。再别指望那地方还能对将来的京味儿文化提供什么营养了。</p> 
    <p>和《让我迷恋的北京城》的作者不一样，在老胡眼里，北京从一个古色古香的历史名城变成了一个现代化、繁华的大都市。北京的城墙、城门、胡同、四合院、庙宇、牌楼、鱼缸、石榴树和胖丫头，在这六十几年里，一个接着一个地消失了，而且是无可挽回地消失了。故宫、颐和园和天坛还在，成了为数不多的几个提醒人们这曾是一个历史名城的标识。除此之外，北京和其他的现代化大都市已经没有多大区别了。这不能不让人感到相当遗憾，有时甚至会有点儿痛心。</p> 
    <p>每次回北京，老胡心里的这种感受就加重一些。有时他会想：要是当年国民党赢了那场内战；要是当年北京没被重新选作国都；要是当年中央政府采用了梁思成等建设新北京的设想……。当然了，历史不接受假设。事实是：老北京人被新北京人代替了，新北京人又正在被“北漂”所代替。无论她是一个让人迷恋的，让人遗憾的还是让人痛心的北京，有一点是肯定的，她的的确确是一个让人眼花缭乱、随时都在变化的北京。</p> 
   </div> 
  </div> 
  <div id="youping-hu-DoneEatingYet" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">吃了吗您哪</h1> 
      <h1 class="title-date">2012-11-05</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p>为了讲《五味》，老胡上网查了查作者汪曾祺老先生的背景资料，他惊奇地发现，这位汪老先生原来是《沙家浜》的主要作者之一。小时候，老胡几乎能把《沙家浜》从头唱到尾，可熟悉到这种程度居然不知道这出戏原来出自汪老先生之手，这让老胡感到有点失敬。</p> 
    <p>《五味》这篇课文有些难度，在一篇一千字左右的短文中，光地名就提到了二十个，从南到北，从中国到外国，汪老先生算是吃遍了大江南北，也算是学贯东西。用他自己的话来说，“中国人口味之杂，敢说是世界第一”。老先生吃得口滑，老胡讲得舌燥，为了让大家有个直观的印象，只好请出谷歌，画了张“五味”地图。</p> 
    <p>高手写散文，要做到形散而神不散。汪老先生这篇《五味》算是篇典范之作。没有时间，没有人物，没有故事，更没有悬念和矛盾，可读起来有一种神闲气定，挥洒飘逸的感觉。</p> 
    <p>文中提到了“气死”，那种特臭的美国奶酪，可汪先生说他不在乎，比起中国的臭豆腐来，那简直就算不上什么。别说汪先生了，连那位大人物都称赞说：“长沙火宫殿的臭豆腐还是好吃”。这让老胡联想起汉口老通城的三鲜豆皮，也是被那位大人物称赞过的：“这家的豆皮好吃”。后来这两句“好吃”都成了“最高指示”。</p> 
    <p> 老胡从“气死”还想到了“幽默”，然后又想到了“卡拉 <span class="latin">ok</span> ”。它是日语 <span class="latin">Kara</span> 和英语 <span class="latin">Orchestra</span> 的组合，意思是“无人伴奏乐队”。按日语音译成英语成了 <span class="latin">Karaoke</span> ，再译成汉语则成了“卡拉 <span class="latin">ok</span> ”。一个名叫井上大佑的日本年轻乐队鼓手在六十年代发明了第一代卡拉 <span class="latin">ok</span> 机，之后不到三年就开始大行其道。三十年后，卡拉 <span class="latin">ok</span> 已成为世界性的家庭用语。井上大佑曾被美国时代杂志选为亚洲最具影响力的人物，与甘地和毛泽东相提并论。 </p> 
    <p> 井上大佑说：“没有卡拉 <span class="latin">ok</span> ，几乎不可能像专业歌手那样在完整的背景乐队伴奏下唱歌。在以前，那是梦想。”在日本，有些中老年人，怀念自己青春时的美好时光，通过演唱旧时的歌曲，舒发怀旧的情感，但又不便于在众人面前演唱。小型的卡拉 <span class="latin">ok</span> 包厢，能使他们如愿以偿。这种形式很快在日本流行起来。一九九一年，卡拉 <span class="latin">ok</span> 开始传入中国，并像雨后春笋般地在各个城市甚至乡镇中蔓延开来。九十年代中期，卡拉 <span class="latin">ok</span> 开始进入家庭。 </p> 
    <p> 手持话筒站在大屏幕电视前，轻声地哼一首“小城故事”，或轻快地唱一曲“日落西山红霞飞”，或荒腔走板地来一段“适才听得司令讲”，甚至声嘶力竭地吼一句“妹妹你大胆地向前走”，让不少人发现了一个自己都不太熟悉的自己，也让很多人看到了朋友身上平时难得一见的兴奋。一台卡拉 <span class="latin">ok</span> 机使许多朋友间的聚会更加热闹，也使朋友们在聚会上更加尽兴。所以哪怕是一年就用上一两次，买一台卡拉 <span class="latin">ok</span> 机仍是一项相当划算的娱乐投资。从另一方面讲，在紧张的生活中，人有时需要一些心理宣泄以减轻压力。摔盆摔碗，打架骂人的效果都不错，但并不适应所有的人，代价也相当高。卡拉一把则常有异曲同工的效果，且事半功倍。 </p> 
    <p>谁要是说老胡馋，他可能不爱听，可一说起吃来，他的嘴就停不下来。在中国，饮食属于文化范畴，聊聊好吃的，绝对是件高雅的事。现在到美国了，几乎和一切好吃的绝缘，可想想总还是可以的吧。</p> 
    <p>有一次出差坐飞机，老胡的邻座是一位带着小孙女旅游的老太太。闲聊中请老胡给她的小孙女用中文写一下她的名字。老太太挺有意思，在聊起第二代、第三代移民脱离原有文化这个话题时，她说这个脱离的过程首先是从饮食习惯的改变开始的。当一个年轻的移民不喜欢并且不经常吃家乡菜了，这种文化的转变才算真正开始。然后才是语言，文字，观念等方面的转变。</p> 
    <p>仁者见仁，智者见智，仔细想想，也不能说一点儿道理都没有。</p> 
    <p>忘不了吃年夜饭的情景吧？大年三十儿晚上，一家人坐在一起，北方人包饺子，南方人做一桌子菜，浓浓的亲情后面是深厚的文化底蕴。头一条就是为什么中国人在二月份过年？这农历和阴历，阳历的区别是什么？中国是世界上最早有精确历法的国家之一，所用的农历可以一直追溯到三千多年前的夏朝。饭桌上的美食冒着热气，散发着诱人的香味儿，那后面则是源远流长的黄河文明史。</p> 
    <p>到了正月十五，不但要吃元宵，还要赏花灯，猜谜语。猜个老谜语吧：“麻屋子，红帐子，里面住着个白胖子”。接着是五月初五的粽子，大诗人屈原投江；八月十五的月饼，嫦娥奔月；腊月初八的腊八粥，印度佛教传入中国；最有意思的是腊月二十三的关东糖，每年的这一天，家里供着的灶王爷要上天向玉皇大帝述职，汇报一年来一家人的表现，为了堵住他的嘴，给他几块关东糖吃，粘上牙后就说不了坏话了。</p> 
    <p>还有不定日子的，像生日宴上的长寿面，家宴上的叫花鸡、东坡肘子，家常菜中的蚂蚁上树、红嘴绿鹦哥，忆苦饭里的糠麸野菜，哪样后面没有一堆各式各样的故事呀？文化、艺术、历史、民俗，随着一勺一筷子，一点一滴地注入到脑子里，潜移默化，想忘记都不容易。可要是这些都没有了，那传统文化又从何谈起呀。</p> 
    <p>再扩宽一点儿，饮食习惯一词的头一个字儿是“饮”，这个字儿和酒分不开。酒文化在东西方大不相同。在西方，从某种意义上来说，酒本身是艺术品，所以品酒的过程就是欣赏艺术的过程，从气味、颜色、光泽、口感、温度、酒具到佐酒菜，每样都值得细细把玩。为了能更好地欣赏，甚至每品尝一口后，要把喝到嘴里的酒吐掉。而在中国，酒则更像是一种艺术的催化剂，不喝到一定程度，哪有“举杯消愁愁更愁”这样的佳句；不喝到飘然欲仙，哪能有“举杯邀明月，对影成三人”这样的情趣，当然就更谈不上“天子呼来不上船，自称臣是酒中仙”这样的意境啦。</p> 
    <p>听说有中国血统的美国高官骆家辉正在学中文，想把失落的文化找回一些来。要是他还在美国的话，不管是在华盛顿州，还是在华盛顿特区，估计都没有什么戏。可现在到北京啦，只要坚持吃油饼豆浆，时不常地再来两只鸭子，用不了多长时间，中文绝对能学好。下回在北京街头碰上他的时候，说不定他就能跟你来一句：“吃了吗您哪？”</p> 
   </div> 
  </div> 
  <div id="youping-hu-Editor" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">当一回编辑</h1> 
      <h1 class="title-date">2013-03-31</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p>说起来《新素食主义来了》这篇文章写得不够理想。数据运用不当，有的地方不完整，比较牵强（如空气和水污染，健康长寿等）。看完这篇文章后很难让人完全同意他们的观点。相信新素食主义者会有更好、更完整的数据来支持他们的理论。如果要进一步了解新素食主义，应该再读一些他们的论述。估计课文的编者是既要控制字数，又要把素食主义者的理由说全，结果每条都没说清楚。</p> 
    <p>这本教材为一个全职学生提供了一年的学习内容，比一年的周末学校所能学习的内容要多得多，所以老胡只能从中挑一部分来教。开始的时候，老胡没选这篇课文，可是转念一想，选一篇不太理想的也许不是件坏事，给大家个机会，练练当编辑也不错。</p> 
    <p>从这个想法出发，这节课就有了不少讨论的话题，比如：素食真得有利健康吗；工业化的饲养方式确实严重污染环境吗；怎么使用数据来支持论点；这篇课文的数据用得如何。最后一个讨论题目是：如果重写一遍这篇课文，你想怎么写。</p> 
    <p>课堂上大家想了不少办法，列在黑板上有七八条，都是不错的想法。最后老胡把他自己的想法拿了出来，和大家分享了一回。老胡从小就喜欢挑别人的错，有时让人挺讨厌，为此曾一再被老师批评为骄傲自满。后来他很努力很努力地把这个习惯当缺点改了一辈子，没想到，这次和大家一起当编辑，名正言顺地好好挑了别人一回错。</p> 
    <p> 老胡的想法是这样的：与其试图在有限的篇幅内把所有的事都说清楚，不如只把最重要的事说清楚，其它的提一下就行了。为了介绍一个新的观点，或产品，用不长的篇幅重点介绍最重要的，更能起到介绍的作用。现在大家都在网上读文章，很少有耐心读长篇大作，作为介绍性的文章，一千字左右应该是比较合适的长度，但是题目和开始的几段一定要写好以抓住读者。第一是重点、第二也是重点，最后还是重点。长篇的详细论述可以放到参考书目（链接）中去。比如<span class="latin"> Apple </span>在介绍<span class="latin"> iPhone 5 </span>时，只说了四点：全新外观；四吋显示；超快无线；最新芯片。至于怎么打电话，怎么听音乐，怎么上网，连提都不提。 </p> 
    <p>按照这个思路，老胡把这篇课文重写了一遍。下面是老胡版的《新素食主义者来了》。</p> 
    <div class="small-text"> 
     <p>人们常常将素食主义者理解为因宗教、民族的原因，或者因某种奇怪的习惯而不吃鸡、鸭、鱼、肉等动物性食品的人。但我们所说的“新素食主义者”，既不是信仰某种宗教，也不是扮“酷”，更不是吃腻了大鱼大肉。他们选择素食，为的是身体健康；他们选择素食，为的是在繁华、热闹的城市里保留一份自然的心情；他们选择素食，是为了保护他们生活的环境；他们选择素食，是要给人类以外的其他生命平等的权利。他们选择素食作为自己的一种生活方式，是基于他们对自己健康的重视以及对除人以外其他生命的更多的爱和尊重。</p> 
     <p> 那么，“新素食主义者”离我们远吗？当我们看到写字楼里以素食为午餐的白领小姐，看到大学餐厅里只选素菜的大学生，看到素菜馆里来来往往的顾客……我们会感觉到，新素食主义真得来了。“新素食主义者”就在我们身边，尽管还只是少数，但毕竟不再让人觉得没法理解。也许在不久之后，素食将会成为更多人的个人选择。 <span class="comment">（这两段没改）</span> </p> 
     <p> 新素食主义者主张素食有许多理由。他们认为，素食对保护环境、减少自然资源的消耗能起到积极的作用，而且对人类自身的身体健康也很有好处。非常重要的一条是：要让人类以外的其他生命在这个星球上有平等生存的权利。 <span class="comment">(列出几条主要的理由：环境，资源，健康和生存权力)</span> </p> 
     <p> 他们认为，动物和人共享地球上的资源，它们有在这里生活的平等权利。可是人类凭借着智力上的优势和制造工具的能力，大量捕杀动物以满足他们对肉食的需要。有数据表明，现在全世界每年被杀害的动物数量是世界人口的7倍，也就是说，每年有近500亿的动物被人类杀害。随着人口的增加，生活水平，特别是许多发展中国家人民生活水平的大幅度提高，人类对肉食的需求也在大幅度地提高，所以今后每年会杀害更多的动物。 <span class="comment">（用500亿这个惊人的数字触动读者的神经）</span> </p> 
     <p> 为了满足人类对肉食不断增长的需要，传统的饲养方式已经逐渐地被工业化的饲养方式所取代，这种做法无情地、彻底地改变了许多家畜、家禽本来的生活方式。对人类来说，它们和其他从工厂中生产出来的工业产品，如桌椅、衣服等，已没什么不同，生产出来不过是为了满足人类生活的某种需要而已。 <span class="comment">（用生命等同于一般工业产品这个事实来说明我们对其它生命的不平等）</span> </p> 
     <p> 另外，人类对海洋动物地过量捕捞，对海洋生物造成了极大的伤害，比如鲸鱼、金枪鱼的数量已大大减少。由于大规模远洋捕鱼技术的发展，在一些国家的近海已经没有渔汛，全年无鱼可捕。 <span class="comment">（用更多的事实告诉读者人类对动物的滥杀行为）</span> </p> 
     <p> 这种滥杀和工业化饲养，不但极大地损害了动物的生存权利，最终也会伤害到人类自身。不懂得尊重别人的人也不懂得尊重自己，不懂得尊重其他动物生存权利的人也不懂得尊重自己的生存权利。新素食主义者认为：人类必须尊重动物的生存权利，而素食就体现了这种尊重。 <span class="comment">（长此以往，人类最终会受到他们自己这些行为的惩罚）</span> </p> 
     <p> 为了和所有的动物和谐、平等地共享这个星球；为了有更健康的身体；为了保护自然环境；为了和子孙万代共享地球上的资源，新素食主义者说：还是坚持素食主义好！ <span class="comment">（呼应开头的那段排比句）</span> </p> 
    </div> 
   </div> 
  </div> 
  <div id="youping-hu-MaternalLove" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">生活中的母爱</h1> 
      <h1 class="title-date">2012-9-25</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p>第一课《母爱》，作者王祥夫，作协会员，国家一级作家。这一课相当有挑战性，男老师和女老师讲起来肯定不一样，当过家长的没当过的讲起来肯定也不一样。老胡在家准备的时候，一走神儿，想起了鲁迅的一篇名为《高老夫子》的短篇。胸无点墨的尔础高老夫子去代历史课，偏偏要讲最不熟悉的“东晋之偏安”，从而闹出了说不尽的笑话。想到高老夫子走出教室时的窘态，老胡手心儿直出汗，心说：“千万可别成了当代的高尔础呀。”</p> 
    <p>提到母爱，首先想到的一定是“昔孟母，择邻处，子不学，断机杼”，于是就有了中国的亚圣孟夫子；还有脊背上“精忠报国”四个字造就的大英雄岳飞；如果说这些伟大的母亲太久远的话，还有当代耶鲁的虎妈，一曲《虎妈妈的战歌》，唱出来两个在学业、音乐等方面都有卓越表现的乖女儿。而在王祥夫笔下，母爱却是通过一位没什么文化，平常，甚至有点儿啰嗦的老太太表现出来的。</p> 
    <p>对老胡来说，生词，课文理解，甚至语法都好说，可是“母爱”，确实不容易讲。想来想去，老胡还是决定将“择邻处”的母亲和有点啰嗦的母亲对比着讲，并启发大家从每天生活中总在身边的妈妈身上去体会那种母爱。</p> 
    <p>“慢点儿吃，小心噎着。”</p> 
    <p>“慢点儿喝，小心呛着。”</p> 
    <p>“穿上外套，小心冻着。”</p> 
    <p>“出去玩儿的时候别猛跑，小心摔着。”</p> 
    <p>“挺大的姑娘，别老咧着嘴笑，小心长大后嫁不出去！”</p> 
    <p>王祥夫想说的应该就是这些，作为一种天性，母爱从这些琐碎的生活小事中，一点一滴、自然而然地流露了出来。</p> 
    <p>老胡小时候上学的时候，从来没听哪位老师说过哪篇课文写得不好，或者说些他自己的想法。课本上的课文都是专家们从成千上万的优秀作品中精选出来，绝对是十全十美的。老师的责任就是要通过他的讲解告诉学生那些课文是如何如何的好，这实在是中国教育中的一大缺憾。为此，老胡专门在课上组织了一次讨论：这篇文章写得真实吗？老胡还特别说了，老师的意见不一定对，一家之言而已。</p> 
    <p>大家都觉得课文中对那两件生活小事的描写很生动，也很真实。有两个同学觉得每件小事后面的议论有些过分。</p> 
    <p>老师的看法是：三十岁左右的男人在妈妈面前一般是不哭的，至少不会因为妈妈在生活小事上的关心而流泪。要催人泪下自己不一定要哭，就像想逗人笑自己不一定要笑一样。所以那两段议论基本上就是画蛇添足之笔。</p> 
    <p>讨论中各人有各人的看法，不一定需要结果，但“画蛇添足”是什么意思得说清楚。于是这节课就以这个成语故事结束。</p> 
   </div> 
  </div> 
  <div id="youping-hu-OpeningTalk" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">仓促上阵</h1> 
      <h1 class="title-date">2012-9-15</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p>按学校的规矩，开学前，各班老师要给自己班学生的家长们写封信，介绍一下自己，也提醒他们马上要开学了，帮孩子做做准备。想想这些望子成龙的家长，老胡心里还真有点儿忐忑不安。拿着笔犹豫了半天，写下了这封信：</p> 
    <div style="color: rgb(0, 33, 176);"> 
     <p>各位家长，大家好：</p> 
     <p>我是老胡，中文学校 C-12 班下学期的中文老师。我在本地住了二十多年，是一个软件工程师。你们中间有人认识我，有的应该说互相还很熟悉。这次能有机会带着你们的孩子一起学中文，对我来说既是件荣幸的事，也是个挑战。我以前在中文学校教过 SAT-2，但总得说起来还是个经验不足的教师，在教学中出现什么问题的话，还请家长们多包涵、多支持。</p> 
     <p>在国外教孩子学中文，除了那些很显然的目标外，我个人认为还有一个很重要的目标，就是帮助家庭里两代人之间能更好地交流，从而使家庭的气氛更加融洽。我儿子小的时候我曾挺认真地教过他一段中文，现在他已经大学毕业了，中文虽然仍不尽人意，但我们可以基本上没有障碍地用中文交流，甚至还可以开几句玩笑，说几句土话，为此我常感到欣慰。这次如果能在这方面对大家有所帮助的话，我也会同样感到欣慰的。</p> 
     <p> 为了能和大家方便地交流，我建了一个谷歌账户。今后我会用这个账户和大家联系。用这个账户我还在谷歌上为这个班建了一个班级网页，把所有和班级有关的信息都放了上去，同时会在那里给学生们布置作业。……</p> 
     <p>谢谢大家！</p> 
     <p>老胡</p> 
    </div> 
    <p>要说老胡年轻的时候有过几次教课的机会，站在讲台上，自我感觉还行，学生对他好像也不反感。虽然从没当过职业教师，可他一直对这个职业颇为向往。记得有一次和朋友聊起了六合彩的梦想，他说要是中了六合彩，他就自己花钱办个中文学校，雇一个好校长，自己去当老师，然后每年去找校长要求涨工资。另外一定要给学校定个响亮的校训，再找人给写首能广为传唱的校歌。可直到现在，彩票是买了几张，六合彩还没中上，校训、校歌的事当然也只能先放放啦。</p> 
    <p>七、八年前，老胡曾在中文学校当过一次业余老师，教几个高中生对付大学入学考试中的中文部分（SAT-2)。说老实话，那次他是有点儿私心，因为他儿子在那个班里，到那当老师，就想趁机以老师的身份好好敲打敲打他。</p> 
    <p>从那以后，虽然又有几次机会去过一把教书的瘾，可因为种种原因都没能去成。</p> 
    <p>今年夏天，暑假都快结束的时候，朋友找上门来了：“救救场吧，哥们儿，眼瞧着要开学了，原来定好的老师来不了了，这个忙无论如何你得帮我一把。”一边说一边就把书呀，本呀一股脑儿地塞给老胡，“估计这书上的字你全认得，这个班就交给你啦。”</p> 
    <p>把那本《新实用汉语课本-5》翻了翻，老胡说：“这本书段位不低呀，你肯定我不会误人子弟？再说了，教师用书呢，要是真碰几个不认识的字，我问谁去呀？”</p> 
    <p>“平常侃大山的时候就你话多，从来没见你跟谁要过参考书什么的。怎么着，拿糖是不是？跟你说，我们校长的闺女就在你那个班上，别跟我提误人子弟的事，要是教不好，我知道你住哪！”</p> 
    <p>得，碰上吃生米的了。没辙，老胡只好把书拿起来，从第一课看起。说那本书段位不低还真不是瞎说，课文中有不少名家的名篇，范围相当宽。这且不说，更让人头疼的是，书上那一套一套繁复的中文语法绝对能让所有的人都找不着北。不信，你就把上面这几句用“主谓宾，定状补”分析一下，搁谁手里都得歇菜。</p> 
    <p>第二天就开学了，这回可是要动真格的了。老胡翻开书，把顶着国家一级作家头衔的王祥夫的那篇《母爱》又从头看了一遍。</p> 
   </div> 
  </div> 
  <div id="youping-hu-Pleasure" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">不亦说乎</h1> 
      <h1 class="title-date">2013-04-25</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p>今年当老师对老胡来说是件意料之外的事。</p> 
    <p>虽然平常他也喜欢看些闲书，偶尔码几行字儿，和朋友在一起，侃起大山来也没边没沿儿的，可真地让他拿起教鞭，给孩子们讲课，心里还是有些忐忑不安，误人子弟这词可无论如何也担当不起。所以每次上课前，老胡总是一遍一遍地看课本，核实一些字词的准确意思，尽可能多地找些和课文有关的中国文化背景知识。对学生的作业也不敢懈怠，每篇作文都一句一句地仔细改过。怎么说呢，效果如何很难讲，可是认真，努力这两词还是当得起的。</p> 
    <p> 眼瞧着学年快结束了，老胡想：怎么着也得总结一下，也算对学生有个交代呀。说什么呢，用文革时候的套话，耳边忽然想起了伟大导师孔夫子他老人家的教导：“学而时习之，不亦说乎。” <span class="note">（说：yuè 同悦）</span> </p> 
    <p>干什么好像都得有个老师，中国人拜师学艺的法子多得数不胜数，有一个头磕在地下拜的；有提着几条干肉上门求的；有躲在窗户根儿下整天竖着耳朵偷的；还有左膝盖磕在右膝盖上，自己拜自己为师，闷头儿自学的。可两千多年了，最常见也是最省事的就是朝山东曲阜的孔庙遥拜一下，心里许个愿，就算入师门了。不信你四下打听一下，但凡识两字儿的主儿，哪个不认孔夫子为师呀。</p> 
    <p>当年孔夫子的学生们做课堂笔记，留下来一本传世的《论语》，开篇第一句，就是“学而时习之，不亦说乎”。看上去挺简单的一句话，可到现在却有两种不尽相同的解释，关键在那个“习”字。说法一：学而经常复习，乐在其中。有人不以为然，说学完了复习，复习了再复习，何乐之有，苦不堪言倒是真的。于是就有了第二种解释，“学”就是取得知识，“习”就是付之实践，学以致用，那不是很愉快的吗。</p> 
    <p>想来夫子的学生们笔记做得不好，这么简单的一句话都没记清楚，搞得中国人两千多年了还在争。不过要是看看夫子的生平，也许对理解这句话有帮助。孔夫子一生可以说是活到老，学到老，从未间断过。壮年时特想学以致用，周游列国，四处游说，希望哪位国君能用他的理念和学识来治国，可到处碰壁，一辈子也没什么值得称道的政绩，最后只好灰头土脸地回家，埋头学习整理百无一用的《易经》，而且乐在其中，系书的绳子都翻断了好几回。按司马迁的说法就是：“孔子晚而喜易 …… 读易，韦编三绝。”</p> 
    <p>所以呀，学以致用，没错，不然指着什么吃饭呀。为学而学，也没错，而且是更高的境界。夫子读易，爱因斯坦拉琴，老胡教书都在这个境界里。只是把老胡和这两位放在一起说事儿，是不是有点儿过了。</p> 
   </div> 
  </div> 
  <div id="youping-hu-RecallAndThink" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">忆苦思甜</h1> 
      <h1 class="title-date">2012-10-15</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p>弄些糠麸野菜做成团子；请个老贫农撩起裤腿儿让大家看看地主家恶狗留下的牙印儿；反复播放那首有名的“天上布满星，月牙亮晶晶”；一遍又一遍地高呼“打到万恶的地主阶级”。估计五、六十岁的人还能记得这是当年开忆苦思甜大会的情景。没想到今天上中文课时，老胡又带着大家忆了一回苦，思了一回甜。</p> 
    <p>第二课《祝你情人节快乐》作者的笔名叫愤怒，老胡在网上找了半天也没找到这位的信息，不过从文章的内容和写作风格来看，这个作者肯定是个八十年代从大陆来美国读书的学子。一脑袋瓜子的理想抱负和聪明才智，可两手空空，常常为生活无着落而窘迫，对洋插队之苦深有体会。</p> 
    <p>《祝你情人节快乐》写了在一年中，发生在一对青年夫妇和他们周围一些陌生人之间的故事。整个故事用一句俗话来形容就是“屋漏偏逢连阴雨，黄鼠狼单咬病鸭子”。遭遇火灾，丈夫受伤住院，学业被迫拖长和因此而来的经济上的拮据。说起来哪件事都不容易，可作者却用相当平静、淡定的笔触，把这些事一桩一件、流畅地写了出来。字里行间读不到气馁和抱怨，相反地，在一件件倒霉事之间，人与人之间的友爱和温情却越如纸上。结尾的一句“祝你情人节快乐”不但呼应了标题，也像是给那并不尽人意的生活翻开了新一页。</p> 
    <p>班里大多数学生的家长都有过类似的经历，“洋插队”这个词儿和个中的滋味对他们来说都不陌生。为了让同学们能更好的理解课文，也顺便能对他们家长早年在美国的生活有更多的了解，老胡开始在课堂上借题发挥，扮演老贫农的角色，开了个“忆苦思甜”会。</p> 
    <p>毕竟受苦的形式不同，所以忆苦歌和忆苦饭就免了，亮伤疤也改成讲故事了。讲了些打工，扛大包之类的故事后，老胡想起来一个很有黑色幽默的冷笑话，说得是一个餐馆的台湾老板雇了一个大陆来的服务生。几天后发现那兄弟手脚不太利索，还特懒，眼里没活，可一时找不到人替，所以就又忍了两天。最后实在忍不下去了，就对那兄弟说：“你们大陆来的怎么什么都不会，还那么懒，到柜上算帐去吧，明天不用来了”，过了会儿又意犹未尽地加了一句：“真不知道当初国军怎么就败在共军手下了。”</p> 
    <p>故事讲到这，老胡想着能从学生们的脸上看到一丝会意的笑容，可把教室扫了一遍，看到的只是一脸的茫然。毫无疑问，笑话是白讲了，怎么说呢，代沟就是这么形成的。这件事让老胡联想到前些时候看过的一集《非诚勿扰》。男嘉宾是个从加拿大来的华裔青年，中文说得还行，可对中国式的人情世故一概不懂。扫兴退场之前，黄菡和颜悦色地给了小伙子几句忠告，说话的时候用到了“何不食肉糜”这个典故。当小伙子一脸茫然地走下台后，孟非调侃黄菡道：“何不食肉糜？你以为他能听懂你的话吗，你就直接说站着说话不腰疼，效果肯定要好得多。”</p> 
    <p>老胡不是孟非，绞尽脑汁也想不出怎么能用那么恰当的话来说说共军、国军，让大家至少也苦笑一下呀。何不食肉糜？真是站着说话不腰疼！</p> 
   </div> 
  </div> 
  <div id="youping-hu-SoundOfReading" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">朗朗读书声</h1> 
      <h1 class="title-date">2012-10-01</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p>老胡不幸，上小学的时候赶上文革，不但没上过高中，就连小学和初中也没好好念过。到考大学的时候白天上班，晚上学文化，缺觉缺惨了，直到现在还没补过来呢。他觉得一辈子学得最好的就是汉语拼音，因为那是在文革前学的，连“先”和“西安”都能分得一清二楚。上大学时开始学英语，整天抱着本《基础英语》，对着家里那块砖头录音机嘚吧嘚、嘚吧嘚。从那起，老胡发现学好一门外语，朗读背诵是特有效的途径之一。</p> 
    <p>不过，老胡钟情于朗读，还有另外一个原因，实惠、有既得利益。</p> 
    <p>文革后期的时候，老胡在北京一家工厂当工人，整天与铁水和沙子打交道，每天最大的乐趣就是和工友们在午饭后，下班前打两把牌，升级、拱猪、敲三家儿，哪样也落不下他。</p> 
    <p>那个时代，政治学习是日常生活内容之一，每周总得有一、两次。有政治学习的日子，提前一小时收摊，洗完澡，换下工作服后，大家分班组坐下来读报学习。一般都是读人民日报的长篇社论或类似的文章。如果文章较短，读完后就能在班车来之前敲上几把。读报不是一好活儿，谁也不愿揽那差事，可总得有人读啊，于是只好大家轮着来。说实在的，在厂子里能把报读利索的还真不多。哥儿几个想打牌，可这社论就是吭吭叽叽地念不完，真能把谁给急死。老胡在中学时语文学得不错，常被老师叫起来读课文，所以读报不成问题。再加上他是个积极的牌友，所以不久老胡就成了读报专业户。老胡自己也乐意，因为他能读得飞快，每次怎么着也能赶出两三把牌的时间来。</p> 
    <p>这一天又到了政治学习的时间了，老规矩，还是老胡读报。读着读着他发现，同志们有的在抽烟想心事，有的在认真地打毛活，有的干脆靠着墙，闭着眼养神，根本没人注意听他读报。其实老胡也不注意他自己在念什么，只想把报快点念完。注意到这个现象后，老胡就开始试着跳过一段，然后再看看反映。结果，没一个人注意到那社论怎么会少了一段。再跳一段，同样的效果。隔一段念一段，就又赶出了几把牌的时间来。于是这就成了个技术革新成果，只不过不能公布罢了。老胡自己将这个方法命名为老胡奇数读报法，平均工效提高百分之一百。终于有一次，老胡的师傅，也是老胡的班组长在一次政治学习之后问老胡说：“那么长一篇社论，你怎么那么会儿就读完了？”</p> 
    <p>“您还不知您这徒弟吗，不但手底下活利索，嘴皮子练得也不错，还说得过去吧？”老胡眨眨眼睛，笑着对师傅说。</p> 
    <p>“算你小子能。”师傅笑了笑，没再说什么，坐一边抽烟去了。</p> 
    <p>念念报就念出好几把牌的时间来，确实是有些实惠在里边。</p> 
    <p>老胡这人有两个特点，一是喜欢分享，二是喜欢显摆。有人说这俩是一回事，可在不同的场合下，还是会用不同的形容词。不管怎么说吧，为了分享，老胡还是把朗读作为一个要求带到他的中文课里去了。</p> 
    <p>为了让孩子们能读好课文，老胡先找了一堆有关的词儿，像什么“意群”，“语速”，“节奏”之类的，在课堂上讲解、示范了好几遍；然后找了个没人的地方，把当年读报的基本功又悄悄地练了练，对着麦克风读课文，把录音放在了网站上，让孩子们听；最后又满世界地转悠，终在网上找到了由大陆专业播音员录制的课文朗读录音，和他自己的一比，发现读报专业户的水平与专业读报户的水平还是不能比，于是就有点不情愿，但又无可奈何地把自己的录音拿了下来，换上了专业的。不是有那么句话吗，为了孩子，自己的面子算什么呀。别看老胡好显摆，可这点道理还是明白的。</p> 
   </div> 
  </div> 
  <div id="youping-hu-ThoseThings" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">班里那些事儿</h1> 
      <h1 class="title-date">2012-9-10</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p>自从《明朝那些事》这本书在网上一炮打响之后，一时间冒出来许许多多的从三皇五帝到蒋公毛爷，从街头巷尾到厅堂厨房的那些事儿。现如今，“那些事儿”几乎成了一种特定的文体，就是用轻松甚至调侃的文字来写些严肃的事儿，比如说历史。</p> 
    <p>作为一个非专业且没有经验的中文教员，为了能帮助孩子们提高写作能力，我想我自己也应该把撂下多年的笔捡起来，擦擦灰，灌点儿水，练练手。于是就有了这些《班里那些事儿》。万一谁要是提起“误人子弟”这个词的时候，我好歹也能辩解一句说：“嘿，我容易吗我！”</p> 
    <p class="note"> (按照朋友们平时的习惯，我称自己老胡，所有的文字会用第三人称写出来。当然了，有时间就写两段儿，没时间也没办法，业余的吗，是不是。)</p> 
    <div class="resume"> 
     <dl> 
      <dt>
        Name: Youping Hu 
       <span class="entry-name">(胡友平)</span> 
      </dt> 
      <dt>
        Email: youping_hu@greatwallchineseacademy.org 
      </dt> 
      <dt>
        Since: 2012 
      </dt> 
     </dl> 
    </div> 
   </div> 
  </div> 
  <div id="youping-hu-WhatsYourName" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">你叫什么名字</h1> 
      <h1 class="title-date">2012-9-20</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p>头一天上课，教室里一堆半大孩子，有说有笑的，瞪着几双天真的大眼睛，好像没把面前那个不起眼的小老头儿放在眼里。第一节课讲什么呢，这个老胡心里还有谱，用他以前的经验，就从你叫什么名字开始。</p> 
    <p>在东西方的文化中，给孩子起名字这事很有些不同的地方。可不管是在东方还是在西方，男人的名字总是不变的，至少从传统意义上讲是不需要变的。在中国还要特殊些，古代男人不但有名有姓，还有字，有的还有号，出息了当了官，还要把官名加到名字里去。比如说诸葛亮吧，姓诸葛，名亮，字孔明，号卧龙先生，封了官后又被称为武乡侯，在戏里他还常自称山人。再比如宋江那贼配军，一张嘴就是：小可宋江。于是对面的那位一定是啰了啰嗦一大套：莫不是人称及时雨的山东呼保义黒宋江，宋公明哥哥？哎呀想杀小弟也！</p> 
    <p>女人的名字就不一样了。在西方，女人结婚后就没自己的姓了，得随丈夫的姓。在旧中国，女人结婚后就没名了。姓张的嫁给姓王的，叫王张氏；姓何的嫁给了姓郑的，叫正合适；姓侯的嫁给了姓孙的，叫孙猴儿式。后来跟西方学习，进步了，于是结了婚的女人有俩姓。夏侯桂花嫁给了姓呼延的，就叫呼延夏侯桂花；王桂花嫁给了老萧，就叫小王桂花；嫁给了小劳，就叫老王桂花，要是嫁给了姓侯的，就叫猴儿王桂花。</p> 
    <p>可能是受满族习惯的影响，《红楼梦》里女人的名字，称呼很有意思。没结婚的女人，不管是小姐还是丫环，从黛玉、宝钗，元、迎、探、惜到袭人，鸳鸯，都有名有姓，而且互相都用名字相称，有时再加上姐姐妹妹的。结了婚的主子则既无名也无姓，琏二婶子，珍大奶奶，小蓉大奶奶等。珍，琏，蓉都是贾家男人的名字。宝钗嫁给了宝玉，就叫宝二奶奶了，可那个“宝”字是宝玉的宝而不是宝钗的宝。只有王熙凤特殊，有很多名字，在非正式场合下常被称作凤姐，凤丫头，凤辣子，凤哥等。结了婚的奴才则只有夫家姓而没名，像赖大家的，鲍二家的，柳家的，秦显家的等等。</p> 
    <p>新中国成立后就不一样了，进步了老大一块。大陆女人的名字跟男人的名字一样，一辈子不用改。夏侯桂花就是夏侯桂花，行不更名，嫁不改姓，夫家姓什么叫什么，与我什么相干！</p> 
    <p>这些都是知识，应该说也是有用的知识，可跟这些在美国长大的孩子们讲起来难度还是太大。老胡想了想，那就从中国父母怎么给孩子起名字讲起吧。不管在哪个阶层，也不管知识水平如何，给孩子起名字对所有的中国父母来说都是件大事。有满怀希望地让孩子叫有财，来福，珍儿啊，玲儿的；也有两口子摆一桌子字典，下决心让孩子的名字把全国人民都难倒的；还有两人一起回忆往日的浪漫，绞尽脑汁想个名字来表示这美好的爱情结晶的；更有两个准父母加上爷爷奶奶、外公外婆在一起开家庭会议而且久议不决的。不管怎么说吧，几乎每个中国人的名字后面都有一个或简单或精彩的故事，而更重要的是，每个名字后面都有一份深深的爱和一份沉甸甸的期望。</p> 
    <p>学生们一个一个地讲下去，对自己的名字后面的故事，有知道的，也有不太清楚的。于是就有了一道新的家庭作业：回家问问，你为什么叫这个名字。老胡心想，这大概是他对建立和谐家庭所做的第一份努力吧。</p> 
    <p>大家讲完了，老胡给大家讲了他是怎么给儿子起名字的。老胡的儿子单名一个石字，石头的石。除了水以外，世界上最多的就是石头了。按种类分有坚硬的岩石，溜圆的鹅卵石，晶莹温润的玉石和价值连城的金刚石。按用途分有铺路的渣石，盖房用的基石和立传用的碑石。什么用也没有但却大大有名的东海普陀石，黄山飞来石以及青梗峰下那块无才去补天，枉入红尘的顽石。</p> 
    <p>这个“石”字是什么意思呢？用老胡的解释就是：大才大用，比如说去补天；小才小用，比如说去铺路；就算是什么才也没有，也可以像块鹅卵石一样，静静地躺在河滩上，一辈子在自然中享受日月之精华。</p> 
    <p>书还没翻开呢，一节课的时间就过去了，老师和学生的距离也拉近了。</p> 
   </div> 
  </div> 
  <div id="youping-hu-XamsParty" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">其乐融融</h1> 
      <h1 class="title-date">2013-12-19</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p> 十二月十四号晚上，长城中文学校在 <span class="latin">Highlands Ranch</span> 高中举办了一场别开生面的圣诞晚会。夜幕降临后，学生、家长、老师和他们的朋友们一共二百多人，手里端着自家的拿手菜，陆陆续续地走进了晚会的大厅。 </p> 
    <p>圣诞是个洋节，圣诞老人是孩子们最喜欢的人物。当白胡子的圣诞老人一身红衣，不紧不慢地走进来时，伴随着一连串的呵呵呵，是孩子们的欢呼雀跃。坐在老人膝上照张像，再和老人说几句悄悄话后，就算正式进入节日状态了。</p> 
    <p>洋节也好，土节也好，聊天儿是个不能少的节目。放下带来的拿手菜，再盛一盘大家带来的拿手菜，一边吃着，一边就开聊。野马队今年的冠军之梦，掘金队今年的换血之痛，当地主的辛酸与快乐，炒股票的沮丧与兴奋，金三儿的骇人之举，邓小姐的换影移形，本地校园里的枪声和北京上空的雾霾，还有张不长、李不短、仨蛤蟆五只眼，反正是聊什么的都有，而且什么都聊得挺热闹。其实聊什么并不重要，这个过程最让人享受。平常工作紧张，每人都有一摊子事要忙，难得轻松一下，这回聚在一起，聊聊天儿，吹吹牛，开开玩笑，侃侃大山，谁愿放弃这个娱乐机会呀。</p> 
    <p>据说海外中国人聚在一起的时候，干得最多的三件事就是：聊天儿，打牌，唱卡拉。牌局的种类从过去雅致的桥牌、百分，到后来热闹的拱猪、三家，到现在流行的斗地主、拖拉机。牌局一开，屋里的音量至少要加倍，而且绝对是动态的，抱小孩的一定得小心，千万别让那突然爆发的一阵笑声或是一通争吵吓着孩子。怪不得有人发感慨说，平常看上去风度翩翩，举止优雅的绅士和淑女们，怎么一到牌桌上就跟换了个人似的。用句时髦的话来形容，那叫内心小宇宙的大爆发。晚会上，牌桌当然不能少，不同形式的小宇宙也爆发了好几回，到大家恋恋不舍地收拾牌桌的时候，那情形只能用一个字来形容：爽。</p> 
    <p>晚会上最精彩的一幕应该是中文学校的扯铃表演了。学校的扯铃队成立七、八年了，有些“老”队员在从一上学就在队里“扯”，还常在各种场合演出，出来就是一身的明星范儿，站在那俨然一个大牌。最热心的观众自然是演员的家长们，手里是一架相机，脸上是一幅微笑，身上散发出来的是一种掩饰不住的骄傲、满足和幸福。台上有大孩子的潇洒，小孩子的专注，台下则是家长和朋友们的关注与投入，那可不仅仅是表演，台上、台下“扯”得是铃，更是节日的欢乐和温暖的亲情。</p> 
    <p>洋节中过，大该是这个晚会最大的特点，用中西合璧、土洋并举来形容不算为过，用南腔北调、不伦不类也无可厚非，但不论你怎么说，有一样是绝对的：吃百家饭，聊天下事，打开小宇宙，享受阖家亲，迎接圣诞，其乐也融融。</p> 
   </div> 
  </div> 
  <div id="youping-hu-YouAreWrong" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">老师，你说错了</h1> 
      <h1 class="title-date">2012-10-05</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p>上了几次课后，老胡好像找到了点儿当老师的感觉。这天在课上，老胡正在天花乱坠地摆乎，有个学生怯生生地举起了手：“老师，我觉得课文的意思和你说得不一样。”</p> 
    <p>“是吗？”老胡有点儿不太相信自己能把这么简单的课文理解错了，但他还是翻开书，想确定一下。</p> 
    <p>“老师，我也觉得课文讲的不是你说的那个意思。”另一个学生也举起了手说道。</p> 
    <p>老胡这回有点认真了，可眼睛看着书，脑子却飘回到四十多年前自己上中学的时候。</p> 
    <p>老胡上初中时随父母一起到了河南农村的五七干校，在一个大队中学上学。这天的语文课讲鲁迅的杂文《痛打落水狗》。“今之论者，常将打死老虎与打落水狗相提并论，以为都近于卑怯……”，把课文的第一段念了一遍后，甄老师阖上书，开始不紧不慢、逐字逐句地解释先生的话：“鲁迅先生说，现在有些人把打死老虎和打落水狗这两件事相提并论。相提并论这个词的意思是把不同的事放在一起谈论或看待，往往是说两件事意义相当。”甄老师停了一下笑着说：“把老虎打死和打落了水的狗怎么能相提并论呢，也难怪先生要批判他们。”</p> 
    <p>听了甄老师的解释，老胡差点儿没笑出声来。可往四下一看，见同学们都在挺认真地听讲，好像对老师的这个解释都没什么异议。于是他也没举手，张嘴就来了一句：“鲁迅先生的意思是打一只已经死了的老虎而不是把老虎打死。”</p> 
    <p>甄老师是个十分和蔼可亲的老师，班里的同学都很喜欢且尊敬他。老胡是个从大城市来的孩子，属于“可以教育好的子女”一类，却不知天高地厚。此言一出，班里顿时有点儿乱。虽然文革开始已经有几年了，可在农村的学校里，老师还是像家长一样，受到孩子们无条件地尊敬，极少有人敢挑老师的眼，像老胡这样毫无顾忌地说老师有误，实在不太招人待见。当时课堂上就分成了两派，当地的孩子们是一派，无条件地认为老师是对的，而干校来的孩子们是一派，站在老胡这边。这时甄老师停止了讲课，仔细地看了看手里的书，又想了一下，然后对大家说：“我觉得老胡同学说得对，课文的意思应该是打一只已经死了的老虎，而不是将老虎打死。”</p> 
    <p>老胡已记不清那堂课是怎结束的，可相当清楚地记得当时他很为能指出老师的错误而得意。多年后想起这件事来，很佩服甄老师的为师之道，能在课堂上向学生承认自己的失误，也为能有这么个老师而感到庆幸。</p> 
    <p>当老胡终于把思路拉回到教室后，说了句：“谢谢指出我的失误。这句话我看得不仔细，确实搞错了。”</p> 
    <p>犯错误的时候，人们常说，谁不出错呢，我们是人不是神。可承认错误不容易，特别是向学生和小辈认错。</p> 
    <p>想起就在几节课之前，自己对学生说过“老师的意见不一定对，一家之言而已”，老胡暗自庆幸道：“那个铺垫做得好呀，要不然就真成高尔础了。”</p> 
   </div> 
  </div> 
  <div id="youping-hu-YuanLongping" class="hidden-panel"> 
   <div class="article-text"> 
    <div class="article-title"> 
     <div class="title-body"> 
      <h1 class="title-text">养活全世界</h1> 
      <h1 class="title-date">2015-03-13</h1> 
     </div> 
     <p> <img src="images/courses/teach.jpg" width="10%" class="image-right"> </p> 
    </div> 
    <p>下面这篇课文的题目是《世界“杂交水稻之父”袁隆平》。这是一篇人物介绍，课文中的袁隆平是位科学家，工程师，用他自己的话说，也是一位农民，专门种水稻的农民。他的梦想是种出“穗子象扫帚那么长，颗粒象花生那么大”，能“养活全世界”的杂交水稻。老胡小时候在农村呆过，从水稻育秧到收割，从头到尾干过两年，所以对这一课是情有独钟。这一课应该怎么讲，老胡想了想，觉得这几件事得说清楚：</p> 
    <p style="text-weight: bold">1. 民以食为天</p> 
    <p>中国有句老话说：“民以食为天”，有位名人把这句话翻成了白话：“天下什么问题最大？吃饭的问题最大。”中国古代没有宗教，所以“天”是人们心中最高，最大，最远、最重要、最神圣、最最最最的了。民以食为天：吃饭是生活中最重要的事，和天一样重要。为什么？人为财死，鸟为食亡。没吃的了怎么办，逃荒、要饭、易子而食，然后就打仗。</p> 
    <p>进入现代社会以来，世界上出过不少伟人，他们的成就对全人类的生活都起到过极为重大的影响：牛顿、爱因斯坦还有乔布斯应该都属于这类人。还有一位也许不太为人所熟悉，他就是袁隆平，一生致力于培养能“养活全世界的杂交水稻”。有人曾提议授予袁隆平诺贝尔和平奖，可见民以食为天不仅仅是中国人的想法。</p> 
    <p style="text-weight: bold">2. 饥饿的世界</p> 
    <p>看看下面这几个2012年的统计数字，也许对袁隆平的“养活全世界”这句话有更直接的理解：</p> 
    <table style="width: 70%; border: 1px solid black; text-align: center; padding: 2px; border-spacing: 2px;"> 
     <tbody> 
      <tr> 
       <td>世界粮食产量</td> 
       <td>24.2 亿吨</td> 
       <td>注：其中43%成为饲料</td> 
      </tr> 
      <tr> 
       <td>世界耕地面积</td> 
       <td>225.5 亿亩</td> 
       <td><span class="latin">About 37.2 Million Acres</span></td> 
      </tr> 
      <tr> 
       <td>平均亩产粮食</td> 
       <td>107千克 (kg)</td> 
       <td></td> 
      </tr> 
      <tr> 
       <td>每人每年消耗谷物</td> 
       <td>346千克 (kg)</td> 
       <td></td> 
      </tr> 
      <tr> 
       <td>世界人口</td> 
       <td>70亿</td> 
       <td></td> 
      </tr> 
     </tbody> 
    </table> 
    <p>根据这张表，全世界每人大约需要三亩多一点的地来种粮食，才能保证大家有足够的食物。地球不会变大；占地球表面80%的水面不会变小；可耕地面积也不会增加；但人口还在不断增加；人对食品的要求也越来越高。现在的世界仍然是个饥饿的世界，要解决这个问题，唯一的办法就是增加亩产。如果平均亩产从107kg增加到150kg，那可是件不得了的事。要是能增产到500kg呢？</p> 
    <p style="text-weight: bold">3. 杂交水稻</p> 
    <p>什么是杂交水稻？这需要先从植物的繁殖说起。简单地说，植物的繁殖分二种，用种子繁殖，称为有性繁殖；用根、茎、叶繁殖，称为无性繁殖。水稻的繁殖是自花授粉的有性繁殖。开花期间，花蕊中的花粉与胚珠结合，发展成为果实。成熟后掉在地上，第二年果实中的的种子长成新的水稻。</p> 
    <p>植物按授粉方式可分成自花授粉、异花授粉和常异花授粉三类。一朵花的花粉给同一朵花或给同一植株上另一朵花的雌蕊授粉，称为自花授粉，花生、豌豆、小麦、水稻等属于此类。与此相反，一朵花的花粉给另一植株的雌蕊援粉就称做异花授粉，玉米、大麻等属于此类。兼行自花和异花援粉者，象棉花、高粱等称做常异花授粉作物。</p> 
    <p>杂交就是两个有不同基因的同种植物的有性繁殖。在很多情况下，第一代杂交的种子有相当明显的杂交优势。杂交优势是杂合体在一种或多种性状上优于两个亲本的现象。例如不同品系、不同品种、甚至不同种属间进行杂交所得到的杂种一代往往比它的双亲表现更强大的生长速率和代谢功能，从而导致器官发达、体型增大、产量提高，或者表现在抗病、抗虫、抗逆力、成活力、生殖力、生存力等的提高。这是生物界普遍存在的现象。</p> 
    <p>水稻的繁殖是自花授粉的有性繁殖，上世纪六十年代之前，人们普遍认为水稻是一种没有杂交可能的植物，因此不可能利用植物的杂交优势来提高水稻产量。袁隆平的研究结果推翻了这个认识，给提高水稻产量这一难题，带来了革命性的解决办法。</p> 
    <p style="text-weight: bold">4. 逆向思维</p> 
    <p>袁隆平是怎么发现水稻是可以杂交的呢？六十年代初，他发现了一颗有明显杂交优势退化特征的水稻。他没有因为这颗退化的水稻扫兴，而是反向推理回去。既然它能退化，那它一定是野生杂交而来，既然有野生杂交水稻，那水稻没有杂交可能的理论就是错的，那我就应该能找到杂交水稻的方法。</p> 
    <p>这种思维方法被称之为逆向思维，司马光打破缸的故事是最典型的逆向思维的例子：不是把人从水中捞出来，而是让水离开人。这在数学上被称为归纳法。也举个例子：两条不一样长的线段上都有无穷多的点，这两条线段上的点数一样多吗？答案是一样多，怎么证明呢？</p> 
    <p style="text-weight: bold">5. 杂交水稻之父</p> 
    <p>看书应该常提问题，特别是看科技文章。老胡准备好这课之后，给自己提了个问题：袁隆平是杂交水稻之父吗？</p> 
    <p> 网络真好，老胡在互联网上走了几圈，发现杂交水稻的基本思想和技术，以及首次成功的实现是由美国人 <span class="latin">Henry Beachell</span> 在1963年于印度尼西亚完成的，并由此获得1996年的世界粮食奖【注】。因此学术界也有人称他为杂交水稻之父，但由于他的设想和方案存在着一些缺陷，所以用他的方法不能进行大规模的工业化种植，从而无法推广。 </p> 
    <p>后来日本人提出了三系选育法来培育杂交水稻，提出可以寻找合适的野生的雄性不育株来作为培育杂交水稻的基础。经过多年努力，日本人虽然找到了野生的雄性不育株，但是效果不是很好；另外日本人还提出了一系列的水稻育种新方法，比如赶粉等，由于种种原因，他们最后没能完成杂交水稻的工业化种植。</p> 
    <p>袁隆平虽然不是第一，但确实是独立完成了杂交水稻的研究工作。而他的最大成果是将这项研究成果产业化，大面积地推广到全中国的许多地方，现在中国有60%以上的稻田种得是袁隆平的杂交水稻，从而在很大程度上帮助解决了中国十几亿人口的粮食问题。</p> 
    <p>这些书上没说，但老胡认为很重要。科学上的事，一是一，二是二，来不得半点儿虚的。</p> 
    <p>“袁隆平的研究成果，也得到了全世界的承认，2004年他获得了农业方面的国际最高荣誉——世界粮食奖”。</p> 
    <p>不管是对老胡还是对他的学生来讲，这篇课文都会有点儿难度。</p> 
    <p class="note"> 【注】世界粮食奖（<span class="latin">The World Food Prize</span>）：于 1986 年由诺贝尔和平奖得主诺曼•E•博洛格博士创立。诺曼的杰出工作引发了绿色革命，并为他赢得了“有史以来拯救生命最多的人士”的美誉。每年十月联合国世界粮食日（10月16日）当日或前后，都会在艾奥瓦(<span class="latin">Iowa</span>)州政府大厦里举行世界粮食奖颁奖仪式。世界粮食奖被多位国家元首誉为“粮食与农业领域的诺贝尔奖”。2004年，袁隆平和 <span class="latin">Monty Jones</span> 共同获得了这项奖。 </p> 
   </div> 
  </div>
 </body>
</html>