
<!-- The control panel of the homework editor -->
<div id='control-panel'>
  <p class='prompt'>
    Course &nbsp;
    <select id="course-id" onchange='buildTitle();'>
      <option value="workshop" selected>Workshop</option>
      <option value="npcr1">NPCR-1</option>
      <option value="npcr2">NPCR-2</option>
      <option value="npcr3">NPCR-3</option>
      <option value="npcr4">NPCR-4</option>
      <option value="npcr5">NPCR-5</option>
    </select>
    &nbsp; Work Title &nbsp;
    <select id="work-title" onchange='load();'></select>
    &nbsp; &nbsp;
    <span id='all-buttons'>
      <input type='button' value='Save' onclick='save()' />
    </span>
  </p>

  <!-- The data entry form for creating a new homework -->
  <div class ='title-form'>
    <p class='prompt'>Creating New Homework</p>
    <p class='prompt'>
      Work number
      <input id="new-work-number" type="text" size='10' value='1_1' />
      &nbsp;(e.g. 51_1)
    </p>
    <p class='prompt'>
      Work title &nbsp;&nbsp;&nbsp;&nbsp;
      <input id="new-work-title" type="text" size='20' value='课文标题 作业-1' />
    </p>
    <p class='prompt'>For the course 
      <span id='copy-course-id'></span>
      <input type='button' value='Create' onclick='create()' />
      <input type='button' value='Cancel' onclick='cancel()' />
    </p>
  </div>

  <!-- The runtime information panel -->
  <p id='messages' class='message'>Runtime information ...</p>
</div>

<!-- All the work panels to collect input values -->
<div id='work-panel'>
  <div style='float: left; width: 100%;'>
    <div class='item-type'>阅读理解</div>
    <div class='item-buttons'>
      <input type='button' value='show/hide' onclick='setDisplay("read");' />
      &nbsp;
      <input type='button' value='add new' onclick='addItemPanel("read");' />
    </div>
    <div id='tpl-read' class='templates'></div>
  </div>

  <div style='float: left; width: 100%;'>
    <div class='item-type'>朗读录音</div>
    <div class='item-buttons'>
      <input type='button' value='show/hide' onclick='setDisplay("record");' />
      &nbsp;
      <input type='button' value='add new' onclick='addItemPanel("record");' />
    </div>
    <div id='tpl-record' class='templates'></div>
  </div>

  <div style='float: left; width: 100%;'>
    <div class='item-type'>组词造句</div>
    <div class='item-buttons'>
      <input type='button' value='show/hide'
        onclick='setDisplay("phrase-sentence");' />
      &nbsp;
      <input type='button' value='add new'
        onclick='addItemPanel("phrase-sentence");' />
    </div>
    <div id='tpl-phrase-sentence' class='templates'></div>
  </div>

  <div style='float: left; width: 100%;'>
    <div class='item-type'>多种选择</div>
    <div class='item-buttons'>
      <input type='button' value='show/hide'
        onclick='setDisplay("multi-choice");' />
      &nbsp;
      <input type='button' value='add new'
        onclick='addItemPanel("multi-choice");' />
    </div>
    <div id='tpl-multi-choice' class='templates'></div>
  </div>

  <div style='float: left; width: 100%;'>
    <div class='item-type'>判断对错</div>
    <div class='item-buttons'>
      <input type='button' value='show/hide' onclick='setDisplay("true-false");' />
      &nbsp;
      <input type='button' value='add new' onclick='addItemPanel("true-false");' />
    </div>
    <div id='tpl-true-false' class='templates'></div>
  </div>

  <div style='float: left; width: 100%;'>
    <div class='item-type'>选择填空</div>
    <div class='item-buttons'>
      <input type='button' value='show/hide' onclick='setDisplay("fill-blank");' />
      &nbsp;
      <input type='button' value='add new' onclick='addItemPanel("fill-blank");' />
    </div>
    <div id='tpl-fill-blank' class='templates'></div>
  </div>

  <div style='float: left; width: 100%;'>
    <div class='item-type'>回答问题</div>
    <div class='item-buttons'>
      <input type='button' value='show/hide'
        onclick='setDisplay("answer-question");' />
      &nbsp;
      <input type='button' value='add new'
        onclick='addItemPanel("answer-question");' />
    </div>
    <div id='tpl-answer-question' class='templates'></div>
  </div>

  <div style='float: left; width: 100%;'>
    <div class='item-type'>写作文</div>
    <div class='item-buttons'>
      <input type='button' value='show/hide' onclick='setDisplay("write");' />
      &nbsp;
      <input type='button' value='add new' onclick='addItemPanel("write");' />
    </div>
    <div id='tpl-write' class='templates'></div>
  </div>

  <div style='float: left; width: 100%;'>
    <div class='item-type'>听力练习</div>
    <div class='item-buttons'>
      <input type='button' value='show/hide' onclick='setDisplay("audio");' />
      &nbsp;
      <input type='button' value='add new' onclick='addItemPanel("audio");' />
    </div>
    <div id='tpl-audio' class='templates'></div>
  </div>

  <div style='float: left; width: 100%;'>
    <div class='item-type'>视听练习</div>
    <div class='item-buttons'>
      <input type='button' value='show/hide' onclick='setDisplay("video");' />
      &nbsp;
      <input type='button' value='add new' onclick='addItemPanel("video");' />
    </div>
    <div id='tpl-video' class='templates'></div>
  </div>

  <div style='float: left; width: 100%;'>
    <div class='item-type'>其它作业</div>
    <div class='item-buttons'>
      <input type='button' value='show/hide' onclick='setDisplay("note");' />
      &nbsp;
      <input type='button' value='add new' onclick='addItemPanel("note");' />
    </div>
    <div id='tpl-note' class='templates'></div>
  </div>

  <div style='float: left; width: 100%;'>
    <div class='item-type'>附图</div>
    <div class='item-buttons'>
      <input type='button' value='show/hide'
        onclick='setDisplay("attach-image");' />
      &nbsp;
      <input type='button' value='add new'
        onclick='addItemPanel("attach-image");' />
    </div>
    <div id='tpl-attach-image' class='templates'></div>
  </div>
</div>
