<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
	/**
	 * This script is for testing something new. None of the functions
	 * gets used by the application.
	 */
	/**
	 * Using HTTP to call to the service works OK (slow though) on PC browsers, but has
	 * problems on iPad. So replace this method with google script call.
	 * @See CourseWorkManager.html for its implementation.
	 */
	 
	/* 
	 * The QueryService URL 
	 * Go to QueryService code, click on Publish -> deploy as web app to get the URL.
	 */
	var serviceHome = 'https://script.google.com/macros/s/';
	var queryService = serviceHome
			+ 'AKfycbx3vbSkqBLyOH9O_oC7vZnjm4edWRJJMpc_lMA3RN55m2IQDMA/exec';

	/**
	 * Sets the onload method to call getActiveClasses() to initialize the home page
	 */
	(function() {
		google.load("jquery", "1");
		google.setOnLoadCallback(function() {
			getActiveClasses();
		});
	})();

	/**
	 * Calls to the service QueryService to get the active ClassCourseMembers relationship object
	 * and uses it to refresh the curse-work home page.
	 */
	function getActiveClasses() {
		var url = queryService + '?action=ActiveClassCourseMembers';
		$.ajax({
			type : "get",
			url : url
		}).done(function(data) {
			refreshCourseWorkPage(data);
		}).fail(function(jqXHR) {
			var error = 'Failed getting member data, contact the school admin';
			alert(JSON.stringify(error + jqXHR));
		});
	}

	/**
	 * The callback function to process the return value of the getActiveClasses() method
	 * to refresh the course work landing page with the retrieved class-course-member
	 * relationship objects.
	 */
	function refreshCourseWorkPage(activeClassCourseMembers) {

		var COURSE_SITE = 'site-media-lib/'; // courses
		var sampleCourseRow = document.querySelector('#sample-course-row');
		var sampleNameRow = document.querySelector('#sample-name-row');
		var courseTable = document.querySelector('#course-table');
		courseTable.innerHTML = '';

		for (var i = 0; i < activeClassCourseMembers.length; i++) {
			var classCourseMembers = activeClassCourseMembers[i];
			var clazz = classCourseMembers.clazz;
			var course = classCourseMembers.course;
			var members = classCourseMembers.members;
			var courseRow = sampleCourseRow.cloneNode(true);

			// refresh the 1st column (course)
			var courseUrl = COURSE_SITE + '?course=' + course.id;
			var courseLink = courseRow.querySelector('.course-link');
			courseLink.href = courseUrl;
			courseLink.innerHTML = course.name;
			courseRow.querySelector('.course-icon').src = course.image;
			courseRow.querySelector('.course-desc').innerHTML = course.desc;
			// alert('course site, url:' + COURSE_SITE + '');

			// refresh the 2nd column (class and members)
			var classLink = courseRow.querySelector('.class-link');
			classLink.href = clazz.className;
			classLink.innerHTML = clazz.classId;
			var students = [];
			for (var j = 0; j < members.length; j++) {
				var member = members[j];
				if (member.role == 'Student') {
					students.push(member);
				}
			}
			//alert('class info is ready');
			var nameTable = courseRow.querySelector('#name-table');
			for (var j = 0; j < students.length; j += 2) {
				var nameRow = sampleNameRow.cloneNode(true);
				var nameLink = nameRow.querySelector('#full-name1');
				var member = students[j];
				nameLink.href = 'course-work/student-directory/' + member.id;
				nameLink.innerHTML = member.firstName + ' ' + member.lastName;
				nameRow.querySelector('#chinese-name1').innerHTML = member.chineseName;

				if ((j + 1) < students.length) {
					member = students[j + 1];
					nameLink = nameRow.querySelector('#full-name2');
					nameLink.href = 'course-work/student-directory/'
							+ member.id;
					nameLink.innerHTML = member.firstName + ' '
							+ member.lastName;
					nameRow.querySelector('#chinese-name2').innerHTML = member.chineseName;
				}
				nameRow.removeAttribute("style");
				nameTable.appendChild(nameRow);
			}
			courseRow.removeAttribute("style");
			courseRow.style.cssFloat = "left";
			courseTable.appendChild(courseRow);
		}
		//alert(courseTable.parentNode.innerHTML);
	}
</script>
