
<!-- The HTML code of the project-template page -->
<div style="border: 0; width: 60%; margin-left: 20%; float: left">
  <div style="width: 26%; float: right">
    <p style="text-align: center; margin-top: 15px">
      <img
        src="https://sites.google.com/a/greatwallchineseacademy.org/site-media-lib/images/project.png"
        border="0" width="70%">
    </p>
  </div>
  <div style="width: 74%; float: right">
    <p style="font-size: 20px">This is the home page of this year's
      projects. Click the plus sign to create a new page for a project.</p>
  </div>
</div>

<!-- The HTML code of the homework-list-template page -->
<div style="width: 60%; float: left; margin-left: 20%">
  <p style="font-size: 20px">
    This page contains a list of the most recently assigned homework. Click on
    the title of a homework to start.<br>
  </p>
</div>

<div style="width: 20%; float: right">
  <p style="margin-top: 20px">
    <img
      src="https://sites.google.com/a/greatwallchineseacademy.org/site-media-lib/images/write.jpg">
  </p>
</div>

<!-- The HTML code of the ask-teacher page -->
<div
  style="border: 0; width: 80%; margin-left: 2%; margin-left: 10%; float: left">

  <div style="width: 120px; float: right">
    <p style="text-align: center; margin-top: 10px">
      <img
        src="https://sites.google.com/a/greatwallchineseacademy.org/site-media-lib/images/ask-teacher.jpg"
        border="0" width="80">
    </p>
  </div>

  <div>
    <p style="font-size: 20px">You may ask your teacher a question by making
      a comment here. The teacher will be notified by email and answer your
      question later by replying your comment. You and your teacher can then use
      the comments area as a thread to follow up the question.</p>
  </div>
</div>

<!-- The HTML code of the student-template page -->
<div style="width: 100%">

  <p style="color: brown; text-align: center; font-size: 24px">My Course
    Work Home</p>
  <img
    src="https://sites.google.com/a/greatwallchineseacademy.org/site-media-lib/images/course-work.jpg"
    style="display: block; margin-right: auto; margin-left: auto; width: 400px; border: 0">
  <br>

  <table
    style="border-collapse: collapse; border-color: rgb(136, 136, 136); margin-right: auto; margin-left: auto; width: 80%; border-width: 1px">
    <tbody>
      <tr>
        <td style="width: 50%">
          <div>
            <img class="sites-placeholder-subpages"
              src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BPage+listing'%3D20'f%5Cv'a%5C%3D0'10'%3D499'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B%22Subpage+Listing%22'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D500'%3D297'dim'%5C%3D10'%3D10'%3D500'%3D297'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C&amp;sig=lxEPbO98PQKCTIgDHMqrwU0hJD8"
              data-type="subpages"
              data-props="align:left;borderTitle:Subpage Listing;displayAs:gadget;maxDepth:6;rootPage:THIS_PAGE"
              style="display: block; text-align: left; margin-right: auto;"
              height="220" width="100%">
          </div>
        </td>

        <td style="width: 50%">
          <div dir="ltr">
            <div style="border: 1px dotted #e6e6e6; margin-top: 5px">
              <div
                style="color: DarkBlue; background-color: #e6e6e6; border: 6px solid #e6e6e6; margin-bottom: 4px; font-size: 12px; text-align: left; font-weight: bold">
                Recently Assigned Homework</div>
              <div>
                <img
                  src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BGoogle+Apps+Script%27%3D20%27f%5Cv%27a%5C%3D0%2710%27%3D499%270%27dim%27%5Cbox1%27b%5CF6F6F6%27fC%5CF6F6F6%27eC%5C0%27sk%27%5C%5B%22Apps+Script+Gadget%22%27%5D%27a%5CV%5C%3D12%27f%5C%5DV%5Cta%5C%3D10%27%3D0%27%3D500%27%3D217%27dim%27%5C%3D10%27%3D10%27%3D500%27%3D217%27vdim%27%5Cbox1%27b%5Cva%5CF6F6F6%27fC%5CC8C8C8%27eC%5C%27a%5C%5Do%5CLauto%27f%5C&amp;sig=yd5LJzifwrGiFE-ywuGGvLSdoVg"
                  data-origsrc="https://sites.google.com/a/macros/greatwallchineseacademy.org/s/AKfycbwNZLtRqJLUaDdxmS91vVrKnn52GIz4XBnVSxVi5g/exec"
                  data-type="maestro"
                  data-props="align:left;borderTitle:Apps Script Gadget;height:220;showBorder:false;showBorderTitle:false;wrap:false;"
                  style="display: block; text-align: left; margin-right: auto;"
                  height="220" width="100%">
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="display: block; text-align: center; margin-top: 30px">
    <img
      src="https://sites.google.com/a/greatwallchineseacademy.org/site-media-lib/images/pencils.jpg"
      style="width: 75%; display: block; margin-right: auto; margin-left: auto; text-align: center"
      border="0">
  </div>
</div>
