
<div style="width: 100%; float: left; display: block; font-size: 18px;">
	<div style="width: 70%; margin: 10px auto 20px auto">
		<p style="color: brown; font-weight: bold; font-size: 22px">Homework
			Editor</p>

		<p>
			Use this <a
				href="https://sites.google.com/a/greatwallchineseacademy.org/course-work/teacher-utilities/homework-editor"><b>EDITOR</b></a>
			to create and edit homework for different courses with a list of
			homework templates.
		</p>
	</div>

	<div style="width: 70%; margin: 10px auto 20px auto">
		<p style="color: brown; font-weight: bold; font-size: 22px">Homework
			Manager</p>

		<p>
			Use this <a
				href="https://sites.google.com/a/greatwallchineseacademy.org/course-work/teacher-utilities/homework-manager"><b>MANAGER</b></a>
			to assign homework, notify the members of the class, manage the
			student's course work pages.
		</p>
	</div>

	<div style="width: 70%; margin: 10px auto 20px auto;">
		<p style="color: brown; font-weight: bold; font-size: 22px">Managing
			Classes and Members</p>
		<ol>
			<li>
				<p>
					To add a new school member (student, teacher, TA or admin), open
					the <a target='_blank'
						href='https://drive.google.com/open?id=1fAoO5y0gQjp_pQjBdhR6iTsgT94o_60Hg3py_2JD'><b>MEMBERS</b></a>
					table and add a new row to the table. Make sure the value of the
					'isActive' column is set to 'true' if the new member is active.
				</p>
			</li>
			<li>
				<p>
					To edit an existing school member, open the <a target='_blank'
						href='https://drive.google.com/open?id=1fAoO5y0gQjp_pQjBdhR6iTsgT94o_60Hg3py_2JD'><b>MEMBERS</b></a>
					table and select the member's row to edit. Don't delete the row,
					change the 'isActive' column to 'false' if the member is not active
					anymore.
				</p>
			</li>
			<li>
				<p>
					To add or edit a class, open the <a target='_blank'
						href='https://drive.google.com/open?id=1xEaOd5z4QgoY6NDC94ayULPF4TiSFi8eRlHB5VRs'><b>CLASSES</b></a>
					table to add a new or edit an existing class. Don't delete the row,
					change the 'isActive' column to 'false' if the class is not active
					anymore. When a new class is added and turned to active, the
					information of the active class will show up in the landing page.
					Use Homework Manager tool to create a homework page for all the new
					members after all.
				</p>
			<li><p>
					Similarly, open the <a target='_blank'
						href='https://drive.google.com/open?id=11kABL6CjhwldRFSGIkZAsD7KvXztj0VyHiJLpKEO'><b>COURSES</b></a>
					table to add or edit a course.
				</p></li>
		</ol>
	</div>
</div>
