
<div id='about-me' style="border: 0; width: 60%; float: left;">
  <div style="width: 70%; float: left">
    <blockquote style="font-size: 18px; font-family: Times; font-style: normal">
      <dl>
        <dt>
          Full Name:&nbsp;
          <span style='font-weight: bold'>FULL-NAME</span>
        </dt>
        <dt>
          Chinese Name:&nbsp;
          <span style='font-family: SimSun; font-weight: bold'>CHINESE-NAME</span>
        </dt>
        <dt>
          Email:&nbsp;&nbsp;
          <span style='font-weight: bold'>EMAIL</span>
        </dt>
      </dl>
    </blockquote>
  </div>
  <div style="width: 30%; float: left">
    <p>
      <img border="0"
        src="https://sites.google.com/a/greatwallchineseacademy.org/site-media-lib/images/profile-picture.png">
    </p>
  </div>
</div>
